_archive/workflows-old/WF00A-registration.json
{
  "name": "00 — User Registration",
  "nodes": [
    {
      "parameters": {"updates": ["message"]},
      "id": "tg-trigger", "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger", "typeVersion": 1.1, "position": [180, 300],
      "webhookId": "coprem-registration-001",
      "credentials": {"telegramApi": {"id": "GurqCkf7bspE33VZ", "name": "Coprem Bot"}}
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const msg = $input.first().json.message;\nconst text = msg.text || '';\nconst chat_id = msg.chat.id;\nconst first_name = msg.from.first_name || 'Unknown';\nconst username = msg.from.username || '';\n\nif (!text.startsWith('/start')) return [];\n\nreturn [{ json: { chat_id, first_name, username, is_start: true } }];"
      },
      "id": "check-start", "name": "Check /start",
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [420, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO users (chat_id, first_name, username, status) VALUES ({{ $json.chat_id }}, '{{ $json.first_name }}', '{{ $json.username }}', 'pending') ON CONFLICT (chat_id) DO NOTHING; SELECT status FROM users WHERE chat_id = {{ $json.chat_id }};",
        "additionalFields": {}
      },
      "id": "save-user", "name": "Save to DB",
      "type": "n8n-nodes-base.postgres", "typeVersion": 2.5, "position": [660, 300],
      "credentials": {"postgres": {"id": "coprem-postgres", "name": "COPREM Postgres"}}
    },
    {
      "parameters": {
        "chatId": "7731591925",
        "text": "=🔔 New Registration Request\n\nName: {{ $('Check /start').item.json.first_name }}\nUsername: @{{ $('Check /start').item.json.username }}\nChat ID: {{ $('Check /start').item.json.chat_id }}\n\nReply with:\nAPPROVE {{ $('Check /start').item.json.chat_id }}\nor\nREJECT {{ $('Check /start').item.json.chat_id }}",
        "additionalFields": {}
      },
      "id": "notify-prem", "name": "Notify Prem",
      "type": "n8n-nodes-base.telegram", "typeVersion": 1.2, "position": [900, 200],
      "credentials": {"telegramApi": {"id": "GurqCkf7bspE33VZ", "name": "Coprem Bot"}}
    },
    {
      "parameters": {
        "chatId": "={{ $('Check /start').item.json.chat_id }}",
        "text": "สวัสดีครับ {{ $('Check /start').item.json.first_name }} 👋\n\nส่งคำขอเข้าใช้งาน COPREM แล้ว รอ Prem อนุมัติก่อนนะครับ",
        "additionalFields": {}
      },
      "id": "reply-user", "name": "Reply to User",
      "type": "n8n-nodes-base.telegram", "typeVersion": 1.2, "position": [900, 400],
      "credentials": {"telegramApi": {"id": "GurqCkf7bspE33VZ", "name": "Coprem Bot"}}
    }
  ],
  "connections": {
    "Telegram Trigger": {"main": [[{"node": "Check /start", "type": "main", "index": 0}]]},
    "Check /start": {"main": [[{"node": "Save to DB", "type": "main", "index": 0}]]},
    "Save to DB": {
      "main": [[
        {"node": "Notify Prem", "type": "main", "index": 0},
        {"node": "Reply to User", "type": "main", "index": 0}
      ]]
    }
  },
  "settings": {"executionOrder": "v1"}, "staticData": null, "tags": []
}
