English/system/n8n/exports/COPREM-MVP.json
{
  "name": "COPREM-MVP",
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-flash-latest",
          "mode": "list",
          "cachedResultName": "models/gemini-flash-latest"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.message.text }}"
            },
            {
              "content": "You are Jeff, INTJ Executive Partner. Answer concisely in Thai. Be decisive.",
              "role": "model"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        -128,
        -176
      ],
      "id": "ed7bbe1b-b059-49f0-96c5-8c608da81ee6",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "9FJ51Lat8pnJ2qAc",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n  let text = '';\n  if (data.text) {\n    text = data.text;\n  } else if (data.content && data.content.parts)\n  {\n    text = data.content.parts\n      .map(p => p.text || '')\n      .join('')\n      .trim();\n  }\n  return [{ json: { reply: text } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        -176
      ],
      "id": "60554761-1c97-4467-93b6-0169718d5eb1",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -368,
        -176
      ],
      "id": "fbb1b2c7-1147-488e-a6ad-dc013b41f2a7",
      "name": "Telegram Trigger",
      "webhookId": "f101f08c-430f-49f9-a94c-605d498b6410",
      "credentials": {
        "telegramApi": {
          "id": "TPn8Dgp7NrhSD6Az",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.reply }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        384,
        -176
      ],
      "id": "501d4a43-4b2c-4fc4-8c06-0722fc7d06b1",
      "name": "Send a text message",
      "webhookId": "9dfea075-4f1d-4f61-8f00-71e98d838a37",
      "credentials": {
        "telegramApi": {
          "id": "TPn8Dgp7NrhSD6Az",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 99049903,
          "message": {
            "message_id": 8,
            "from": {
              "id": 7731591925,
              "is_bot": false,
              "first_name": "Domino",
              "language_code": "en"
            },
            "chat": {
              "id": 7731591925,
              "first_name": "Domino",
              "type": "private"
            },
            "date": 1780149698,
            "text": "Hello"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a4f33e3f-c633-4ea2-b5db-aa96649994ea",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0bddf04c3d6860525db09b10288f80c0632cf1ab09b153f16cc9abed27bb5a41"
  },
  "id": "Zcwm5tslSCMeCnhM",
  "tags": []
}