services/job/workflows/exports/WF01 — Inbox Receiver (Single Entry).json
{"updatedAt":"2026-06-07T14:13:03.389Z","createdAt":"2026-06-07T14:13:03.389Z","id":"nr0FmEtGGjDEAtei","name":"WF01 — Inbox Receiver (Single Entry)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"telegram-coprem","options":{}},"id":"tg-trigger","name":"Telegram Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[208,400],"webhookId":"c0pr3m00000000000000000000000000"},{"parameters":{"jsCode":"// L1-A Preprocessor v6 — A1/A2/B1/B2/C1 commands added\nconst triggerData = $('Telegram Trigger').first().json;\nconst msg = triggerData.body?.message || triggerData.message || {};\nconst rawText = msg.text || msg.caption || '';\nconst userId = msg.from?.id || 0;\nconst chatId = msg.chat?.id || userId;\n\nfunction simpleHash(str) {\n  let hash = 5381;\n  for (let i = 0; i < str.length; i++) {\n    hash = ((hash << 5) + hash) + str.charCodeAt(i);\n    hash = hash & hash;\n  }\n  return Math.abs(hash).toString(16);\n}\n\nlet text = rawText.slice(0, 2000).replace(/\\x00/g, '').replace(/`/g, \"'\");\n\nconst INJECTION_PATTERNS = [\n  /ignore previous/i, /forget instructions/i, /you are now/i,\n  /disregard/i, /act as/i, /jailbreak/i, /override/i\n];\nconst injection_detected = INJECTION_PATTERNS.some(p => p.test(text));\n\nconst content_clean = text.trim().replace(/\\s+/g, ' ');\nconst thaiRegex = /[฀-๿]/;\nconst lang_detected = thaiRegex.test(content_clean) ? 'th' : 'en';\nconst msgId = msg.message_id || 0;\nconst msg_hash = simpleHash(`${userId}:${msgId}:${content_clean}`);\n\nif (content_clean === '__ping__') return [];\n\n// ── Command Detection ─────────────────────────────────────────\nlet msg_type = 'chat';\nlet commandArgs = '';\nlet commandMeta = {};\n\nif (rawText.startsWith('/start'))   msg_type = 'start';\nelse if (rawText.startsWith('/save'))    { msg_type = 'save';    commandArgs = rawText.replace(/^\\/save\\s*/i, '').trim(); }\nelse if (rawText.startsWith('/rate'))    { msg_type = 'feedback'; }\nelse if (rawText.startsWith('/caption')) { msg_type = 'caption'; commandArgs = rawText.replace(/^\\/caption\\s*/i, '').trim(); }\nelse if (rawText.startsWith('/desc'))    { msg_type = 'description'; commandArgs = rawText.replace(/^\\/desc\\s*/i, '').trim(); }\nelse if (rawText.startsWith('/kol'))     { msg_type = 'kol'; commandArgs = rawText.replace(/^\\/kol\\s*/i, '').trim(); }\nelse if (rawText.startsWith('/campaign')){ msg_type = 'campaign'; commandArgs = rawText.replace(/^\\/campaign\\s*/i, '').trim(); }\nelse if (rawText.startsWith('/report'))  { msg_type = 'report'; }\nelse if (rawText.toUpperCase() === 'APPROVE' || rawText.toUpperCase() === 'REJECT') msg_type = 'approval';\n\n// Parse brand flag: --batiste or --scrubdaddy\nconst brandMatch = commandArgs.match(/--?(batiste|scrubdaddy|scrub[_-]?daddy)/i);\nconst brand = brandMatch\n  ? (brandMatch[1].toLowerCase().includes('scrub') ? 'scrub_daddy' : 'batiste')\n  : 'batiste';\nconst cleanArgs = commandArgs.replace(/--?(batiste|scrubdaddy|scrub[_-]?daddy)/i, '').trim();\n\n// Parse budget flag: --budget=50000 or --budget 50000\nconst budgetMatch = commandArgs.match(/--?budget[=\\s](\\d+)/i);\nconst budget_thb = budgetMatch ? parseInt(budgetMatch[1]) : null;\n\ncommandMeta = { brand, budget_thb, args: cleanArgs };\n\nreturn [{ pairedItem: { item: 0 }, json: {\n  content_raw: rawText,\n  content_clean,\n  text: content_clean,\n  lang_detected,\n  isThai: lang_detected === 'th',\n  msg_hash,\n  hash: msg_hash,\n  msg_type,\n  isStart:       msg_type === 'start',\n  isApproval:    msg_type === 'approval',\n  isSave:        msg_type === 'save',\n  isCaption:     msg_type === 'caption',\n  isDescription: msg_type === 'description',\n  isKol:         msg_type === 'kol',\n  isCampaign:    msg_type === 'campaign',\n  isReport:      msg_type === 'report',\n  isChat:        msg_type === 'chat',\n  isCommand:     ['caption','description','kol','campaign','report','save'].includes(msg_type),\n  saveContent:   msg_type === 'save' ? rawText.replace(/^\\/save\\s*/i, '').trim() : '',\n  commandArgs:   cleanArgs,\n  commandMeta,\n  user_id: userId, userId,\n  chat_id: chatId, chatId,\n  firstName: msg.from?.first_name || '',\n  username: msg.from?.username || '',\n  preprocessed_at: new Date().toISOString(),\n  injection_detected\n} }];\n"},"id":"l1a-preprocess","name":"L1-A Preprocessor","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,400]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO dedup_cache (hash) VALUES ('{{ $json.hash }}') ON CONFLICT DO NOTHING; SELECT COUNT(*) as is_new FROM dedup_cache WHERE hash='{{ $json.hash }}' AND created_at > NOW() - INTERVAL '60 seconds';","options":{}},"id":"check-dedup","name":"Dedup Check","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[688,400],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.isStart }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"registration"},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.isApproval }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"approval"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"combinator":"and","conditions":[{"id":"c-caption","leftValue":"={{ $json.msg_type }}","rightValue":"caption","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"caption"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"combinator":"and","conditions":[{"id":"c-description","leftValue":"={{ $json.msg_type }}","rightValue":"description","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"description"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"combinator":"and","conditions":[{"id":"c-kol","leftValue":"={{ $json.msg_type }}","rightValue":"kol","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"kol"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"combinator":"and","conditions":[{"id":"c-campaign","leftValue":"={{ $json.msg_type }}","rightValue":"campaign","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"campaign"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"combinator":"and","conditions":[{"id":"c-report","leftValue":"={{ $json.msg_type }}","rightValue":"report","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"report"},{"conditions":{"options":{"caseSensitive":false},"conditions":[{"leftValue":"={{ $json.msg_type !== undefined }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"chat"}]},"options":{}},"id":"route-type","name":"Route by Type","type":"n8n-nodes-base.switch","typeVersion":3,"position":[928,400]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO users (chat_id, first_name, username, status) VALUES ({{ $json.chatId }}, '{{ $json.firstName }}', '{{ $json.username }}', 'pending') ON CONFLICT (chat_id) DO NOTHING; SELECT status FROM users WHERE chat_id={{ $json.chatId }};","options":{}},"id":"reg-check","name":"Check Existing User","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1168,208],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}}},{"parameters":{"chatId":"7731591925","text":"=🔔 New Registration\n\nName: {{ $json.firstName }}\nUsername: @{{ $json.username }}\nChat ID: {{ $json.chatId }}\n\nReply:\nAPPROVE {{ $json.chatId }}\nor REJECT {{ $json.chatId }}","additionalFields":{}},"id":"reg-notify-jeff","name":"Notify Jeff","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1408,128],"webhookId":"7015995c-8e4c-47bd-8a5e-12aab6bc71aa","credentials":{"telegramApi":{"id":"bekevyLkkiivHo0L","name":"Telegram Bot"}}},{"parameters":{"chatId":"={{ $json.chatId }}","text":"✅ ได้รับคำขอแล้วครับ กรุณารอการอนุมัติจาก Jeff","additionalFields":{}},"id":"reg-reply-user","name":"Reply to Applicant","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1408,272],"webhookId":"b35a1b80-4e15-4172-9d3b-f7394b8b91fc","credentials":{"telegramApi":{"id":"bekevyLkkiivHo0L","name":"Telegram Bot"}}},{"parameters":{"jsCode":"const text = $json.text.toUpperCase();\nconst parts = text.split(' ');\nconst action = parts[0];\nconst targetId = parseInt(parts[1]);\nconst newStatus = action === 'APPROVE' ? 'approved' : 'rejected';\nreturn [{ json: { action, targetId, newStatus } }];"},"id":"approval-parse","name":"Parse Approval","type":"n8n-nodes-base.code","typeVersion":2,"position":[1168,400]},{"parameters":{"operation":"executeQuery","query":"UPDATE users SET status='{{ $json.newStatus }}', approved_at=NOW() WHERE chat_id={{ $json.targetId }}; SELECT chat_id, first_name, status FROM users WHERE chat_id={{ $json.targetId }};","options":{}},"id":"approval-update","name":"Update User Status","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1408,400],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}}},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.status === 'approved' ? '✅ ได้รับอนุมัติแล้วครับ! ส่งข้อความมาได้เลย' : '❌ ขออภัย คำขอถูกปฏิเสธครับ' }}","additionalFields":{}},"id":"approval-notify","name":"Notify User of Decision","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1648,400],"webhookId":"703db362-648a-472a-b324-a032c7c33c88","credentials":{"telegramApi":{"id":"bekevyLkkiivHo0L","name":"Telegram Bot"}}},{"parameters":{"operation":"executeQuery","query":"SELECT status FROM users WHERE chat_id={{ $json.chatId }} LIMIT 1;","options":{}},"id":"check-approved","name":"Check User Approved","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1168,608],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c1","leftValue":"={{ $json.status }}","rightValue":"approved","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"is-approved","name":"Approved?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1408,608]},{"parameters":{"method":"POST","url":"http://03-system-litellm-1:4000/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ 'Bearer ' + $env.LITELLM_MASTER_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\"model\": \"groq/llama-3.3-70b\", \"messages\": [{\"role\": \"system\", \"content\": \"You are Jeff, INTJ Executive Partner for COPREM OS.\\nScope: JOB pillar only (marketing ops, operational data).\\nDomain boundary: Never use EGO ERA lore terms or trading math in JOB outputs.\\nInternal language: English. Reports: concise Thai.\\nNever show raw data or tool chatter to Prem.\\nEvery response ends with: { \\\"prompt_version\\\": \\\"jeff-v2.1\\\", \\\"kb05_refs\\\": [] }\"}, {\"role\": \"user\", \"content\": \"={{ $('Merge L1A Data').first().json.text }}\"}], \"max_tokens\": 800, \"temperature\": 0.7}","options":{}},"id":"dify-router","name":"Dify Smart Router","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1648,528]},{"parameters":{"jsCode":"const data = $input.first().json;\n// LiteLLM OpenAI-compatible format: choices[0].message.content\n// Dify format: data.answer\nlet reply = (data.choices && data.choices[0] && data.choices[0].message)\n  ? data.choices[0].message.content\n  : (data.answer || data.text || 'ขออภัย ไม่สามารถตอบได้ตอนนี้ครับ');\n\n// Strip JSON metadata from end if present\nreply = reply.replace(/\\{\\s*\"prompt_version\"[^}]+\\}/g, '').trim();\nif (reply.length > 4096) reply = reply.substring(0, 4090) + '...[ต่อ]';\nconst agent = 'jeff-v2.1';\nreturn [{ pairedItem: { item: 0 }, json: { reply_text: reply, agent } }];"},"id":"l25-normalize","name":"L2.5 Normalize Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[1888,528]},{"parameters":{"chatId":"={{ $('Merge L1A Data').first().json.chatId }}","text":"={{ $json.reply_text }}","additionalFields":{}},"id":"send-reply","name":"Send Reply","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2128,528],"webhookId":"b2ecc497-eaf3-4834-af1d-7cf06132f6ca","credentials":{"telegramApi":{"id":"bekevyLkkiivHo0L","name":"Telegram Bot"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO inbox_log (user_id, content_raw, content_clean, lang_detected, msg_hash, agent, status) VALUES (0, 'logged', 'logged', 'th', 'hash', 'jeff', 'ok') ON CONFLICT DO NOTHING;","options":{}},"id":"log-inbox","name":"Log to Inbox","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2464,528],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}},"onError":"continueRegularOutput"},{"parameters":{"chatId":"={{ $json.chatId }}","text":"❌ คุณยังไม่ได้รับอนุมัติครับ กรุณาส่ง /start เพื่อสมัครก่อน","additionalFields":{}},"id":"not-approved","name":"Not Approved Reply","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1648,704],"webhookId":"6d11859e-5938-4aa4-9946-f72d5e3efdd8","credentials":{"telegramApi":{"id":"bekevyLkkiivHo0L","name":"Telegram Bot"}}},{"parameters":{"method":"POST","url":"http://localhost:5678/webhook/session-read","sendBody":true,"bodyParameters":{"parameters":[{"name":"channel_type","value":"telegram"},{"name":"channel_id","value":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},{"name":"user_id","value":"={{ $('Telegram Trigger').item.json.message.from.id }}"},{"name":"user_message","value":"={{ $json.content_clean }}"}]},"options":{}},"id":"l15-read","name":"L1.5 — Read Session Context","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,528]},{"parameters":{"method":"POST","url":"http://localhost:5678/webhook/session-write","sendBody":true,"bodyParameters":{"parameters":[{"name":"session_key","value":"=session:telegram:{{ $('Telegram Trigger').item.json.message.chat.id }}:{{ $('Telegram Trigger').item.json.message.from.id }}"},{"name":"user_message","value":"={{ $json.content_clean }}"},{"name":"agent_reply","value":"={{ $('L2.5 Normalize Output').item.json.reply_text }}"}]},"options":{}},"id":"l15-write","name":"L1.5 — Write Session Turn","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2304,528]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO audit_log (event_type, source_ip, source, payload, timestamp) VALUES ('WEBHOOK_RECEIVED', NULL, 'telegram', '{}'::jsonb, NOW()) ON CONFLICT DO NOTHING;","options":{}},"id":"l7-audit-received","name":"L7 — Audit WEBHOOK_RECEIVED","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[320,400],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"SELECT COUNT(*) as blocked FROM blocked_ips WHERE ip = '{{ $('Telegram Trigger').item.json.message.from.id.toString() }}' AND (expires_at IS NULL OR expires_at > NOW());","options":{}},"id":"l7-blocked-check","name":"L7 — Check Blocked User","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[560,400],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"blocked-check","leftValue":"={{ $json.blocked }}","rightValue":"0","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"l7-blocked-gate","name":"L7 — Blocked Gate","type":"n8n-nodes-base.if","typeVersion":2,"position":[800,400]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO audit_log (event_type, source, payload, timestamp) VALUES ('AGENT_OUTPUT', 'jeff', '{}'::jsonb, NOW()) ON CONFLICT DO NOTHING;","options":{}},"id":"l7-audit-output","name":"L7 — Audit AGENT_OUTPUT","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2000,528],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}},"onError":"continueRegularOutput"},{"id":"merge-l1a","name":"Merge L1A Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,400],"parameters":{"jsCode":"const l1a = $('L1-A Preprocessor').first().json;\nconst dedup = $input.first().json;\nreturn [{ pairedItem: { item: 0 }, json: { ...l1a, is_new: dedup.is_new } }];"}}],"connections":{"Telegram Trigger":{"main":[[{"node":"L7 — Audit WEBHOOK_RECEIVED","type":"main","index":0}]]},"L1-A Preprocessor":{"main":[[{"node":"Dedup Check","type":"main","index":0}]]},"Dedup Check":{"main":[[{"node":"Merge L1A Data","type":"main","index":0}]]},"Route by Type":{"main":[[{"node":"Check Existing User","type":"main","index":0}],[{"node":"Parse Approval","type":"main","index":0}],[{"node":"Check User Approved","type":"main","index":0}],[{"node":"Check User Approved","type":"main","index":0}],[{"node":"Check User Approved","type":"main","index":0}],[{"node":"Check User Approved","type":"main","index":0}],[{"node":"Check User Approved","type":"main","index":0}],[{"node":"Check User Approved","type":"main","index":0}]]},"Check Existing User":{"main":[[{"node":"Notify Jeff","type":"main","index":0},{"node":"Reply to Applicant","type":"main","index":0}]]},"Parse Approval":{"main":[[{"node":"Update User Status","type":"main","index":0}]]},"Update User Status":{"main":[[{"node":"Notify User of Decision","type":"main","index":0}]]},"Check User Approved":{"main":[[{"node":"Approved?","type":"main","index":0}]]},"Approved?":{"main":[[{"node":"L1.5 — Read Session Context","type":"main","index":0}],[{"node":"Not Approved Reply","type":"main","index":0}]]},"Dify Smart Router":{"main":[[{"node":"L2.5 Normalize Output","type":"main","index":0}]]},"L2.5 Normalize Output":{"main":[[{"node":"L7 — Audit AGENT_OUTPUT","type":"main","index":0}]]},"Send Reply":{"main":[[{"node":"L1.5 — Write Session Turn","type":"main","index":0}]]},"L1.5 — Read Session Context":{"main":[[{"node":"Dify Smart Router","type":"main","index":0}]]},"L1.5 — Write Session Turn":{"main":[[{"node":"Log to Inbox","type":"main","index":0}]]},"L7 — Audit WEBHOOK_RECEIVED":{"main":[[{"node":"L7 — Check Blocked User","type":"main","index":0}]]},"L7 — Check Blocked User":{"main":[[{"node":"L7 — Blocked Gate","type":"main","index":0}]]},"L7 — Blocked Gate":{"main":[[{"node":"L1-A Preprocessor","type":"main","index":0}],[]]},"L7 — Audit AGENT_OUTPUT":{"main":[[{"node":"Send Reply","type":"main","index":0}]]},"Merge L1A Data":{"main":[[{"node":"Route by Type","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"69160092-c475-4ad7-8424-50d9442585ce","activeVersionId":"69160092-c475-4ad7-8424-50d9442585ce","versionCounter":1,"triggerCount":1,"shared":[{"updatedAt":"2026-06-07T14:13:03.389Z","createdAt":"2026-06-07T14:13:03.389Z","role":"workflow:owner","workflowId":"nr0FmEtGGjDEAtei","projectId":"zcgfC5I8AUAr3U8J","project":{"updatedAt":"2026-05-30T20:55:56.474Z","createdAt":"2026-05-30T20:51:13.491Z","id":"zcgfC5I8AUAr3U8J","name":"Jeff COPREM <jooshdathumlong@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"12a7009a-8941-44c5-ba2c-39b02509ad3c"}}],"tags":[],"activeVersion":{"updatedAt":"2026-06-07T14:13:03.389Z","createdAt":"2026-06-07T14:13:03.389Z","versionId":"69160092-c475-4ad7-8424-50d9442585ce","workflowId":"nr0FmEtGGjDEAtei","nodes":[{"parameters":{"httpMethod":"POST","path":"telegram-coprem","options":{}},"id":"tg-trigger","name":"Telegram Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[208,400],"webhookId":"c0pr3m00000000000000000000000000"},{"parameters":{"jsCode":"// L1-A Preprocessor v6 — A1/A2/B1/B2/C1 commands added\nconst triggerData = $('Telegram Trigger').first().json;\nconst msg = triggerData.body?.message || triggerData.message || {};\nconst rawText = msg.text || msg.caption || '';\nconst userId = msg.from?.id || 0;\nconst chatId = msg.chat?.id || userId;\n\nfunction simpleHash(str) {\n  let hash = 5381;\n  for (let i = 0; i < str.length; i++) {\n    hash = ((hash << 5) + hash) + str.charCodeAt(i);\n    hash = hash & hash;\n  }\n  return Math.abs(hash).toString(16);\n}\n\nlet text = rawText.slice(0, 2000).replace(/\\x00/g, '').replace(/`/g, \"'\");\n\nconst INJECTION_PATTERNS = [\n  /ignore previous/i, /forget instructions/i, /you are now/i,\n  /disregard/i, /act as/i, /jailbreak/i, /override/i\n];\nconst injection_detected = INJECTION_PATTERNS.some(p => p.test(text));\n\nconst content_clean = text.trim().replace(/\\s+/g, ' ');\nconst thaiRegex = /[฀-๿]/;\nconst lang_detected = thaiRegex.test(content_clean) ? 'th' : 'en';\nconst msgId = msg.message_id || 0;\nconst msg_hash = simpleHash(`${userId}:${msgId}:${content_clean}`);\n\nif (content_clean === '__ping__') return [];\n\n// ── Command Detection ─────────────────────────────────────────\nlet msg_type = 'chat';\nlet commandArgs = '';\nlet commandMeta = {};\n\nif (rawText.startsWith('/start'))   msg_type = 'start';\nelse if (rawText.startsWith('/save'))    { msg_type = 'save';    commandArgs = rawText.replace(/^\\/save\\s*/i, '').trim(); }\nelse if (rawText.startsWith('/rate'))    { msg_type = 'feedback'; }\nelse if (rawText.startsWith('/caption')) { msg_type = 'caption'; commandArgs = rawText.replace(/^\\/caption\\s*/i, '').trim(); }\nelse if (rawText.startsWith('/desc'))    { msg_type = 'description'; commandArgs = rawText.replace(/^\\/desc\\s*/i, '').trim(); }\nelse if (rawText.startsWith('/kol'))     { msg_type = 'kol'; commandArgs = rawText.replace(/^\\/kol\\s*/i, '').trim(); }\nelse if (rawText.startsWith('/campaign')){ msg_type = 'campaign'; commandArgs = rawText.replace(/^\\/campaign\\s*/i, '').trim(); }\nelse if (rawText.startsWith('/report'))  { msg_type = 'report'; }\nelse if (rawText.toUpperCase() === 'APPROVE' || rawText.toUpperCase() === 'REJECT') msg_type = 'approval';\n\n// Parse brand flag: --batiste or --scrubdaddy\nconst brandMatch = commandArgs.match(/--?(batiste|scrubdaddy|scrub[_-]?daddy)/i);\nconst brand = brandMatch\n  ? (brandMatch[1].toLowerCase().includes('scrub') ? 'scrub_daddy' : 'batiste')\n  : 'batiste';\nconst cleanArgs = commandArgs.replace(/--?(batiste|scrubdaddy|scrub[_-]?daddy)/i, '').trim();\n\n// Parse budget flag: --budget=50000 or --budget 50000\nconst budgetMatch = commandArgs.match(/--?budget[=\\s](\\d+)/i);\nconst budget_thb = budgetMatch ? parseInt(budgetMatch[1]) : null;\n\ncommandMeta = { brand, budget_thb, args: cleanArgs };\n\nreturn [{ pairedItem: { item: 0 }, json: {\n  content_raw: rawText,\n  content_clean,\n  text: content_clean,\n  lang_detected,\n  isThai: lang_detected === 'th',\n  msg_hash,\n  hash: msg_hash,\n  msg_type,\n  isStart:       msg_type === 'start',\n  isApproval:    msg_type === 'approval',\n  isSave:        msg_type === 'save',\n  isCaption:     msg_type === 'caption',\n  isDescription: msg_type === 'description',\n  isKol:         msg_type === 'kol',\n  isCampaign:    msg_type === 'campaign',\n  isReport:      msg_type === 'report',\n  isChat:        msg_type === 'chat',\n  isCommand:     ['caption','description','kol','campaign','report','save'].includes(msg_type),\n  saveContent:   msg_type === 'save' ? rawText.replace(/^\\/save\\s*/i, '').trim() : '',\n  commandArgs:   cleanArgs,\n  commandMeta,\n  user_id: userId, userId,\n  chat_id: chatId, chatId,\n  firstName: msg.from?.first_name || '',\n  username: msg.from?.username || '',\n  preprocessed_at: new Date().toISOString(),\n  injection_detected\n} }];\n"},"id":"l1a-preprocess","name":"L1-A Preprocessor","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,400]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO dedup_cache (hash) VALUES ('{{ $json.hash }}') ON CONFLICT DO NOTHING; SELECT COUNT(*) as is_new FROM dedup_cache WHERE hash='{{ $json.hash }}' AND created_at > NOW() - INTERVAL '60 seconds';","options":{}},"id":"check-dedup","name":"Dedup Check","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[688,400],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.isStart }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"registration"},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.isApproval }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"approval"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"combinator":"and","conditions":[{"id":"c-caption","leftValue":"={{ $json.msg_type }}","rightValue":"caption","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"caption"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"combinator":"and","conditions":[{"id":"c-description","leftValue":"={{ $json.msg_type }}","rightValue":"description","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"description"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"combinator":"and","conditions":[{"id":"c-kol","leftValue":"={{ $json.msg_type }}","rightValue":"kol","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"kol"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"combinator":"and","conditions":[{"id":"c-campaign","leftValue":"={{ $json.msg_type }}","rightValue":"campaign","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"campaign"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"combinator":"and","conditions":[{"id":"c-report","leftValue":"={{ $json.msg_type }}","rightValue":"report","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"report"},{"conditions":{"options":{"caseSensitive":false},"conditions":[{"leftValue":"={{ $json.msg_type !== undefined }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"chat"}]},"options":{}},"id":"route-type","name":"Route by Type","type":"n8n-nodes-base.switch","typeVersion":3,"position":[928,400]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO users (chat_id, first_name, username, status) VALUES ({{ $json.chatId }}, '{{ $json.firstName }}', '{{ $json.username }}', 'pending') ON CONFLICT (chat_id) DO NOTHING; SELECT status FROM users WHERE chat_id={{ $json.chatId }};","options":{}},"id":"reg-check","name":"Check Existing User","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1168,208],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}}},{"parameters":{"chatId":"7731591925","text":"=🔔 New Registration\n\nName: {{ $json.firstName }}\nUsername: @{{ $json.username }}\nChat ID: {{ $json.chatId }}\n\nReply:\nAPPROVE {{ $json.chatId }}\nor REJECT {{ $json.chatId }}","additionalFields":{}},"id":"reg-notify-jeff","name":"Notify Jeff","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1408,128],"webhookId":"7015995c-8e4c-47bd-8a5e-12aab6bc71aa","credentials":{"telegramApi":{"id":"bekevyLkkiivHo0L","name":"Telegram Bot"}}},{"parameters":{"chatId":"={{ $json.chatId }}","text":"✅ ได้รับคำขอแล้วครับ กรุณารอการอนุมัติจาก Jeff","additionalFields":{}},"id":"reg-reply-user","name":"Reply to Applicant","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1408,272],"webhookId":"b35a1b80-4e15-4172-9d3b-f7394b8b91fc","credentials":{"telegramApi":{"id":"bekevyLkkiivHo0L","name":"Telegram Bot"}}},{"parameters":{"jsCode":"const text = $json.text.toUpperCase();\nconst parts = text.split(' ');\nconst action = parts[0];\nconst targetId = parseInt(parts[1]);\nconst newStatus = action === 'APPROVE' ? 'approved' : 'rejected';\nreturn [{ json: { action, targetId, newStatus } }];"},"id":"approval-parse","name":"Parse Approval","type":"n8n-nodes-base.code","typeVersion":2,"position":[1168,400]},{"parameters":{"operation":"executeQuery","query":"UPDATE users SET status='{{ $json.newStatus }}', approved_at=NOW() WHERE chat_id={{ $json.targetId }}; SELECT chat_id, first_name, status FROM users WHERE chat_id={{ $json.targetId }};","options":{}},"id":"approval-update","name":"Update User Status","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1408,400],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}}},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.status === 'approved' ? '✅ ได้รับอนุมัติแล้วครับ! ส่งข้อความมาได้เลย' : '❌ ขออภัย คำขอถูกปฏิเสธครับ' }}","additionalFields":{}},"id":"approval-notify","name":"Notify User of Decision","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1648,400],"webhookId":"703db362-648a-472a-b324-a032c7c33c88","credentials":{"telegramApi":{"id":"bekevyLkkiivHo0L","name":"Telegram Bot"}}},{"parameters":{"operation":"executeQuery","query":"SELECT status FROM users WHERE chat_id={{ $json.chatId }} LIMIT 1;","options":{}},"id":"check-approved","name":"Check User Approved","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1168,608],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c1","leftValue":"={{ $json.status }}","rightValue":"approved","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"is-approved","name":"Approved?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1408,608]},{"parameters":{"method":"POST","url":"http://03-system-litellm-1:4000/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ 'Bearer ' + $env.LITELLM_MASTER_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\"model\": \"groq/llama-3.3-70b\", \"messages\": [{\"role\": \"system\", \"content\": \"You are Jeff, INTJ Executive Partner for COPREM OS.\\nScope: JOB pillar only (marketing ops, operational data).\\nDomain boundary: Never use EGO ERA lore terms or trading math in JOB outputs.\\nInternal language: English. Reports: concise Thai.\\nNever show raw data or tool chatter to Prem.\\nEvery response ends with: { \\\"prompt_version\\\": \\\"jeff-v2.1\\\", \\\"kb05_refs\\\": [] }\"}, {\"role\": \"user\", \"content\": \"={{ $('Merge L1A Data').first().json.text }}\"}], \"max_tokens\": 800, \"temperature\": 0.7}","options":{}},"id":"dify-router","name":"Dify Smart Router","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1648,528]},{"parameters":{"jsCode":"const data = $input.first().json;\n// LiteLLM OpenAI-compatible format: choices[0].message.content\n// Dify format: data.answer\nlet reply = (data.choices && data.choices[0] && data.choices[0].message)\n  ? data.choices[0].message.content\n  : (data.answer || data.text || 'ขออภัย ไม่สามารถตอบได้ตอนนี้ครับ');\n\n// Strip JSON metadata from end if present\nreply = reply.replace(/\\{\\s*\"prompt_version\"[^}]+\\}/g, '').trim();\nif (reply.length > 4096) reply = reply.substring(0, 4090) + '...[ต่อ]';\nconst agent = 'jeff-v2.1';\nreturn [{ pairedItem: { item: 0 }, json: { reply_text: reply, agent } }];"},"id":"l25-normalize","name":"L2.5 Normalize Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[1888,528]},{"parameters":{"chatId":"={{ $('Merge L1A Data').first().json.chatId }}","text":"={{ $json.reply_text }}","additionalFields":{}},"id":"send-reply","name":"Send Reply","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2128,528],"webhookId":"b2ecc497-eaf3-4834-af1d-7cf06132f6ca","credentials":{"telegramApi":{"id":"bekevyLkkiivHo0L","name":"Telegram Bot"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO inbox_log (user_id, content_raw, content_clean, lang_detected, msg_hash, agent, status) VALUES (0, 'logged', 'logged', 'th', 'hash', 'jeff', 'ok') ON CONFLICT DO NOTHING;","options":{}},"id":"log-inbox","name":"Log to Inbox","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2464,528],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}},"onError":"continueRegularOutput"},{"parameters":{"chatId":"={{ $json.chatId }}","text":"❌ คุณยังไม่ได้รับอนุมัติครับ กรุณาส่ง /start เพื่อสมัครก่อน","additionalFields":{}},"id":"not-approved","name":"Not Approved Reply","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1648,704],"webhookId":"6d11859e-5938-4aa4-9946-f72d5e3efdd8","credentials":{"telegramApi":{"id":"bekevyLkkiivHo0L","name":"Telegram Bot"}}},{"parameters":{"method":"POST","url":"http://localhost:5678/webhook/session-read","sendBody":true,"bodyParameters":{"parameters":[{"name":"channel_type","value":"telegram"},{"name":"channel_id","value":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},{"name":"user_id","value":"={{ $('Telegram Trigger').item.json.message.from.id }}"},{"name":"user_message","value":"={{ $json.content_clean }}"}]},"options":{}},"id":"l15-read","name":"L1.5 — Read Session Context","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,528]},{"parameters":{"method":"POST","url":"http://localhost:5678/webhook/session-write","sendBody":true,"bodyParameters":{"parameters":[{"name":"session_key","value":"=session:telegram:{{ $('Telegram Trigger').item.json.message.chat.id }}:{{ $('Telegram Trigger').item.json.message.from.id }}"},{"name":"user_message","value":"={{ $json.content_clean }}"},{"name":"agent_reply","value":"={{ $('L2.5 Normalize Output').item.json.reply_text }}"}]},"options":{}},"id":"l15-write","name":"L1.5 — Write Session Turn","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2304,528]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO audit_log (event_type, source_ip, source, payload, timestamp) VALUES ('WEBHOOK_RECEIVED', NULL, 'telegram', '{}'::jsonb, NOW()) ON CONFLICT DO NOTHING;","options":{}},"id":"l7-audit-received","name":"L7 — Audit WEBHOOK_RECEIVED","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[320,400],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"SELECT COUNT(*) as blocked FROM blocked_ips WHERE ip = '{{ $('Telegram Trigger').item.json.message.from.id.toString() }}' AND (expires_at IS NULL OR expires_at > NOW());","options":{}},"id":"l7-blocked-check","name":"L7 — Check Blocked User","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[560,400],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"blocked-check","leftValue":"={{ $json.blocked }}","rightValue":"0","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"l7-blocked-gate","name":"L7 — Blocked Gate","type":"n8n-nodes-base.if","typeVersion":2,"position":[800,400]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO audit_log (event_type, source, payload, timestamp) VALUES ('AGENT_OUTPUT', 'jeff', '{}'::jsonb, NOW()) ON CONFLICT DO NOTHING;","options":{}},"id":"l7-audit-output","name":"L7 — Audit AGENT_OUTPUT","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2000,528],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}},"onError":"continueRegularOutput"},{"id":"merge-l1a","name":"Merge L1A Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,400],"parameters":{"jsCode":"const l1a = $('L1-A Preprocessor').first().json;\nconst dedup = $input.first().json;\nreturn [{ pairedItem: { item: 0 }, json: { ...l1a, is_new: dedup.is_new } }];"}}],"connections":{"Telegram Trigger":{"main":[[{"node":"L7 — Audit WEBHOOK_RECEIVED","type":"main","index":0}]]},"L1-A Preprocessor":{"main":[[{"node":"Dedup Check","type":"main","index":0}]]},"Dedup Check":{"main":[[{"node":"Merge L1A Data","type":"main","index":0}]]},"Route by Type":{"main":[[{"node":"Check Existing User","type":"main","index":0}],[{"node":"Parse Approval","type":"main","index":0}],[{"node":"Check User Approved","type":"main","index":0}],[{"node":"Check User Approved","type":"main","index":0}],[{"node":"Check User Approved","type":"main","index":0}],[{"node":"Check User Approved","type":"main","index":0}],[{"node":"Check User Approved","type":"main","index":0}],[{"node":"Check User Approved","type":"main","index":0}]]},"Check Existing User":{"main":[[{"node":"Notify Jeff","type":"main","index":0},{"node":"Reply to Applicant","type":"main","index":0}]]},"Parse Approval":{"main":[[{"node":"Update User Status","type":"main","index":0}]]},"Update User Status":{"main":[[{"node":"Notify User of Decision","type":"main","index":0}]]},"Check User Approved":{"main":[[{"node":"Approved?","type":"main","index":0}]]},"Approved?":{"main":[[{"node":"L1.5 — Read Session Context","type":"main","index":0}],[{"node":"Not Approved Reply","type":"main","index":0}]]},"Dify Smart Router":{"main":[[{"node":"L2.5 Normalize Output","type":"main","index":0}]]},"L2.5 Normalize Output":{"main":[[{"node":"L7 — Audit AGENT_OUTPUT","type":"main","index":0}]]},"Send Reply":{"main":[[{"node":"L1.5 — Write Session Turn","type":"main","index":0}]]},"L1.5 — Read Session Context":{"main":[[{"node":"Dify Smart Router","type":"main","index":0}]]},"L1.5 — Write Session Turn":{"main":[[{"node":"Log to Inbox","type":"main","index":0}]]},"L7 — Audit WEBHOOK_RECEIVED":{"main":[[{"node":"L7 — Check Blocked User","type":"main","index":0}]]},"L7 — Check Blocked User":{"main":[[{"node":"L7 — Blocked Gate","type":"main","index":0}]]},"L7 — Blocked Gate":{"main":[[{"node":"L1-A Preprocessor","type":"main","index":0}],[]]},"L7 — Audit AGENT_OUTPUT":{"main":[[{"node":"Send Reply","type":"main","index":0}]]},"Merge L1A Data":{"main":[[{"node":"Route by Type","type":"main","index":0}]]}},"authors":"Jeff COPREM","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-07T14:13:04.481Z","id":362,"workflowId":"nr0FmEtGGjDEAtei","versionId":"69160092-c475-4ad7-8424-50d9442585ce","event":"activated","userId":"12a7009a-8941-44c5-ba2c-39b02509ad3c"}]}}