services/job/workflows/exports/WF01 — Inbox Receiver (Single Entry).json
{"updatedAt":"2026-05-31T18:09:42.315Z","createdAt":"2026-05-31T18:09:42.315Z","id":"jFq7aSFJQ7ElHoLZ","name":"WF01 — Inbox Receiver (Single Entry)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"telegram-coprem","options":{}},"id":"tg-trigger","name":"Telegram Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[208,400],"webhookId":"c0pr3m00000000000000000000000000"},{"parameters":{"jsCode":"// L1-A Preprocessor — no crypto module\nconst msg = $json.message || {};\nconst text = msg.text || msg.caption || '';\nconst userId = msg.from?.id || 0;\n\n// Simple hash without crypto: djb2 algorithm\nfunction simpleHash(str) {\n  let hash = 5381;\n  for (let i = 0; i < str.length; i++) {\n    hash = ((hash << 5) + hash) + str.charCodeAt(i);\n    hash = hash & hash; // 32bit int\n  }\n  return Math.abs(hash).toString(16);\n}\n\n// Clean text\nconst content_clean = text.trim().replace(/\\s+/g, ' ');\n\n// Language detection (Thai unicode range)\nconst thaiRegex = /[\\u0E00-\\u0E7F]/;\nconst lang_detected = thaiRegex.test(content_clean) ? 'th' : 'en';\n\n// Dedup hash\nconst msg_hash = simpleHash(`${userId}:${content_clean}`);\n\n// Detect message type\nlet msg_type = 'chat';\nif (text.startsWith('/start')) msg_type = 'start';\nelse if (text.startsWith('/rate')) msg_type = 'feedback';\nelse if (text.toUpperCase() === 'APPROVE' || text.toUpperCase() === 'REJECT') msg_type = 'approval';\n\nreturn {\n  content_raw: text,\n  content_clean,\n  lang_detected,\n  msg_hash,\n  msg_type,\n  user_id: userId,\n  chat_id: msg.chat?.id || 0,\n  username: msg.from?.username || '',\n  preprocessed_at: new Date().toISOString()\n};"},"id":"l1a-preprocess","name":"L1-A Preprocessor","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,400]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO dedup_cache (hash) VALUES ('{{ $json.hash }}') ON CONFLICT DO NOTHING; SELECT COUNT(*) as is_new FROM dedup_cache WHERE hash='{{ $json.hash }}' AND created_at > NOW() - INTERVAL '60 seconds';","options":{}},"id":"check-dedup","name":"Dedup Check","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[688,400],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('L1-A Preprocessor').item.json.isStart }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"registration"},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('L1-A Preprocessor').item.json.isApproval }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"approval"}]},"options":{}},"id":"route-type","name":"Route by Type","type":"n8n-nodes-base.switch","typeVersion":3,"position":[928,400]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO users (chat_id, first_name, username, status) VALUES ({{ $('L1-A Preprocessor').item.json.chatId }}, '{{ $('L1-A Preprocessor').item.json.firstName }}', '{{ $('L1-A Preprocessor').item.json.username }}', 'pending') ON CONFLICT (chat_id) DO NOTHING; SELECT status FROM users WHERE chat_id={{ $('L1-A Preprocessor').item.json.chatId }};","options":{}},"id":"reg-check","name":"Check Existing User","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1168,208],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}}},{"parameters":{"chatId":"7731591925","text":"=🔔 New Registration\n\nName: {{ $('L1-A Preprocessor').item.json.firstName }}\nUsername: @{{ $('L1-A Preprocessor').item.json.username }}\nChat ID: {{ $('L1-A Preprocessor').item.json.chatId }}\n\nReply:\nAPPROVE {{ $('L1-A Preprocessor').item.json.chatId }}\nor REJECT {{ $('L1-A Preprocessor').item.json.chatId }}","additionalFields":{}},"id":"reg-notify-jeff","name":"Notify Jeff","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1408,128],"webhookId":"7015995c-8e4c-47bd-8a5e-12aab6bc71aa","credentials":{"telegramApi":{"id":"bekevyLkkiivHo0L","name":"Telegram Bot"}}},{"parameters":{"chatId":"={{ $('L1-A Preprocessor').item.json.chatId }}","text":"✅ ได้รับคำขอแล้วครับ กรุณารอการอนุมัติจาก Jeff","additionalFields":{}},"id":"reg-reply-user","name":"Reply to Applicant","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1408,272],"webhookId":"b35a1b80-4e15-4172-9d3b-f7394b8b91fc","credentials":{"telegramApi":{"id":"bekevyLkkiivHo0L","name":"Telegram Bot"}}},{"parameters":{"jsCode":"const text = $('L1-A Preprocessor').item.json.text.toUpperCase();\nconst parts = text.split(' ');\nconst action = parts[0];\nconst targetId = parseInt(parts[1]);\nconst newStatus = action === 'APPROVE' ? 'approved' : 'rejected';\nreturn [{ json: { action, targetId, newStatus } }];"},"id":"approval-parse","name":"Parse Approval","type":"n8n-nodes-base.code","typeVersion":2,"position":[1168,400]},{"parameters":{"operation":"executeQuery","query":"UPDATE users SET status='{{ $json.newStatus }}', approved_at=NOW() WHERE chat_id={{ $json.targetId }}; SELECT chat_id, first_name, status FROM users WHERE chat_id={{ $json.targetId }};","options":{}},"id":"approval-update","name":"Update User Status","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1408,400],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}}},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.status === 'approved' ? '✅ ได้รับอนุมัติแล้วครับ! ส่งข้อความมาได้เลย' : '❌ ขออภัย คำขอถูกปฏิเสธครับ' }}","additionalFields":{}},"id":"approval-notify","name":"Notify User of Decision","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1648,400],"webhookId":"703db362-648a-472a-b324-a032c7c33c88","credentials":{"telegramApi":{"id":"bekevyLkkiivHo0L","name":"Telegram Bot"}}},{"parameters":{"operation":"executeQuery","query":"SELECT status FROM users WHERE chat_id={{ $('L1-A Preprocessor').item.json.chatId }} LIMIT 1;","options":{}},"id":"check-approved","name":"Check User Approved","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1168,608],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c1","leftValue":"={{ $json.status }}","rightValue":"approved","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"is-approved","name":"Approved?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1408,608]},{"parameters":{"method":"POST","url":"https://api.dify.ai/v1/chat-messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer app-EeCD0rYnH9eTTxWKdYxbXD2Q"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={ \"inputs\": {}, \"query\": \"{{ $('L1-A Preprocessor').item.json.text }}\", \"response_mode\": \"blocking\", \"conversation_id\": \"\", \"user\": \"{{ $('L1-A Preprocessor').item.json.userId }}\" }","options":{}},"id":"dify-router","name":"Dify Smart Router","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1648,528]},{"parameters":{"jsCode":"const data = $input.first().json;\nlet reply = data.answer || data.text || 'ขออภัย ไม่สามารถตอบได้ตอนนี้ครับ';\nif (reply.length > 4096) reply = reply.substring(0, 4090) + '...[ต่อ]';\nconst agent = data.metadata?.usage ? 'dify' : 'unknown';\nreturn [{ json: { reply, agent } }];"},"id":"l25-normalize","name":"L2.5 Normalize Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[1888,528]},{"parameters":{"chatId":"={{ $('L1-A Preprocessor').item.json.chatId }}","text":"={{ $json.reply }}","additionalFields":{}},"id":"send-reply","name":"Send Reply","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2128,528],"webhookId":"b2ecc497-eaf3-4834-af1d-7cf06132f6ca","credentials":{"telegramApi":{"id":"bekevyLkkiivHo0L","name":"Telegram Bot"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO inbox_log (user_id, content_raw, content_clean, lang_detected, msg_hash, agent, status) VALUES ({{ $('L1-A Preprocessor').item.json.userId }}, '{{ $('L1-A Preprocessor').item.json.text }}', '{{ $('L1-A Preprocessor').item.json.text }}', '{{ $('L1-A Preprocessor').item.json.isThai ? 'th' : 'en' }}', '{{ $('L1-A Preprocessor').item.json.hash }}', '{{ $('L2.5 Normalize Output').item.json.agent }}', 'ok');","options":{}},"id":"log-inbox","name":"Log to Inbox","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2464,528],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}}},{"parameters":{"chatId":"={{ $('L1-A Preprocessor').item.json.chatId }}","text":"❌ คุณยังไม่ได้รับอนุมัติครับ กรุณาส่ง /start เพื่อสมัครก่อน","additionalFields":{}},"id":"not-approved","name":"Not Approved Reply","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1648,704],"webhookId":"6d11859e-5938-4aa4-9946-f72d5e3efdd8","credentials":{"telegramApi":{"id":"bekevyLkkiivHo0L","name":"Telegram Bot"}}},{"parameters":{"method":"POST","url":"http://localhost:5678/webhook/session-read","sendBody":true,"bodyParameters":{"parameters":[{"name":"channel_type","value":"telegram"},{"name":"channel_id","value":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},{"name":"user_id","value":"={{ $('Telegram Trigger').item.json.message.from.id }}"},{"name":"user_message","value":"={{ $('L1-A Preprocessor').item.json.content_clean }}"}]},"options":{}},"id":"l15-read","name":"L1.5 — Read Session Context","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,528]},{"parameters":{"method":"POST","url":"http://localhost:5678/webhook/session-write","sendBody":true,"bodyParameters":{"parameters":[{"name":"session_key","value":"=session:telegram:{{ $('Telegram Trigger').item.json.message.chat.id }}:{{ $('Telegram Trigger').item.json.message.from.id }}"},{"name":"user_message","value":"={{ $('L1-A Preprocessor').item.json.content_clean }}"},{"name":"agent_reply","value":"={{ $('L2.5 Normalize Output').item.json.reply_text }}"}]},"options":{}},"id":"l15-write","name":"L1.5 — Write Session Turn","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2304,528]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO audit_log (event_type, source_ip, source, payload, timestamp) VALUES ('WEBHOOK_RECEIVED', NULL, 'telegram', '{{ JSON.stringify({user_id: $json.message.from.id, chat_id: $json.message.chat.id, msg: $json.message.text}) }}'::jsonb, NOW()) ON CONFLICT DO NOTHING;","options":{}},"id":"l7-audit-received","name":"L7 — Audit WEBHOOK_RECEIVED","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[320,400],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}}},{"parameters":{"operation":"executeQuery","query":"SELECT COUNT(*) as blocked FROM blocked_ips WHERE ip = '{{ $('Telegram Trigger').item.json.message.from.id.toString() }}' AND (expires_at IS NULL OR expires_at > NOW());","options":{}},"id":"l7-blocked-check","name":"L7 — Check Blocked User","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[560,400],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"blocked-check","leftValue":"={{ $json.blocked }}","rightValue":"0","operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"l7-blocked-gate","name":"L7 — Blocked Gate","type":"n8n-nodes-base.if","typeVersion":2,"position":[800,400]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO audit_log (event_type, source_ip, source, payload, timestamp) VALUES ('AGENT_OUTPUT', NULL, 'telegram', '{{ JSON.stringify({user_id: $('Telegram Trigger').item.json.message.from.id, reply: $json.reply_text?.substring(0,200)}) }}'::jsonb, NOW());","options":{}},"id":"l7-audit-output","name":"L7 — Audit AGENT_OUTPUT","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2000,528],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"L7 — Audit WEBHOOK_RECEIVED","type":"main","index":0}]]},"L1-A Preprocessor":{"main":[[{"node":"Dedup Check","type":"main","index":0}]]},"Dedup Check":{"main":[[{"node":"Route by Type","type":"main","index":0}]]},"Route by Type":{"main":[[{"node":"Check Existing User","type":"main","index":0}],[{"node":"Parse Approval","type":"main","index":0}],[{"node":"Check User Approved","type":"main","index":0}]]},"Check Existing User":{"main":[[{"node":"Notify Jeff","type":"main","index":0},{"node":"Reply to Applicant","type":"main","index":0}]]},"Parse Approval":{"main":[[{"node":"Update User Status","type":"main","index":0}]]},"Update User Status":{"main":[[{"node":"Notify User of Decision","type":"main","index":0}]]},"Check User Approved":{"main":[[{"node":"Approved?","type":"main","index":0}]]},"Approved?":{"main":[[{"node":"L1.5 — Read Session Context","type":"main","index":0}],[{"node":"Not Approved Reply","type":"main","index":0}]]},"Dify Smart Router":{"main":[[{"node":"L2.5 Normalize Output","type":"main","index":0}]]},"L2.5 Normalize Output":{"main":[[{"node":"L7 — Audit AGENT_OUTPUT","type":"main","index":0}]]},"Send Reply":{"main":[[{"node":"L1.5 — Write Session Turn","type":"main","index":0}]]},"L1.5 — Read Session Context":{"main":[[{"node":"Dify Smart Router","type":"main","index":0}]]},"L1.5 — Write Session Turn":{"main":[[{"node":"Log to Inbox","type":"main","index":0}]]},"L7 — Audit WEBHOOK_RECEIVED":{"main":[[{"node":"L7 — Check Blocked User","type":"main","index":0}]]},"L7 — Check Blocked User":{"main":[[{"node":"L7 — Blocked Gate","type":"main","index":0}]]},"L7 — Blocked Gate":{"main":[[{"node":"L1-A Preprocessor","type":"main","index":0}],[]]},"L7 — Audit AGENT_OUTPUT":{"main":[[{"node":"Send Reply","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"c9b66312-1b86-4bde-abe1-705f73ebbddc","activeVersionId":"c9b66312-1b86-4bde-abe1-705f73ebbddc","versionCounter":1,"triggerCount":1,"shared":[{"updatedAt":"2026-05-31T18:09:42.315Z","createdAt":"2026-05-31T18:09:42.315Z","role":"workflow:owner","workflowId":"jFq7aSFJQ7ElHoLZ","projectId":"zcgfC5I8AUAr3U8J","project":{"updatedAt":"2026-05-30T20:55:56.474Z","createdAt":"2026-05-30T20:51:13.491Z","id":"zcgfC5I8AUAr3U8J","name":"Jeff COPREM <jooshdathumlong@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"12a7009a-8941-44c5-ba2c-39b02509ad3c"}}],"tags":[],"activeVersion":{"updatedAt":"2026-05-31T18:09:42.315Z","createdAt":"2026-05-31T18:09:42.315Z","versionId":"c9b66312-1b86-4bde-abe1-705f73ebbddc","workflowId":"jFq7aSFJQ7ElHoLZ","nodes":[{"parameters":{"httpMethod":"POST","path":"telegram-coprem","options":{}},"id":"tg-trigger","name":"Telegram Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[208,400],"webhookId":"c0pr3m00000000000000000000000000"},{"parameters":{"jsCode":"// L1-A Preprocessor — no crypto module\nconst msg = $json.message || {};\nconst text = msg.text || msg.caption || '';\nconst userId = msg.from?.id || 0;\n\n// Simple hash without crypto: djb2 algorithm\nfunction simpleHash(str) {\n  let hash = 5381;\n  for (let i = 0; i < str.length; i++) {\n    hash = ((hash << 5) + hash) + str.charCodeAt(i);\n    hash = hash & hash; // 32bit int\n  }\n  return Math.abs(hash).toString(16);\n}\n\n// Clean text\nconst content_clean = text.trim().replace(/\\s+/g, ' ');\n\n// Language detection (Thai unicode range)\nconst thaiRegex = /[\\u0E00-\\u0E7F]/;\nconst lang_detected = thaiRegex.test(content_clean) ? 'th' : 'en';\n\n// Dedup hash\nconst msg_hash = simpleHash(`${userId}:${content_clean}`);\n\n// Detect message type\nlet msg_type = 'chat';\nif (text.startsWith('/start')) msg_type = 'start';\nelse if (text.startsWith('/rate')) msg_type = 'feedback';\nelse if (text.toUpperCase() === 'APPROVE' || text.toUpperCase() === 'REJECT') msg_type = 'approval';\n\nreturn {\n  content_raw: text,\n  content_clean,\n  lang_detected,\n  msg_hash,\n  msg_type,\n  user_id: userId,\n  chat_id: msg.chat?.id || 0,\n  username: msg.from?.username || '',\n  preprocessed_at: new Date().toISOString()\n};"},"id":"l1a-preprocess","name":"L1-A Preprocessor","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,400]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO dedup_cache (hash) VALUES ('{{ $json.hash }}') ON CONFLICT DO NOTHING; SELECT COUNT(*) as is_new FROM dedup_cache WHERE hash='{{ $json.hash }}' AND created_at > NOW() - INTERVAL '60 seconds';","options":{}},"id":"check-dedup","name":"Dedup Check","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[688,400],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('L1-A Preprocessor').item.json.isStart }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"registration"},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('L1-A Preprocessor').item.json.isApproval }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"approval"}]},"options":{}},"id":"route-type","name":"Route by Type","type":"n8n-nodes-base.switch","typeVersion":3,"position":[928,400]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO users (chat_id, first_name, username, status) VALUES ({{ $('L1-A Preprocessor').item.json.chatId }}, '{{ $('L1-A Preprocessor').item.json.firstName }}', '{{ $('L1-A Preprocessor').item.json.username }}', 'pending') ON CONFLICT (chat_id) DO NOTHING; SELECT status FROM users WHERE chat_id={{ $('L1-A Preprocessor').item.json.chatId }};","options":{}},"id":"reg-check","name":"Check Existing User","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1168,208],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}}},{"parameters":{"chatId":"7731591925","text":"=🔔 New Registration\n\nName: {{ $('L1-A Preprocessor').item.json.firstName }}\nUsername: @{{ $('L1-A Preprocessor').item.json.username }}\nChat ID: {{ $('L1-A Preprocessor').item.json.chatId }}\n\nReply:\nAPPROVE {{ $('L1-A Preprocessor').item.json.chatId }}\nor REJECT {{ $('L1-A Preprocessor').item.json.chatId }}","additionalFields":{}},"id":"reg-notify-jeff","name":"Notify Jeff","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1408,128],"webhookId":"7015995c-8e4c-47bd-8a5e-12aab6bc71aa","credentials":{"telegramApi":{"id":"bekevyLkkiivHo0L","name":"Telegram Bot"}}},{"parameters":{"chatId":"={{ $('L1-A Preprocessor').item.json.chatId }}","text":"✅ ได้รับคำขอแล้วครับ กรุณารอการอนุมัติจาก Jeff","additionalFields":{}},"id":"reg-reply-user","name":"Reply to Applicant","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1408,272],"webhookId":"b35a1b80-4e15-4172-9d3b-f7394b8b91fc","credentials":{"telegramApi":{"id":"bekevyLkkiivHo0L","name":"Telegram Bot"}}},{"parameters":{"jsCode":"const text = $('L1-A Preprocessor').item.json.text.toUpperCase();\nconst parts = text.split(' ');\nconst action = parts[0];\nconst targetId = parseInt(parts[1]);\nconst newStatus = action === 'APPROVE' ? 'approved' : 'rejected';\nreturn [{ json: { action, targetId, newStatus } }];"},"id":"approval-parse","name":"Parse Approval","type":"n8n-nodes-base.code","typeVersion":2,"position":[1168,400]},{"parameters":{"operation":"executeQuery","query":"UPDATE users SET status='{{ $json.newStatus }}', approved_at=NOW() WHERE chat_id={{ $json.targetId }}; SELECT chat_id, first_name, status FROM users WHERE chat_id={{ $json.targetId }};","options":{}},"id":"approval-update","name":"Update User Status","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1408,400],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}}},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.status === 'approved' ? '✅ ได้รับอนุมัติแล้วครับ! ส่งข้อความมาได้เลย' : '❌ ขออภัย คำขอถูกปฏิเสธครับ' }}","additionalFields":{}},"id":"approval-notify","name":"Notify User of Decision","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1648,400],"webhookId":"703db362-648a-472a-b324-a032c7c33c88","credentials":{"telegramApi":{"id":"bekevyLkkiivHo0L","name":"Telegram Bot"}}},{"parameters":{"operation":"executeQuery","query":"SELECT status FROM users WHERE chat_id={{ $('L1-A Preprocessor').item.json.chatId }} LIMIT 1;","options":{}},"id":"check-approved","name":"Check User Approved","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1168,608],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c1","leftValue":"={{ $json.status }}","rightValue":"approved","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"is-approved","name":"Approved?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1408,608]},{"parameters":{"method":"POST","url":"https://api.dify.ai/v1/chat-messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer app-EeCD0rYnH9eTTxWKdYxbXD2Q"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={ \"inputs\": {}, \"query\": \"{{ $('L1-A Preprocessor').item.json.text }}\", \"response_mode\": \"blocking\", \"conversation_id\": \"\", \"user\": \"{{ $('L1-A Preprocessor').item.json.userId }}\" }","options":{}},"id":"dify-router","name":"Dify Smart Router","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1648,528]},{"parameters":{"jsCode":"const data = $input.first().json;\nlet reply = data.answer || data.text || 'ขออภัย ไม่สามารถตอบได้ตอนนี้ครับ';\nif (reply.length > 4096) reply = reply.substring(0, 4090) + '...[ต่อ]';\nconst agent = data.metadata?.usage ? 'dify' : 'unknown';\nreturn [{ json: { reply, agent } }];"},"id":"l25-normalize","name":"L2.5 Normalize Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[1888,528]},{"parameters":{"chatId":"={{ $('L1-A Preprocessor').item.json.chatId }}","text":"={{ $json.reply }}","additionalFields":{}},"id":"send-reply","name":"Send Reply","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2128,528],"webhookId":"b2ecc497-eaf3-4834-af1d-7cf06132f6ca","credentials":{"telegramApi":{"id":"bekevyLkkiivHo0L","name":"Telegram Bot"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO inbox_log (user_id, content_raw, content_clean, lang_detected, msg_hash, agent, status) VALUES ({{ $('L1-A Preprocessor').item.json.userId }}, '{{ $('L1-A Preprocessor').item.json.text }}', '{{ $('L1-A Preprocessor').item.json.text }}', '{{ $('L1-A Preprocessor').item.json.isThai ? 'th' : 'en' }}', '{{ $('L1-A Preprocessor').item.json.hash }}', '{{ $('L2.5 Normalize Output').item.json.agent }}', 'ok');","options":{}},"id":"log-inbox","name":"Log to Inbox","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2464,528],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}}},{"parameters":{"chatId":"={{ $('L1-A Preprocessor').item.json.chatId }}","text":"❌ คุณยังไม่ได้รับอนุมัติครับ กรุณาส่ง /start เพื่อสมัครก่อน","additionalFields":{}},"id":"not-approved","name":"Not Approved Reply","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1648,704],"webhookId":"6d11859e-5938-4aa4-9946-f72d5e3efdd8","credentials":{"telegramApi":{"id":"bekevyLkkiivHo0L","name":"Telegram Bot"}}},{"parameters":{"method":"POST","url":"http://localhost:5678/webhook/session-read","sendBody":true,"bodyParameters":{"parameters":[{"name":"channel_type","value":"telegram"},{"name":"channel_id","value":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},{"name":"user_id","value":"={{ $('Telegram Trigger').item.json.message.from.id }}"},{"name":"user_message","value":"={{ $('L1-A Preprocessor').item.json.content_clean }}"}]},"options":{}},"id":"l15-read","name":"L1.5 — Read Session Context","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,528]},{"parameters":{"method":"POST","url":"http://localhost:5678/webhook/session-write","sendBody":true,"bodyParameters":{"parameters":[{"name":"session_key","value":"=session:telegram:{{ $('Telegram Trigger').item.json.message.chat.id }}:{{ $('Telegram Trigger').item.json.message.from.id }}"},{"name":"user_message","value":"={{ $('L1-A Preprocessor').item.json.content_clean }}"},{"name":"agent_reply","value":"={{ $('L2.5 Normalize Output').item.json.reply_text }}"}]},"options":{}},"id":"l15-write","name":"L1.5 — Write Session Turn","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2304,528]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO audit_log (event_type, source_ip, source, payload, timestamp) VALUES ('WEBHOOK_RECEIVED', NULL, 'telegram', '{{ JSON.stringify({user_id: $json.message.from.id, chat_id: $json.message.chat.id, msg: $json.message.text}) }}'::jsonb, NOW()) ON CONFLICT DO NOTHING;","options":{}},"id":"l7-audit-received","name":"L7 — Audit WEBHOOK_RECEIVED","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[320,400],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}}},{"parameters":{"operation":"executeQuery","query":"SELECT COUNT(*) as blocked FROM blocked_ips WHERE ip = '{{ $('Telegram Trigger').item.json.message.from.id.toString() }}' AND (expires_at IS NULL OR expires_at > NOW());","options":{}},"id":"l7-blocked-check","name":"L7 — Check Blocked User","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[560,400],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"blocked-check","leftValue":"={{ $json.blocked }}","rightValue":"0","operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"l7-blocked-gate","name":"L7 — Blocked Gate","type":"n8n-nodes-base.if","typeVersion":2,"position":[800,400]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO audit_log (event_type, source_ip, source, payload, timestamp) VALUES ('AGENT_OUTPUT', NULL, 'telegram', '{{ JSON.stringify({user_id: $('Telegram Trigger').item.json.message.from.id, reply: $json.reply_text?.substring(0,200)}) }}'::jsonb, NOW());","options":{}},"id":"l7-audit-output","name":"L7 — Audit AGENT_OUTPUT","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2000,528],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"L7 — Audit WEBHOOK_RECEIVED","type":"main","index":0}]]},"L1-A Preprocessor":{"main":[[{"node":"Dedup Check","type":"main","index":0}]]},"Dedup Check":{"main":[[{"node":"Route by Type","type":"main","index":0}]]},"Route by Type":{"main":[[{"node":"Check Existing User","type":"main","index":0}],[{"node":"Parse Approval","type":"main","index":0}],[{"node":"Check User Approved","type":"main","index":0}]]},"Check Existing User":{"main":[[{"node":"Notify Jeff","type":"main","index":0},{"node":"Reply to Applicant","type":"main","index":0}]]},"Parse Approval":{"main":[[{"node":"Update User Status","type":"main","index":0}]]},"Update User Status":{"main":[[{"node":"Notify User of Decision","type":"main","index":0}]]},"Check User Approved":{"main":[[{"node":"Approved?","type":"main","index":0}]]},"Approved?":{"main":[[{"node":"L1.5 — Read Session Context","type":"main","index":0}],[{"node":"Not Approved Reply","type":"main","index":0}]]},"Dify Smart Router":{"main":[[{"node":"L2.5 Normalize Output","type":"main","index":0}]]},"L2.5 Normalize Output":{"main":[[{"node":"L7 — Audit AGENT_OUTPUT","type":"main","index":0}]]},"Send Reply":{"main":[[{"node":"L1.5 — Write Session Turn","type":"main","index":0}]]},"L1.5 — Read Session Context":{"main":[[{"node":"Dify Smart Router","type":"main","index":0}]]},"L1.5 — Write Session Turn":{"main":[[{"node":"Log to Inbox","type":"main","index":0}]]},"L7 — Audit WEBHOOK_RECEIVED":{"main":[[{"node":"L7 — Check Blocked User","type":"main","index":0}]]},"L7 — Check Blocked User":{"main":[[{"node":"L7 — Blocked Gate","type":"main","index":0}]]},"L7 — Blocked Gate":{"main":[[{"node":"L1-A Preprocessor","type":"main","index":0}],[]]},"L7 — Audit AGENT_OUTPUT":{"main":[[{"node":"Send Reply","type":"main","index":0}]]}},"authors":"Jeff COPREM","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-05-31T18:09:42.378Z","id":71,"workflowId":"jFq7aSFJQ7ElHoLZ","versionId":"c9b66312-1b86-4bde-abe1-705f73ebbddc","event":"activated","userId":"12a7009a-8941-44c5-ba2c-39b02509ad3c"},{"createdAt":"2026-05-31T18:12:08.545Z","id":72,"workflowId":"jFq7aSFJQ7ElHoLZ","versionId":"c9b66312-1b86-4bde-abe1-705f73ebbddc","event":"deactivated","userId":"12a7009a-8941-44c5-ba2c-39b02509ad3c"},{"createdAt":"2026-05-31T18:12:08.555Z","id":73,"workflowId":"jFq7aSFJQ7ElHoLZ","versionId":"c9b66312-1b86-4bde-abe1-705f73ebbddc","event":"activated","userId":"12a7009a-8941-44c5-ba2c-39b02509ad3c"}]}}