services/job/workflows/exports/WF09 — Automated Backup.json
{"updatedAt":"2026-05-31T15:13:16.074Z","createdAt":"2026-05-31T15:01:50.548Z","id":"TuPhYI81MjPd79ED","name":"WF09 — Automated Backup","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 3 * * 0"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[144,336],"name":"Sunday 03:00","id":"cd98212b-3ce7-471a-9560-8785c679ebd6"},{"parameters":{"operation":"executeQuery","query":"SELECT json_agg(row_to_json(d)) as data FROM decision_memory_log d WHERE archived = false;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[352,224],"name":"Export KB-05 Decisions","id":"c4aa83e7-e7c4-4b0e-a5ec-d69f36d48748","credentials":{"postgres":{"id":"226PbeVgki0neEi4","name":"Postgres COPREM"}}},{"parameters":{"operation":"executeQuery","query":"SELECT json_agg(row_to_json(p)) as data FROM prompt_library p WHERE is_active = true;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[352,432],"name":"Export Active Prompts","id":"c49d4a6e-ef75-48b0-a700-10f3bc8d8ce6","credentials":{"postgres":{"id":"226PbeVgki0neEi4","name":"Postgres COPREM"}}},{"parameters":{"operation":"executeQuery","query":"SELECT json_agg(row_to_json(t)) as data FROM task_board t WHERE created_at >= NOW() - INTERVAL '30 days';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[352,624],"name":"Export Recent Tasks","id":"01b9855b-e84a-4d66-9bbe-94f39e3326e5","credentials":{"postgres":{"id":"226PbeVgki0neEi4","name":"Postgres COPREM"}}},{"parameters":{"jsCode":"const getRows = (nodeName) => { try { return $node[nodeName].json.data || []; } catch(e) { return []; } };\nconst decisions = getRows('Export KB-05 Decisions');\nconst prompts = getRows('Export Active Prompts');\nconst tasks = getRows('Export Recent Tasks');\n\nconst backup = {\n  version: 'v8.2',\n  exported_at: new Date().toISOString(),\n  decisions,\n  prompts,\n  tasks\n};\n\nreturn [{ json: { backup: JSON.stringify(backup, null, 2), filename: `coprem-backup-${new Date().toISOString().split('T')[0]}.json` } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[640,432],"name":"Compose Backup JSON","id":"475ab6ab-8cc3-4d27-ad87-a71fe87c18fb"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO system_log (level, workflow_id, node_name, message)\nVALUES ('info', 'WF09', 'backup', 'Weekly backup completed: {{ $json.filename }}');","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[864,432],"name":"Log Backup","id":"a167b2ff-de38-4063-83d3-ba4371c2fea0","credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}}},{"parameters":{"chatId":"=7731591925","text":"💾 Weekly backup completed: {{ $json.filename }}\nDecisions: {{ JSON.parse($('Compose Backup JSON').item.json.backup).decisions.length || 0 }}\nPrompts: {{ JSON.parse($('Compose Backup JSON').item.json.backup).prompts.length || 0 }}\nTasks: {{ JSON.parse($('Compose Backup JSON').item.json.backup).tasks.length || 0 }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1072,432],"name":"Notify Backup Done","id":"3f1fae5e-2bb5-4063-82af-d393709334df","webhookId":"4cb931b0-68d6-437c-9a6f-e61afbe224ae","credentials":{"telegramApi":{"id":"bekevyLkkiivHo0L","name":"Telegram Bot"}}}],"connections":{"Sunday 03:00":{"main":[[{"node":"Export KB-05 Decisions","type":"main","index":0},{"node":"Export Active Prompts","type":"main","index":0},{"node":"Export Recent Tasks","type":"main","index":0}]]},"Export KB-05 Decisions":{"main":[[{"node":"Compose Backup JSON","type":"main","index":0}]]},"Export Active Prompts":{"main":[[{"node":"Compose Backup JSON","type":"main","index":0}]]},"Export Recent Tasks":{"main":[[{"node":"Compose Backup JSON","type":"main","index":0}]]},"Compose Backup JSON":{"main":[[{"node":"Log Backup","type":"main","index":0}]]},"Log Backup":{"main":[[{"node":"Notify Backup Done","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":{"node:Sunday 03:00":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fa70ea00-4fa9-451b-988f-b74a1f2fbcf6","activeVersionId":"fa70ea00-4fa9-451b-988f-b74a1f2fbcf6","versionCounter":19,"triggerCount":1,"shared":[{"updatedAt":"2026-05-31T15:01:50.548Z","createdAt":"2026-05-31T15:01:50.548Z","role":"workflow:owner","workflowId":"TuPhYI81MjPd79ED","projectId":"zcgfC5I8AUAr3U8J","project":{"updatedAt":"2026-05-30T20:55:56.474Z","createdAt":"2026-05-30T20:51:13.491Z","id":"zcgfC5I8AUAr3U8J","name":"Jeff COPREM <jooshdathumlong@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"12a7009a-8941-44c5-ba2c-39b02509ad3c"}}],"tags":[{"updatedAt":"2026-05-31T15:01:49.013Z","createdAt":"2026-05-31T15:01:49.013Z","id":"1jv8hcM7j55UvI1X","name":"COPREM"},{"updatedAt":"2026-05-31T15:01:49.017Z","createdAt":"2026-05-31T15:01:49.017Z","id":"aEHOuKbMN8IYC8P1","name":"L7-Security"}],"activeVersion":{"updatedAt":"2026-05-31T15:13:23.731Z","createdAt":"2026-05-31T15:13:15.719Z","versionId":"fa70ea00-4fa9-451b-988f-b74a1f2fbcf6","workflowId":"TuPhYI81MjPd79ED","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 3 * * 0"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[144,336],"name":"Sunday 03:00","id":"cd98212b-3ce7-471a-9560-8785c679ebd6"},{"parameters":{"operation":"executeQuery","query":"SELECT json_agg(row_to_json(d)) as data FROM decision_memory_log d WHERE archived = false;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[352,224],"name":"Export KB-05 Decisions","id":"c4aa83e7-e7c4-4b0e-a5ec-d69f36d48748","credentials":{"postgres":{"id":"226PbeVgki0neEi4","name":"Postgres COPREM"}}},{"parameters":{"operation":"executeQuery","query":"SELECT json_agg(row_to_json(p)) as data FROM prompt_library p WHERE is_active = true;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[352,432],"name":"Export Active Prompts","id":"c49d4a6e-ef75-48b0-a700-10f3bc8d8ce6","credentials":{"postgres":{"id":"226PbeVgki0neEi4","name":"Postgres COPREM"}}},{"parameters":{"operation":"executeQuery","query":"SELECT json_agg(row_to_json(t)) as data FROM task_board t WHERE created_at >= NOW() - INTERVAL '30 days';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[352,624],"name":"Export Recent Tasks","id":"01b9855b-e84a-4d66-9bbe-94f39e3326e5","credentials":{"postgres":{"id":"226PbeVgki0neEi4","name":"Postgres COPREM"}}},{"parameters":{"jsCode":"const getRows = (nodeName) => { try { return $node[nodeName].json.data || []; } catch(e) { return []; } };\nconst decisions = getRows('Export KB-05 Decisions');\nconst prompts = getRows('Export Active Prompts');\nconst tasks = getRows('Export Recent Tasks');\n\nconst backup = {\n  version: 'v8.2',\n  exported_at: new Date().toISOString(),\n  decisions,\n  prompts,\n  tasks\n};\n\nreturn [{ json: { backup: JSON.stringify(backup, null, 2), filename: `coprem-backup-${new Date().toISOString().split('T')[0]}.json` } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[640,432],"name":"Compose Backup JSON","id":"475ab6ab-8cc3-4d27-ad87-a71fe87c18fb"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO system_log (level, workflow_id, node_name, message)\nVALUES ('info', 'WF09', 'backup', 'Weekly backup completed: {{ $json.filename }}');","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[864,432],"name":"Log Backup","id":"a167b2ff-de38-4063-83d3-ba4371c2fea0","credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}}},{"parameters":{"chatId":"=7731591925","text":"💾 Weekly backup completed: {{ $json.filename }}\nDecisions: {{ JSON.parse($('Compose Backup JSON').item.json.backup).decisions.length || 0 }}\nPrompts: {{ JSON.parse($('Compose Backup JSON').item.json.backup).prompts.length || 0 }}\nTasks: {{ JSON.parse($('Compose Backup JSON').item.json.backup).tasks.length || 0 }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1072,432],"name":"Notify Backup Done","id":"3f1fae5e-2bb5-4063-82af-d393709334df","webhookId":"4cb931b0-68d6-437c-9a6f-e61afbe224ae","credentials":{"telegramApi":{"id":"bekevyLkkiivHo0L","name":"Telegram Bot"}}}],"connections":{"Sunday 03:00":{"main":[[{"node":"Export KB-05 Decisions","type":"main","index":0},{"node":"Export Active Prompts","type":"main","index":0},{"node":"Export Recent Tasks","type":"main","index":0}]]},"Export KB-05 Decisions":{"main":[[{"node":"Compose Backup JSON","type":"main","index":0}]]},"Export Active Prompts":{"main":[[{"node":"Compose Backup JSON","type":"main","index":0}]]},"Export Recent Tasks":{"main":[[{"node":"Compose Backup JSON","type":"main","index":0}]]},"Compose Backup JSON":{"main":[[{"node":"Log Backup","type":"main","index":0}]]},"Log Backup":{"main":[[{"node":"Notify Backup Done","type":"main","index":0}]]}},"authors":"Jeff COPREM","name":"Version fa70ea00","description":"","autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-05-31T15:13:23.727Z","id":52,"workflowId":"TuPhYI81MjPd79ED","versionId":"fa70ea00-4fa9-451b-988f-b74a1f2fbcf6","event":"activated","userId":"12a7009a-8941-44c5-ba2c-39b02509ad3c"},{"createdAt":"2026-05-31T15:16:27.716Z","id":53,"workflowId":"TuPhYI81MjPd79ED","versionId":"fa70ea00-4fa9-451b-988f-b74a1f2fbcf6","event":"deactivated","userId":"12a7009a-8941-44c5-ba2c-39b02509ad3c"},{"createdAt":"2026-05-31T15:16:27.723Z","id":54,"workflowId":"TuPhYI81MjPd79ED","versionId":"fa70ea00-4fa9-451b-988f-b74a1f2fbcf6","event":"activated","userId":"12a7009a-8941-44c5-ba2c-39b02509ad3c"}]}}