03-system/workflows/exports/WF L1-C — Provider Router.json
{"updatedAt":"2026-05-31T21:20:01.956Z","createdAt":"2026-05-31T21:20:01.956Z","id":"W7wSbaW3GRHjMX2A","name":"WF L1-C — Provider Router","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"l1c-route","responseMode":"responseNode"},"id":"5bb24b5f-d1da-4950-a9b1-d6da2b109492","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"webhookId":"2c8ec36b-a0ad-4425-88f7-8627747083db"},{"parameters":{"operation":"executeQuery","query":"SELECT provider, is_throttled FROM rate_limit_registry WHERE is_throttled = true;"},"id":"3d81d0ea-98f7-4bd8-84c2-9433bbcfa267","name":"Check Rate Limits","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[240,0],"credentials":{"postgres":{"id":"226PbeVgki0neEi4","name":"Postgres COPREM"}}},{"parameters":{"jsCode":"\nconst wh = $('Webhook').first().json;\nconst input = wh.body || wh;\n\nconst GEMINI_KEYS = [\n  { name: 'eilinaire',       key: $env.EILINAIRE_GOOGLE_API_KEY },\n  { name: 'jooshdathumlong', key: $env.JOOSHDATHUMLONG_GOOGLE_API_KEY },\n  { name: 'mahittisak',      key: $env.MAHITTISAK_GOOGLE_API_KEY },\n  { name: 'sunsetsol',       key: $env.SUNSETSOL_GOOGLE_API_KEY },\n  { name: 'rlie',            key: $env.RLIE_GOOGLE_API_KEY },\n  { name: 'peabantid',       key: $env.PEABANTID_GOOGLE_API_KEY },\n].filter(k => k.key);\n\n// Tiered model selection (Blueprint 1.3)\nconst TIER_MODELS = {\n  0: 'gemini-2.0-flash',        // Full capability\n  1: 'gemini-2.0-flash',        // Cost alert — same model, thinking tasks routed elsewhere\n  2: 'gemini-2.0-flash-lite',   // Cost limit\n  3: 'ollama/llama3.1',         // Emergency — local only\n};\n\nconst MATRIX = {\n  'CREATIVE':  { primary: 'gemini-2.0-flash', fallback: 'ollama/llama3.1' },\n  'PERSONAL':  { primary: 'gemini-2.0-flash', fallback: 'gemini-2.0-flash-lite' },\n  'JOB':       { primary: 'gemini-2.0-flash', fallback: 'gemini-2.0-flash-lite' },\n  'default':   { primary: 'gemini-2.0-flash', fallback: 'gemini-2.0-flash-lite' }\n};\nconst AGENT_MAP = { JOB: 'jeff', PERSONAL: 'eilinaire', CREATIVE: 'ego_era' };\n\nconst pillar    = (input.pillar || 'default').toUpperCase();\nconst reduced   = input.reduced_mode === true;\nconst throttled = {};\n\nfor (const row of $('Check Rate Limits').all()) {\n  if (row.json.is_throttled) throttled[row.json.provider] = true;\n}\n\n// Determine tier from throttled providers\nconst geminiThrottled = throttled['gemini-2.0-flash'];\nconst flashLiteThrottled = throttled['gemini-2.0-flash-lite'];\nlet tier = 0;\nif (geminiThrottled && flashLiteThrottled) tier = 3;\nelse if (geminiThrottled) tier = 2;\n\nconst matrixKey = Object.keys(MATRIX).find(k => pillar.startsWith(k)) || 'default';\nlet selectedModel = reduced ? 'gemini-2.0-flash-lite' : TIER_MODELS[tier] || MATRIX[matrixKey].primary;\n// Final fallback to Ollama if selected model throttled\nif (throttled[selectedModel]) selectedModel = 'ollama/llama3.1';\n\nconst keyIndex = Math.floor(Date.now() / 60000) % GEMINI_KEYS.length;\nconst geminiKey = GEMINI_KEYS[keyIndex] || {};\nconst topPillar = pillar.split('.')[0];\nconst assignedAgent = AGENT_MAP[topPillar] || 'jeff';\n\nreturn [{ json: {\n  assigned_agent: assignedAgent,\n  selected_model: selectedModel,\n  tier,\n  pillar,\n  message: input.message || '',\n  user_id: input.user_id || '',\n  routed_at: new Date().toISOString()\n}}];\n"},"id":"0bc9f5b9-56f5-4767-a8af-5ec101ec9961","name":"Select Model","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,0]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO audit_log (event_type, source, payload) VALUES ('AGENT_CALLED', 'L1-C', '{{ JSON.stringify({model: $(\"Select Model\").first().json.selected_model, agent: $(\"Select Model\").first().json.assigned_agent, pillar: $(\"Select Model\").first().json.pillar}) }}'::jsonb);\nSELECT 1 AS ok;"},"id":"b735952f-3f30-4390-973d-75f83e3bc5a4","name":"Log to Audit","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[720,0],"credentials":{"postgres":{"id":"226PbeVgki0neEi4","name":"Postgres COPREM"}}},{"parameters":{"method":"POST","url":"http://litellm:4000/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 187234854205c015f2d8379d5455a0a8"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={ \"model\": \"gemini-2.0-flash\", \"messages\": [{\"role\": \"system\", \"content\": \"You are Jeff, INTJ Executive Partner for COPREM OS. Scope: JOB pillar only (marketing ops, operational data). Domain boundary: Never use EGO ERA lore terms or trading math in JOB outputs. Internal language: English. Reports to Prem: concise Thai. Never show raw data or tool chatter to Prem. Be direct, no fluff.\"}, {\"role\": \"user\", \"content\": \"{{ $('Select Model').first().json.message }}\"}], \"max_tokens\": 1000 }","options":{}},"id":"0c470e23-cba3-477b-861d-092f743d70dd","name":"Route to Dify","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,0]},{"parameters":{"respondWith":"json","responseBody":"={ \"assigned_agent\": \"{{ $('Select Model').first().json.assigned_agent }}\", \"selected_model\": \"{{ $('Select Model').first().json.selected_model }}\", \"routed_at\": \"{{ $('Select Model').first().json.routed_at }}\", \"dify_reply\": \"{{ $json.choices[0].message.content }}\" }"},"id":"94a82de0-c478-421c-a139-467c47d27b55","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1200,0]}],"connections":{"Webhook":{"main":[[{"node":"Check Rate Limits","type":"main","index":0}]]},"Check Rate Limits":{"main":[[{"node":"Select Model","type":"main","index":0}]]},"Select Model":{"main":[[{"node":"Log to Audit","type":"main","index":0}]]},"Log to Audit":{"main":[[{"node":"Route to Dify","type":"main","index":0}]]},"Route to Dify":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":null,"pinData":null,"versionId":"5f26e6ab-b8fc-45f0-86a1-e30f1b3ec1c2","activeVersionId":"5f26e6ab-b8fc-45f0-86a1-e30f1b3ec1c2","versionCounter":1,"triggerCount":1,"shared":[{"updatedAt":"2026-05-31T21:20:01.956Z","createdAt":"2026-05-31T21:20:01.956Z","role":"workflow:owner","workflowId":"W7wSbaW3GRHjMX2A","projectId":"zcgfC5I8AUAr3U8J","project":{"updatedAt":"2026-05-30T20:55:56.474Z","createdAt":"2026-05-30T20:51:13.491Z","id":"zcgfC5I8AUAr3U8J","name":"Jeff COPREM <jooshdathumlong@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"12a7009a-8941-44c5-ba2c-39b02509ad3c"}}],"tags":[],"activeVersion":{"updatedAt":"2026-05-31T21:20:01.956Z","createdAt":"2026-05-31T21:20:01.956Z","versionId":"5f26e6ab-b8fc-45f0-86a1-e30f1b3ec1c2","workflowId":"W7wSbaW3GRHjMX2A","nodes":[{"parameters":{"httpMethod":"POST","path":"l1c-route","responseMode":"responseNode"},"id":"5bb24b5f-d1da-4950-a9b1-d6da2b109492","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"webhookId":"2c8ec36b-a0ad-4425-88f7-8627747083db"},{"parameters":{"operation":"executeQuery","query":"SELECT provider, is_throttled FROM rate_limit_registry WHERE is_throttled = true;"},"id":"3d81d0ea-98f7-4bd8-84c2-9433bbcfa267","name":"Check Rate Limits","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[240,0],"credentials":{"postgres":{"id":"226PbeVgki0neEi4","name":"Postgres COPREM"}}},{"parameters":{"jsCode":"\nconst wh = $('Webhook').first().json;\nconst input = wh.body || wh;\n\nconst GEMINI_KEYS = [\n  { name: 'eilinaire',       key: $env.EILINAIRE_GOOGLE_API_KEY },\n  { name: 'jooshdathumlong', key: $env.JOOSHDATHUMLONG_GOOGLE_API_KEY },\n  { name: 'mahittisak',      key: $env.MAHITTISAK_GOOGLE_API_KEY },\n  { name: 'sunsetsol',       key: $env.SUNSETSOL_GOOGLE_API_KEY },\n  { name: 'rlie',            key: $env.RLIE_GOOGLE_API_KEY },\n  { name: 'peabantid',       key: $env.PEABANTID_GOOGLE_API_KEY },\n].filter(k => k.key);\n\n// Tiered model selection (Blueprint 1.3)\nconst TIER_MODELS = {\n  0: 'gemini-2.0-flash',        // Full capability\n  1: 'gemini-2.0-flash',        // Cost alert — same model, thinking tasks routed elsewhere\n  2: 'gemini-2.0-flash-lite',   // Cost limit\n  3: 'ollama/llama3.1',         // Emergency — local only\n};\n\nconst MATRIX = {\n  'CREATIVE':  { primary: 'gemini-2.0-flash', fallback: 'ollama/llama3.1' },\n  'PERSONAL':  { primary: 'gemini-2.0-flash', fallback: 'gemini-2.0-flash-lite' },\n  'JOB':       { primary: 'gemini-2.0-flash', fallback: 'gemini-2.0-flash-lite' },\n  'default':   { primary: 'gemini-2.0-flash', fallback: 'gemini-2.0-flash-lite' }\n};\nconst AGENT_MAP = { JOB: 'jeff', PERSONAL: 'eilinaire', CREATIVE: 'ego_era' };\n\nconst pillar    = (input.pillar || 'default').toUpperCase();\nconst reduced   = input.reduced_mode === true;\nconst throttled = {};\n\nfor (const row of $('Check Rate Limits').all()) {\n  if (row.json.is_throttled) throttled[row.json.provider] = true;\n}\n\n// Determine tier from throttled providers\nconst geminiThrottled = throttled['gemini-2.0-flash'];\nconst flashLiteThrottled = throttled['gemini-2.0-flash-lite'];\nlet tier = 0;\nif (geminiThrottled && flashLiteThrottled) tier = 3;\nelse if (geminiThrottled) tier = 2;\n\nconst matrixKey = Object.keys(MATRIX).find(k => pillar.startsWith(k)) || 'default';\nlet selectedModel = reduced ? 'gemini-2.0-flash-lite' : TIER_MODELS[tier] || MATRIX[matrixKey].primary;\n// Final fallback to Ollama if selected model throttled\nif (throttled[selectedModel]) selectedModel = 'ollama/llama3.1';\n\nconst keyIndex = Math.floor(Date.now() / 60000) % GEMINI_KEYS.length;\nconst geminiKey = GEMINI_KEYS[keyIndex] || {};\nconst topPillar = pillar.split('.')[0];\nconst assignedAgent = AGENT_MAP[topPillar] || 'jeff';\n\nreturn [{ json: {\n  assigned_agent: assignedAgent,\n  selected_model: selectedModel,\n  tier,\n  pillar,\n  message: input.message || '',\n  user_id: input.user_id || '',\n  routed_at: new Date().toISOString()\n}}];\n"},"id":"0bc9f5b9-56f5-4767-a8af-5ec101ec9961","name":"Select Model","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,0]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO audit_log (event_type, source, payload) VALUES ('AGENT_CALLED', 'L1-C', '{{ JSON.stringify({model: $(\"Select Model\").first().json.selected_model, agent: $(\"Select Model\").first().json.assigned_agent, pillar: $(\"Select Model\").first().json.pillar}) }}'::jsonb);\nSELECT 1 AS ok;"},"id":"b735952f-3f30-4390-973d-75f83e3bc5a4","name":"Log to Audit","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[720,0],"credentials":{"postgres":{"id":"226PbeVgki0neEi4","name":"Postgres COPREM"}}},{"parameters":{"method":"POST","url":"http://litellm:4000/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 187234854205c015f2d8379d5455a0a8"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={ \"model\": \"gemini-2.0-flash\", \"messages\": [{\"role\": \"system\", \"content\": \"You are Jeff, INTJ Executive Partner for COPREM OS. Scope: JOB pillar only (marketing ops, operational data). Domain boundary: Never use EGO ERA lore terms or trading math in JOB outputs. Internal language: English. Reports to Prem: concise Thai. Never show raw data or tool chatter to Prem. Be direct, no fluff.\"}, {\"role\": \"user\", \"content\": \"{{ $('Select Model').first().json.message }}\"}], \"max_tokens\": 1000 }","options":{}},"id":"0c470e23-cba3-477b-861d-092f743d70dd","name":"Route to Dify","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,0]},{"parameters":{"respondWith":"json","responseBody":"={ \"assigned_agent\": \"{{ $('Select Model').first().json.assigned_agent }}\", \"selected_model\": \"{{ $('Select Model').first().json.selected_model }}\", \"routed_at\": \"{{ $('Select Model').first().json.routed_at }}\", \"dify_reply\": \"{{ $json.choices[0].message.content }}\" }"},"id":"94a82de0-c478-421c-a139-467c47d27b55","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1200,0]}],"connections":{"Webhook":{"main":[[{"node":"Check Rate Limits","type":"main","index":0}]]},"Check Rate Limits":{"main":[[{"node":"Select Model","type":"main","index":0}]]},"Select Model":{"main":[[{"node":"Log to Audit","type":"main","index":0}]]},"Log to Audit":{"main":[[{"node":"Route to Dify","type":"main","index":0}]]},"Route to Dify":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"authors":"Jeff COPREM","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-05-31T21:20:02.005Z","id":103,"workflowId":"W7wSbaW3GRHjMX2A","versionId":"5f26e6ab-b8fc-45f0-86a1-e30f1b3ec1c2","event":"activated","userId":"12a7009a-8941-44c5-ba2c-39b02509ad3c"}]}}