03-system/workflows/exports/WF L1-C — Provider Router.json
{"updatedAt":"2026-05-31T16:18:06.712Z","createdAt":"2026-05-31T16:10:55.728Z","id":"4kUNH6gYNQxg3VN1","name":"WF L1-C — Provider Router","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"l1c-route","responseMode":"responseNode"},"id":"5bb24b5f-d1da-4950-a9b1-d6da2b109492","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"webhookId":"2c8ec36b-a0ad-4425-88f7-8627747083db"},{"parameters":{"operation":"executeQuery","query":"SELECT provider, is_throttled FROM rate_limit_registry WHERE is_throttled = true;"},"id":"3d81d0ea-98f7-4bd8-84c2-9433bbcfa267","name":"Check Rate Limits","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[240,0],"credentials":{"postgres":{"id":"226PbeVgki0neEi4","name":"Postgres COPREM"}}},{"parameters":{"jsCode":"\nconst GEMINI_KEYS = [\n  { name: 'eilinaire',       key: $env.EILINAIRE_GOOGLE_API_KEY },\n  { name: 'jooshdathumlong', key: $env.JOOSHDATHUMLONG_GOOGLE_API_KEY },\n  { name: 'mahittisak',      key: $env.MAHITTISAK_GOOGLE_API_KEY },\n  { name: 'sunsetsol',       key: $env.SUNSETSOL_GOOGLE_API_KEY },\n  { name: 'rlie',            key: $env.RLIE_GOOGLE_API_KEY },\n  { name: 'peabantid',       key: $env.PEABANTID_GOOGLE_API_KEY },\n].filter(k => k.key);\n\nconst GEMINI_MODELS = ['gemini-2.0-flash', 'gemini-2.0-flash-lite', 'gemini-flash-lite-latest'];\n\nconst MATRIX = {\n  'CREATIVE':      { primary: 'claude-sonnet-4-6',   fallback: 'gpt-4o' },\n  'PERSONAL':      { primary: 'claude-sonnet-4-6',   fallback: 'gpt-4o' },\n  'JOB.MARKETING': { primary: 'gemini-2.0-flash',    fallback: 'gemini-2.0-flash-lite' },\n  'JOB.OPS':       { primary: 'gemini-2.0-flash',    fallback: 'gemini-2.0-flash-lite' },\n  'LONG-CONTEXT':  { primary: 'gemini-2.0-flash',    fallback: 'claude-sonnet-4-6' },\n  'default':       { primary: 'gemini-2.0-flash',    fallback: 'gemini-2.0-flash-lite' }\n};\nconst AGENT_MAP = { JOB: 'jeff', PERSONAL: 'eilinaire', CREATIVE: 'ego_era' };\n\nconst input    = $input.first().json;\nconst pillar   = (input.pillar || 'default').toUpperCase();\nconst reduced  = input.reduced_mode === true;\nconst throttled = {};\n\nfor (const row of $('Check Rate Limits').all()) {\n  if (row.json.is_throttled) throttled[row.json.provider] = true;\n}\n\nconst matrixKey = Object.keys(MATRIX).find(k => pillar.startsWith(k)) || 'default';\nlet selectedModel = reduced ? 'gemini-2.0-flash-lite' : MATRIX[matrixKey].primary;\nif (throttled[selectedModel]) {\n  selectedModel = GEMINI_MODELS.find(m => !throttled[m]) || MATRIX[matrixKey].fallback;\n}\n\n// Round-robin key by minute\nconst keyIndex = Math.floor(Date.now() / 60000) % GEMINI_KEYS.length;\nconst geminiKey = GEMINI_KEYS[keyIndex] || {};\n\nconst topPillar = pillar.split('.')[0];\nconst assignedAgent = AGENT_MAP[topPillar] || 'jeff';\n\nreturn [{ json: {\n  assigned_agent:  assignedAgent,\n  selected_model:  selectedModel,\n  gemini_key_name: geminiKey.name || 'none',\n  gemini_api_key:  geminiKey.key  || '',\n  pillar:          pillar,\n  reduced_mode:    reduced,\n  message:         input.message || '',\n  routed_at:       new Date().toISOString()\n}}];\n"},"id":"0bc9f5b9-56f5-4767-a8af-5ec101ec9961","name":"Select Model","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,0]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO audit_log (event_type, source, payload) VALUES ('AGENT_CALLED', 'L1-C', '{\"model\":\"{{ $json.selected_model }}\",\"agent\":\"{{ $json.assigned_agent }}\",\"pillar\":\"{{ $json.pillar }}\"}');"},"id":"b735952f-3f30-4390-973d-75f83e3bc5a4","name":"Log to Audit","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[720,0],"credentials":{"postgres":{"id":"226PbeVgki0neEi4","name":"Postgres COPREM"}}},{"parameters":{"method":"POST","url":"https://api.dify.ai/v1/chat-messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.DIFY_API_KEY }}"},{"name":"X-Model-Override","value":"={{ $json.selected_model }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"inputs","value":"={}"},{"name":"query","value":"={{ $json.message }}"},{"name":"response_mode","value":"blocking"},{"name":"user","value":"={{ $json.assigned_agent }}"}]}},"id":"0c470e23-cba3-477b-861d-092f743d70dd","name":"Route to Dify","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[960,0]},{"parameters":{"respondWith":"json","responseBody":"={\"assigned_agent\":\"{{ $('Select Model').item.json.assigned_agent }}\",\"selected_model\":\"{{ $('Select Model').item.json.selected_model }}\",\"routed_at\":\"{{ $('Select Model').item.json.routed_at }}\",\"dify_reply\":\"{{ $json.answer }}\"}"},"id":"94a82de0-c478-421c-a139-467c47d27b55","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1200,0]}],"connections":{"Webhook":{"main":[[{"node":"Check Rate Limits","type":"main","index":0}]]},"Check Rate Limits":{"main":[[{"node":"Select Model","type":"main","index":0}]]},"Select Model":{"main":[[{"node":"Log to Audit","type":"main","index":0}]]},"Log to Audit":{"main":[[{"node":"Route to Dify","type":"main","index":0}]]},"Route to Dify":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"4eda0121-9e60-44f1-988d-0a4993314e49","activeVersionId":"4eda0121-9e60-44f1-988d-0a4993314e49","versionCounter":3,"triggerCount":1,"shared":[{"updatedAt":"2026-05-31T16:10:55.728Z","createdAt":"2026-05-31T16:10:55.728Z","role":"workflow:owner","workflowId":"4kUNH6gYNQxg3VN1","projectId":"zcgfC5I8AUAr3U8J","project":{"updatedAt":"2026-05-30T20:55:56.474Z","createdAt":"2026-05-30T20:51:13.491Z","id":"zcgfC5I8AUAr3U8J","name":"Jeff COPREM <jooshdathumlong@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"12a7009a-8941-44c5-ba2c-39b02509ad3c"}}],"tags":[],"activeVersion":{"updatedAt":"2026-05-31T16:18:06.713Z","createdAt":"2026-05-31T16:18:06.713Z","versionId":"4eda0121-9e60-44f1-988d-0a4993314e49","workflowId":"4kUNH6gYNQxg3VN1","nodes":[{"parameters":{"httpMethod":"POST","path":"l1c-route","responseMode":"responseNode"},"id":"5bb24b5f-d1da-4950-a9b1-d6da2b109492","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"webhookId":"2c8ec36b-a0ad-4425-88f7-8627747083db"},{"parameters":{"operation":"executeQuery","query":"SELECT provider, is_throttled FROM rate_limit_registry WHERE is_throttled = true;"},"id":"3d81d0ea-98f7-4bd8-84c2-9433bbcfa267","name":"Check Rate Limits","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[240,0],"credentials":{"postgres":{"id":"226PbeVgki0neEi4","name":"Postgres COPREM"}}},{"parameters":{"jsCode":"\nconst GEMINI_KEYS = [\n  { name: 'eilinaire',       key: $env.EILINAIRE_GOOGLE_API_KEY },\n  { name: 'jooshdathumlong', key: $env.JOOSHDATHUMLONG_GOOGLE_API_KEY },\n  { name: 'mahittisak',      key: $env.MAHITTISAK_GOOGLE_API_KEY },\n  { name: 'sunsetsol',       key: $env.SUNSETSOL_GOOGLE_API_KEY },\n  { name: 'rlie',            key: $env.RLIE_GOOGLE_API_KEY },\n  { name: 'peabantid',       key: $env.PEABANTID_GOOGLE_API_KEY },\n].filter(k => k.key);\n\nconst GEMINI_MODELS = ['gemini-2.0-flash', 'gemini-2.0-flash-lite', 'gemini-flash-lite-latest'];\n\nconst MATRIX = {\n  'CREATIVE':      { primary: 'claude-sonnet-4-6',   fallback: 'gpt-4o' },\n  'PERSONAL':      { primary: 'claude-sonnet-4-6',   fallback: 'gpt-4o' },\n  'JOB.MARKETING': { primary: 'gemini-2.0-flash',    fallback: 'gemini-2.0-flash-lite' },\n  'JOB.OPS':       { primary: 'gemini-2.0-flash',    fallback: 'gemini-2.0-flash-lite' },\n  'LONG-CONTEXT':  { primary: 'gemini-2.0-flash',    fallback: 'claude-sonnet-4-6' },\n  'default':       { primary: 'gemini-2.0-flash',    fallback: 'gemini-2.0-flash-lite' }\n};\nconst AGENT_MAP = { JOB: 'jeff', PERSONAL: 'eilinaire', CREATIVE: 'ego_era' };\n\nconst input    = $input.first().json;\nconst pillar   = (input.pillar || 'default').toUpperCase();\nconst reduced  = input.reduced_mode === true;\nconst throttled = {};\n\nfor (const row of $('Check Rate Limits').all()) {\n  if (row.json.is_throttled) throttled[row.json.provider] = true;\n}\n\nconst matrixKey = Object.keys(MATRIX).find(k => pillar.startsWith(k)) || 'default';\nlet selectedModel = reduced ? 'gemini-2.0-flash-lite' : MATRIX[matrixKey].primary;\nif (throttled[selectedModel]) {\n  selectedModel = GEMINI_MODELS.find(m => !throttled[m]) || MATRIX[matrixKey].fallback;\n}\n\n// Round-robin key by minute\nconst keyIndex = Math.floor(Date.now() / 60000) % GEMINI_KEYS.length;\nconst geminiKey = GEMINI_KEYS[keyIndex] || {};\n\nconst topPillar = pillar.split('.')[0];\nconst assignedAgent = AGENT_MAP[topPillar] || 'jeff';\n\nreturn [{ json: {\n  assigned_agent:  assignedAgent,\n  selected_model:  selectedModel,\n  gemini_key_name: geminiKey.name || 'none',\n  gemini_api_key:  geminiKey.key  || '',\n  pillar:          pillar,\n  reduced_mode:    reduced,\n  message:         input.message || '',\n  routed_at:       new Date().toISOString()\n}}];\n"},"id":"0bc9f5b9-56f5-4767-a8af-5ec101ec9961","name":"Select Model","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,0]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO audit_log (event_type, source, payload) VALUES ('AGENT_CALLED', 'L1-C', '{\"model\":\"{{ $json.selected_model }}\",\"agent\":\"{{ $json.assigned_agent }}\",\"pillar\":\"{{ $json.pillar }}\"}');"},"id":"b735952f-3f30-4390-973d-75f83e3bc5a4","name":"Log to Audit","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[720,0],"credentials":{"postgres":{"id":"226PbeVgki0neEi4","name":"Postgres COPREM"}}},{"parameters":{"method":"POST","url":"https://api.dify.ai/v1/chat-messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.DIFY_API_KEY }}"},{"name":"X-Model-Override","value":"={{ $json.selected_model }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"inputs","value":"={}"},{"name":"query","value":"={{ $json.message }}"},{"name":"response_mode","value":"blocking"},{"name":"user","value":"={{ $json.assigned_agent }}"}]}},"id":"0c470e23-cba3-477b-861d-092f743d70dd","name":"Route to Dify","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[960,0]},{"parameters":{"respondWith":"json","responseBody":"={\"assigned_agent\":\"{{ $('Select Model').item.json.assigned_agent }}\",\"selected_model\":\"{{ $('Select Model').item.json.selected_model }}\",\"routed_at\":\"{{ $('Select Model').item.json.routed_at }}\",\"dify_reply\":\"{{ $json.answer }}\"}"},"id":"94a82de0-c478-421c-a139-467c47d27b55","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1200,0]}],"connections":{"Webhook":{"main":[[{"node":"Check Rate Limits","type":"main","index":0}]]},"Check Rate Limits":{"main":[[{"node":"Select Model","type":"main","index":0}]]},"Select Model":{"main":[[{"node":"Log to Audit","type":"main","index":0}]]},"Log to Audit":{"main":[[{"node":"Route to Dify","type":"main","index":0}]]},"Route to Dify":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"authors":"Jeff COPREM","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-05-31T16:18:06.749Z","id":64,"workflowId":"4kUNH6gYNQxg3VN1","versionId":"4eda0121-9e60-44f1-988d-0a4993314e49","event":"deactivated","userId":"12a7009a-8941-44c5-ba2c-39b02509ad3c"},{"createdAt":"2026-05-31T16:18:06.754Z","id":65,"workflowId":"4kUNH6gYNQxg3VN1","versionId":"4eda0121-9e60-44f1-988d-0a4993314e49","event":"activated","userId":"12a7009a-8941-44c5-ba2c-39b02509ad3c"}]}}