03-system/workflows/exports/WF01 — Inbox Receiver (Dify).json
{"updatedAt":"2026-05-31T20:37:40.436Z","createdAt":"2026-05-31T20:37:40.436Z","id":"2i43qe8gDM0rjWYb","name":"WF01 — Inbox Receiver (Dify)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"telegram-coprem","options":{}},"id":"tg-trigger","name":"Telegram Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[208,400],"webhookId":"c0pr3m00000000000000000000000000"},{"parameters":{"jsCode":"// L1-A Preprocessor v3 — fixed path + all routing aliases\nconst triggerData = $('Telegram Trigger').first().json;\nconst msg = triggerData.body?.message || triggerData.message || {};\nconst text = msg.text || msg.caption || '';\nconst userId = msg.from?.id || 0;\nconst chatId = msg.chat?.id || userId;\n\nfunction simpleHash(str) {\n  let hash = 5381;\n  for (let i = 0; i < str.length; i++) {\n    hash = ((hash << 5) + hash) + str.charCodeAt(i);\n    hash = hash & hash;\n  }\n  return Math.abs(hash).toString(16);\n}\n\nconst content_clean = text.trim().replace(/\\s+/g, ' ');\nconst thaiRegex = /[฀-๿]/;\nconst lang_detected = thaiRegex.test(content_clean) ? 'th' : 'en';\nconst msg_hash = simpleHash(`${userId}:${content_clean}`);\n\nlet msg_type = 'chat';\nif (text.startsWith('/start')) msg_type = 'start';\nelse if (text.startsWith('/rate')) msg_type = 'feedback';\nelse if (text.toUpperCase() === 'APPROVE' || text.toUpperCase() === 'REJECT') msg_type = 'approval';\n\nreturn [{ json: {\n  content_raw: text,\n  content_clean,\n  text: content_clean,\n  lang_detected,\n  isThai: lang_detected === 'th',\n  msg_hash,\n  hash: msg_hash,\n  msg_type,\n  isStart: msg_type === 'start',\n  isApproval: msg_type === 'approval',\n  isChat: msg_type === 'chat',\n  user_id: userId, userId,\n  chat_id: chatId, chatId,\n  firstName: msg.from?.first_name || '',\n  username: msg.from?.username || '',\n  preprocessed_at: new Date().toISOString()\n} }];\n"},"id":"l1a-preprocess","name":"L1-A Preprocessor","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,400]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO dedup_cache (hash) VALUES ('{{ $json.hash }}') ON CONFLICT DO NOTHING; SELECT COUNT(*) as is_new FROM dedup_cache WHERE hash='{{ $json.hash }}' AND created_at > NOW() - INTERVAL '60 seconds';","options":{}},"id":"check-dedup","name":"Dedup Check","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[688,400],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"leftValue":"={{ $('L1-A Preprocessor').first().json.isStart }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"registration"},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"leftValue":"={{ $('L1-A Preprocessor').first().json.isApproval }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"approval"},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"leftValue":"={{ $('L1-A Preprocessor').first().json.isChat }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"chat"}]},"options":{}},"id":"route-type","name":"Route by Type","type":"n8n-nodes-base.switch","typeVersion":3,"position":[928,400]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO users (chat_id, first_name, username, status) VALUES ({{ $('L1-A Preprocessor').first().json.chatId }}, '{{ $('L1-A Preprocessor').first().json.firstName }}', '{{ $('L1-A Preprocessor').first().json.username }}', 'pending') ON CONFLICT (chat_id) DO NOTHING; SELECT status FROM users WHERE chat_id={{ $('L1-A Preprocessor').first().json.chatId }};","options":{}},"id":"reg-check","name":"Check Existing User","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1168,208],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}}},{"parameters":{"chatId":"7731591925","text":"=🔔 New Registration\n\nName: {{ $('L1-A Preprocessor').first().json.firstName }}\nUsername: @{{ $('L1-A Preprocessor').first().json.username }}\nChat ID: {{ $('L1-A Preprocessor').first().json.chatId }}\n\nReply:\nAPPROVE {{ $('L1-A Preprocessor').first().json.chatId }}\nor REJECT {{ $('L1-A Preprocessor').first().json.chatId }}","additionalFields":{"appendAttribution":false}},"id":"reg-notify-jeff","name":"Notify Jeff","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1408,128],"webhookId":"7015995c-8e4c-47bd-8a5e-12aab6bc71aa","credentials":{"telegramApi":{"id":"bekevyLkkiivHo0L","name":"Telegram Bot"}}},{"parameters":{"chatId":"={{ $('L1-A Preprocessor').first().json.chatId }}","text":"✅ ได้รับคำขอแล้วครับ กรุณารอการอนุมัติจาก Jeff","additionalFields":{"appendAttribution":false}},"id":"reg-reply-user","name":"Reply to Applicant","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1408,272],"webhookId":"b35a1b80-4e15-4172-9d3b-f7394b8b91fc","credentials":{"telegramApi":{"id":"bekevyLkkiivHo0L","name":"Telegram Bot"}}},{"parameters":{"jsCode":"const text = $('L1-A Preprocessor').first().json.text.toUpperCase();\nconst parts = text.split(' ');\nconst action = parts[0];\nconst targetId = parseInt(parts[1]);\nconst newStatus = action === 'APPROVE' ? 'approved' : 'rejected';\nreturn [{ json: { action, targetId, newStatus } }];"},"id":"approval-parse","name":"Parse Approval","type":"n8n-nodes-base.code","typeVersion":2,"position":[1168,400]},{"parameters":{"operation":"executeQuery","query":"UPDATE users SET status='{{ $json.newStatus }}', approved_at=NOW() WHERE chat_id={{ $json.targetId }}; SELECT chat_id, first_name, status FROM users WHERE chat_id={{ $json.targetId }};","options":{}},"id":"approval-update","name":"Update User Status","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1408,400],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}}},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.status === 'approved' ? '✅ ได้รับอนุมัติแล้วครับ! ส่งข้อความมาได้เลย' : '❌ ขออภัย คำขอถูกปฏิเสธครับ' }}","additionalFields":{"appendAttribution":false}},"id":"approval-notify","name":"Notify User of Decision","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1648,400],"webhookId":"703db362-648a-472a-b324-a032c7c33c88","credentials":{"telegramApi":{"id":"bekevyLkkiivHo0L","name":"Telegram Bot"}}},{"parameters":{"operation":"executeQuery","query":"SELECT status FROM users WHERE chat_id={{ $('L1-A Preprocessor').first().json.chatId }} LIMIT 1;","options":{}},"id":"check-approved","name":"Check User Approved","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1168,608],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c1","leftValue":"={{ $json.status }}","rightValue":"approved","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"is-approved","name":"Approved?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1408,608]},{"parameters":{"method":"POST","url":"http://localhost:5678/webhook/l1c-route","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={ \"pillar\": \"JOB\", \"message\": \"{{ $('L1-A Preprocessor').first().json.text }}\", \"user_id\": \"{{ $('L1-A Preprocessor').first().json.userId }}\" }","options":{}},"id":"dify-router","name":"Dify Smart Router","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1648,528]},{"parameters":{"jsCode":"const data = $input.first().json;\nlet reply = data.dify_reply\n  || (data.choices && data.choices[0] && data.choices[0].message && data.choices[0].message.content)\n  || data.answer || data.text\n  || 'ขออภัย ไม่สามารถตอบได้ตอนนี้ครับ';\nif (reply.length > 4096) reply = reply.substring(0, 4090) + '...[ต่อ]';\nconst agent = data.assigned_agent || (data.model ? 'litellm' : 'unknown');\nreturn [{ json: { reply, reply_text: reply, agent, model: data.selected_model || data.model } }];\n"},"id":"l25-normalize","name":"L2.5 Normalize Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[1888,528]},{"parameters":{"chatId":"={{ $('L1-A Preprocessor').first().json.chatId }}","text":"={{ $('L2.5 Normalize Output').first().json.reply }}","additionalFields":{"appendAttribution":false}},"id":"send-reply","name":"Send Reply","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2128,528],"webhookId":"b2ecc497-eaf3-4834-af1d-7cf06132f6ca","credentials":{"telegramApi":{"id":"bekevyLkkiivHo0L","name":"Telegram Bot"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO inbox_log (user_id, content_raw, content_clean, lang_detected, msg_hash, agent, status) VALUES ({{ $('L1-A Preprocessor').first().json.userId }}, '{{ $('L1-A Preprocessor').first().json.text }}', '{{ $('L1-A Preprocessor').first().json.text }}', '{{ $('L1-A Preprocessor').first().json.isThai ? 'th' : 'en' }}', '{{ $('L1-A Preprocessor').first().json.hash }}', '{{ $('L2.5 Normalize Output').first().json.agent }}', 'ok');","options":{}},"id":"log-inbox","name":"Log to Inbox","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2464,528],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}}},{"parameters":{"chatId":"={{ $('L1-A Preprocessor').first().json.chatId }}","text":"❌ คุณยังไม่ได้รับอนุมัติครับ กรุณาส่ง /start เพื่อสมัครก่อน","additionalFields":{"appendAttribution":false}},"id":"not-approved","name":"Not Approved Reply","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1648,704],"webhookId":"6d11859e-5938-4aa4-9946-f72d5e3efdd8","credentials":{"telegramApi":{"id":"bekevyLkkiivHo0L","name":"Telegram Bot"}}},{"parameters":{"method":"POST","url":"http://localhost:5678/webhook/session-read","sendBody":true,"bodyParameters":{"parameters":[{"name":"channel_type","value":"telegram"},{"name":"channel_id","value":"={{ $('Telegram Trigger').first().json.body.message.chat.id }}"},{"name":"user_id","value":"={{ $('Telegram Trigger').first().json.body.message.from.id }}"},{"name":"user_message","value":"={{ $('L1-A Preprocessor').first().json.content_clean }}"}]},"options":{}},"id":"l15-read","name":"L1.5 — Read Session Context","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,528]},{"parameters":{"method":"POST","url":"http://localhost:5678/webhook/session-write","sendBody":true,"bodyParameters":{"parameters":[{"name":"session_key","value":"=session:telegram:{{ $('Telegram Trigger').first().json.body.message.chat.id }}:{{ $('Telegram Trigger').first().json.body.message.from.id }}"},{"name":"user_message","value":"={{ $('L1-A Preprocessor').first().json.content_clean }}"},{"name":"agent_reply","value":"={{ $('L2.5 Normalize Output').first().json.reply }}"}]},"options":{}},"id":"l15-write","name":"L1.5 — Write Session Turn","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2304,528]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO audit_log (event_type, source_ip, source, payload, timestamp)\nVALUES ('WEBHOOK_RECEIVED', NULL, 'telegram', $1::jsonb, NOW())\nON CONFLICT DO NOTHING;\nSELECT 1 AS ok;","options":{"queryReplacement":"={{ JSON.stringify({ user_id: $('Telegram Trigger').first().json.body?.message?.from?.id, chat_id: $('Telegram Trigger').first().json.body?.message?.chat?.id, msg: $('Telegram Trigger').first().json.body?.message?.text }) }}"}},"id":"l7-audit-received","name":"L7 — Audit WEBHOOK_RECEIVED","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[320,400],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}}},{"parameters":{"operation":"executeQuery","query":"SELECT COUNT(*) as blocked FROM blocked_ips WHERE ip = '{{ $('Telegram Trigger').first().json.body.message.from.id.toString() }}' AND (expires_at IS NULL OR expires_at > NOW());","options":{}},"id":"l7-blocked-check","name":"L7 — Check Blocked User","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[560,400],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"blocked-check","leftValue":"={{ $json.blocked }}","rightValue":"0","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"l7-blocked-gate","name":"L7 — Blocked Gate","type":"n8n-nodes-base.if","typeVersion":2,"position":[800,400]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO audit_log (event_type, source_ip, source, payload, timestamp)\nVALUES ('AGENT_OUTPUT', NULL, 'telegram', $1::jsonb, NOW());\nSELECT 1 AS ok;","options":{"queryReplacement":"={{ JSON.stringify({ user_id: $('Telegram Trigger').first().json.body?.message?.from?.id, reply: ($json.reply ?? '').substring(0, 200) }) }}"}},"id":"l7-audit-output","name":"L7 — Audit AGENT_OUTPUT","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2000,528],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"L7 — Audit WEBHOOK_RECEIVED","type":"main","index":0}]]},"L1-A Preprocessor":{"main":[[{"node":"Dedup Check","type":"main","index":0}]]},"Dedup Check":{"main":[[{"node":"Route by Type","type":"main","index":0}]]},"Route by Type":{"main":[[{"node":"Check Existing User","type":"main","index":0}],[{"node":"Parse Approval","type":"main","index":0}],[{"node":"Check User Approved","type":"main","index":0}]]},"Check Existing User":{"main":[[{"node":"Notify Jeff","type":"main","index":0},{"node":"Reply to Applicant","type":"main","index":0}]]},"Parse Approval":{"main":[[{"node":"Update User Status","type":"main","index":0}]]},"Update User Status":{"main":[[{"node":"Notify User of Decision","type":"main","index":0}]]},"Check User Approved":{"main":[[{"node":"Approved?","type":"main","index":0}]]},"Approved?":{"main":[[{"node":"L1.5 — Read Session Context","type":"main","index":0}],[{"node":"Not Approved Reply","type":"main","index":0}]]},"Dify Smart Router":{"main":[[{"node":"L2.5 Normalize Output","type":"main","index":0}]]},"L2.5 Normalize Output":{"main":[[{"node":"L7 — Audit AGENT_OUTPUT","type":"main","index":0}]]},"Send Reply":{"main":[[{"node":"L1.5 — Write Session Turn","type":"main","index":0}]]},"L1.5 — Read Session Context":{"main":[[{"node":"Dify Smart Router","type":"main","index":0}]]},"L1.5 — Write Session Turn":{"main":[[{"node":"Log to Inbox","type":"main","index":0}]]},"L7 — Audit WEBHOOK_RECEIVED":{"main":[[{"node":"L7 — Check Blocked User","type":"main","index":0}]]},"L7 — Check Blocked User":{"main":[[{"node":"L7 — Blocked Gate","type":"main","index":0}]]},"L7 — Blocked Gate":{"main":[[{"node":"L1-A Preprocessor","type":"main","index":0}],[]]},"L7 — Audit AGENT_OUTPUT":{"main":[[{"node":"Send Reply","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":null,"pinData":null,"versionId":"30d709ef-3c42-478c-ae95-20aa3e6e5a05","activeVersionId":"30d709ef-3c42-478c-ae95-20aa3e6e5a05","versionCounter":1,"triggerCount":1,"shared":[{"updatedAt":"2026-05-31T20:37:40.436Z","createdAt":"2026-05-31T20:37:40.436Z","role":"workflow:owner","workflowId":"2i43qe8gDM0rjWYb","projectId":"zcgfC5I8AUAr3U8J","project":{"updatedAt":"2026-05-30T20:55:56.474Z","createdAt":"2026-05-30T20:51:13.491Z","id":"zcgfC5I8AUAr3U8J","name":"Jeff COPREM <jooshdathumlong@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"12a7009a-8941-44c5-ba2c-39b02509ad3c"}}],"tags":[],"activeVersion":{"updatedAt":"2026-05-31T20:37:40.436Z","createdAt":"2026-05-31T20:37:40.436Z","versionId":"30d709ef-3c42-478c-ae95-20aa3e6e5a05","workflowId":"2i43qe8gDM0rjWYb","nodes":[{"parameters":{"httpMethod":"POST","path":"telegram-coprem","options":{}},"id":"tg-trigger","name":"Telegram Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[208,400],"webhookId":"c0pr3m00000000000000000000000000"},{"parameters":{"jsCode":"// L1-A Preprocessor v3 — fixed path + all routing aliases\nconst triggerData = $('Telegram Trigger').first().json;\nconst msg = triggerData.body?.message || triggerData.message || {};\nconst text = msg.text || msg.caption || '';\nconst userId = msg.from?.id || 0;\nconst chatId = msg.chat?.id || userId;\n\nfunction simpleHash(str) {\n  let hash = 5381;\n  for (let i = 0; i < str.length; i++) {\n    hash = ((hash << 5) + hash) + str.charCodeAt(i);\n    hash = hash & hash;\n  }\n  return Math.abs(hash).toString(16);\n}\n\nconst content_clean = text.trim().replace(/\\s+/g, ' ');\nconst thaiRegex = /[฀-๿]/;\nconst lang_detected = thaiRegex.test(content_clean) ? 'th' : 'en';\nconst msg_hash = simpleHash(`${userId}:${content_clean}`);\n\nlet msg_type = 'chat';\nif (text.startsWith('/start')) msg_type = 'start';\nelse if (text.startsWith('/rate')) msg_type = 'feedback';\nelse if (text.toUpperCase() === 'APPROVE' || text.toUpperCase() === 'REJECT') msg_type = 'approval';\n\nreturn [{ json: {\n  content_raw: text,\n  content_clean,\n  text: content_clean,\n  lang_detected,\n  isThai: lang_detected === 'th',\n  msg_hash,\n  hash: msg_hash,\n  msg_type,\n  isStart: msg_type === 'start',\n  isApproval: msg_type === 'approval',\n  isChat: msg_type === 'chat',\n  user_id: userId, userId,\n  chat_id: chatId, chatId,\n  firstName: msg.from?.first_name || '',\n  username: msg.from?.username || '',\n  preprocessed_at: new Date().toISOString()\n} }];\n"},"id":"l1a-preprocess","name":"L1-A Preprocessor","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,400]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO dedup_cache (hash) VALUES ('{{ $json.hash }}') ON CONFLICT DO NOTHING; SELECT COUNT(*) as is_new FROM dedup_cache WHERE hash='{{ $json.hash }}' AND created_at > NOW() - INTERVAL '60 seconds';","options":{}},"id":"check-dedup","name":"Dedup Check","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[688,400],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"leftValue":"={{ $('L1-A Preprocessor').first().json.isStart }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"registration"},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"leftValue":"={{ $('L1-A Preprocessor').first().json.isApproval }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"approval"},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"leftValue":"={{ $('L1-A Preprocessor').first().json.isChat }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"chat"}]},"options":{}},"id":"route-type","name":"Route by Type","type":"n8n-nodes-base.switch","typeVersion":3,"position":[928,400]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO users (chat_id, first_name, username, status) VALUES ({{ $('L1-A Preprocessor').first().json.chatId }}, '{{ $('L1-A Preprocessor').first().json.firstName }}', '{{ $('L1-A Preprocessor').first().json.username }}', 'pending') ON CONFLICT (chat_id) DO NOTHING; SELECT status FROM users WHERE chat_id={{ $('L1-A Preprocessor').first().json.chatId }};","options":{}},"id":"reg-check","name":"Check Existing User","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1168,208],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}}},{"parameters":{"chatId":"7731591925","text":"=🔔 New Registration\n\nName: {{ $('L1-A Preprocessor').first().json.firstName }}\nUsername: @{{ $('L1-A Preprocessor').first().json.username }}\nChat ID: {{ $('L1-A Preprocessor').first().json.chatId }}\n\nReply:\nAPPROVE {{ $('L1-A Preprocessor').first().json.chatId }}\nor REJECT {{ $('L1-A Preprocessor').first().json.chatId }}","additionalFields":{"appendAttribution":false}},"id":"reg-notify-jeff","name":"Notify Jeff","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1408,128],"webhookId":"7015995c-8e4c-47bd-8a5e-12aab6bc71aa","credentials":{"telegramApi":{"id":"bekevyLkkiivHo0L","name":"Telegram Bot"}}},{"parameters":{"chatId":"={{ $('L1-A Preprocessor').first().json.chatId }}","text":"✅ ได้รับคำขอแล้วครับ กรุณารอการอนุมัติจาก Jeff","additionalFields":{"appendAttribution":false}},"id":"reg-reply-user","name":"Reply to Applicant","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1408,272],"webhookId":"b35a1b80-4e15-4172-9d3b-f7394b8b91fc","credentials":{"telegramApi":{"id":"bekevyLkkiivHo0L","name":"Telegram Bot"}}},{"parameters":{"jsCode":"const text = $('L1-A Preprocessor').first().json.text.toUpperCase();\nconst parts = text.split(' ');\nconst action = parts[0];\nconst targetId = parseInt(parts[1]);\nconst newStatus = action === 'APPROVE' ? 'approved' : 'rejected';\nreturn [{ json: { action, targetId, newStatus } }];"},"id":"approval-parse","name":"Parse Approval","type":"n8n-nodes-base.code","typeVersion":2,"position":[1168,400]},{"parameters":{"operation":"executeQuery","query":"UPDATE users SET status='{{ $json.newStatus }}', approved_at=NOW() WHERE chat_id={{ $json.targetId }}; SELECT chat_id, first_name, status FROM users WHERE chat_id={{ $json.targetId }};","options":{}},"id":"approval-update","name":"Update User Status","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1408,400],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}}},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.status === 'approved' ? '✅ ได้รับอนุมัติแล้วครับ! ส่งข้อความมาได้เลย' : '❌ ขออภัย คำขอถูกปฏิเสธครับ' }}","additionalFields":{"appendAttribution":false}},"id":"approval-notify","name":"Notify User of Decision","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1648,400],"webhookId":"703db362-648a-472a-b324-a032c7c33c88","credentials":{"telegramApi":{"id":"bekevyLkkiivHo0L","name":"Telegram Bot"}}},{"parameters":{"operation":"executeQuery","query":"SELECT status FROM users WHERE chat_id={{ $('L1-A Preprocessor').first().json.chatId }} LIMIT 1;","options":{}},"id":"check-approved","name":"Check User Approved","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1168,608],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c1","leftValue":"={{ $json.status }}","rightValue":"approved","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"is-approved","name":"Approved?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1408,608]},{"parameters":{"method":"POST","url":"http://localhost:5678/webhook/l1c-route","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={ \"pillar\": \"JOB\", \"message\": \"{{ $('L1-A Preprocessor').first().json.text }}\", \"user_id\": \"{{ $('L1-A Preprocessor').first().json.userId }}\" }","options":{}},"id":"dify-router","name":"Dify Smart Router","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1648,528]},{"parameters":{"jsCode":"const data = $input.first().json;\nlet reply = data.dify_reply\n  || (data.choices && data.choices[0] && data.choices[0].message && data.choices[0].message.content)\n  || data.answer || data.text\n  || 'ขออภัย ไม่สามารถตอบได้ตอนนี้ครับ';\nif (reply.length > 4096) reply = reply.substring(0, 4090) + '...[ต่อ]';\nconst agent = data.assigned_agent || (data.model ? 'litellm' : 'unknown');\nreturn [{ json: { reply, reply_text: reply, agent, model: data.selected_model || data.model } }];\n"},"id":"l25-normalize","name":"L2.5 Normalize Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[1888,528]},{"parameters":{"chatId":"={{ $('L1-A Preprocessor').first().json.chatId }}","text":"={{ $('L2.5 Normalize Output').first().json.reply }}","additionalFields":{"appendAttribution":false}},"id":"send-reply","name":"Send Reply","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2128,528],"webhookId":"b2ecc497-eaf3-4834-af1d-7cf06132f6ca","credentials":{"telegramApi":{"id":"bekevyLkkiivHo0L","name":"Telegram Bot"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO inbox_log (user_id, content_raw, content_clean, lang_detected, msg_hash, agent, status) VALUES ({{ $('L1-A Preprocessor').first().json.userId }}, '{{ $('L1-A Preprocessor').first().json.text }}', '{{ $('L1-A Preprocessor').first().json.text }}', '{{ $('L1-A Preprocessor').first().json.isThai ? 'th' : 'en' }}', '{{ $('L1-A Preprocessor').first().json.hash }}', '{{ $('L2.5 Normalize Output').first().json.agent }}', 'ok');","options":{}},"id":"log-inbox","name":"Log to Inbox","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2464,528],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}}},{"parameters":{"chatId":"={{ $('L1-A Preprocessor').first().json.chatId }}","text":"❌ คุณยังไม่ได้รับอนุมัติครับ กรุณาส่ง /start เพื่อสมัครก่อน","additionalFields":{"appendAttribution":false}},"id":"not-approved","name":"Not Approved Reply","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1648,704],"webhookId":"6d11859e-5938-4aa4-9946-f72d5e3efdd8","credentials":{"telegramApi":{"id":"bekevyLkkiivHo0L","name":"Telegram Bot"}}},{"parameters":{"method":"POST","url":"http://localhost:5678/webhook/session-read","sendBody":true,"bodyParameters":{"parameters":[{"name":"channel_type","value":"telegram"},{"name":"channel_id","value":"={{ $('Telegram Trigger').first().json.body.message.chat.id }}"},{"name":"user_id","value":"={{ $('Telegram Trigger').first().json.body.message.from.id }}"},{"name":"user_message","value":"={{ $('L1-A Preprocessor').first().json.content_clean }}"}]},"options":{}},"id":"l15-read","name":"L1.5 — Read Session Context","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,528]},{"parameters":{"method":"POST","url":"http://localhost:5678/webhook/session-write","sendBody":true,"bodyParameters":{"parameters":[{"name":"session_key","value":"=session:telegram:{{ $('Telegram Trigger').first().json.body.message.chat.id }}:{{ $('Telegram Trigger').first().json.body.message.from.id }}"},{"name":"user_message","value":"={{ $('L1-A Preprocessor').first().json.content_clean }}"},{"name":"agent_reply","value":"={{ $('L2.5 Normalize Output').first().json.reply }}"}]},"options":{}},"id":"l15-write","name":"L1.5 — Write Session Turn","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2304,528]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO audit_log (event_type, source_ip, source, payload, timestamp)\nVALUES ('WEBHOOK_RECEIVED', NULL, 'telegram', $1::jsonb, NOW())\nON CONFLICT DO NOTHING;\nSELECT 1 AS ok;","options":{"queryReplacement":"={{ JSON.stringify({ user_id: $('Telegram Trigger').first().json.body?.message?.from?.id, chat_id: $('Telegram Trigger').first().json.body?.message?.chat?.id, msg: $('Telegram Trigger').first().json.body?.message?.text }) }}"}},"id":"l7-audit-received","name":"L7 — Audit WEBHOOK_RECEIVED","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[320,400],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}}},{"parameters":{"operation":"executeQuery","query":"SELECT COUNT(*) as blocked FROM blocked_ips WHERE ip = '{{ $('Telegram Trigger').first().json.body.message.from.id.toString() }}' AND (expires_at IS NULL OR expires_at > NOW());","options":{}},"id":"l7-blocked-check","name":"L7 — Check Blocked User","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[560,400],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"blocked-check","leftValue":"={{ $json.blocked }}","rightValue":"0","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"l7-blocked-gate","name":"L7 — Blocked Gate","type":"n8n-nodes-base.if","typeVersion":2,"position":[800,400]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO audit_log (event_type, source_ip, source, payload, timestamp)\nVALUES ('AGENT_OUTPUT', NULL, 'telegram', $1::jsonb, NOW());\nSELECT 1 AS ok;","options":{"queryReplacement":"={{ JSON.stringify({ user_id: $('Telegram Trigger').first().json.body?.message?.from?.id, reply: ($json.reply ?? '').substring(0, 200) }) }}"}},"id":"l7-audit-output","name":"L7 — Audit AGENT_OUTPUT","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2000,528],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"L7 — Audit WEBHOOK_RECEIVED","type":"main","index":0}]]},"L1-A Preprocessor":{"main":[[{"node":"Dedup Check","type":"main","index":0}]]},"Dedup Check":{"main":[[{"node":"Route by Type","type":"main","index":0}]]},"Route by Type":{"main":[[{"node":"Check Existing User","type":"main","index":0}],[{"node":"Parse Approval","type":"main","index":0}],[{"node":"Check User Approved","type":"main","index":0}]]},"Check Existing User":{"main":[[{"node":"Notify Jeff","type":"main","index":0},{"node":"Reply to Applicant","type":"main","index":0}]]},"Parse Approval":{"main":[[{"node":"Update User Status","type":"main","index":0}]]},"Update User Status":{"main":[[{"node":"Notify User of Decision","type":"main","index":0}]]},"Check User Approved":{"main":[[{"node":"Approved?","type":"main","index":0}]]},"Approved?":{"main":[[{"node":"L1.5 — Read Session Context","type":"main","index":0}],[{"node":"Not Approved Reply","type":"main","index":0}]]},"Dify Smart Router":{"main":[[{"node":"L2.5 Normalize Output","type":"main","index":0}]]},"L2.5 Normalize Output":{"main":[[{"node":"L7 — Audit AGENT_OUTPUT","type":"main","index":0}]]},"Send Reply":{"main":[[{"node":"L1.5 — Write Session Turn","type":"main","index":0}]]},"L1.5 — Read Session Context":{"main":[[{"node":"Dify Smart Router","type":"main","index":0}]]},"L1.5 — Write Session Turn":{"main":[[{"node":"Log to Inbox","type":"main","index":0}]]},"L7 — Audit WEBHOOK_RECEIVED":{"main":[[{"node":"L7 — Check Blocked User","type":"main","index":0}]]},"L7 — Check Blocked User":{"main":[[{"node":"L7 — Blocked Gate","type":"main","index":0}]]},"L7 — Blocked Gate":{"main":[[{"node":"L1-A Preprocessor","type":"main","index":0}],[]]},"L7 — Audit AGENT_OUTPUT":{"main":[[{"node":"Send Reply","type":"main","index":0}]]}},"authors":"Jeff COPREM","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-05-31T20:37:40.464Z","id":93,"workflowId":"2i43qe8gDM0rjWYb","versionId":"30d709ef-3c42-478c-ae95-20aa3e6e5a05","event":"activated","userId":"12a7009a-8941-44c5-ba2c-39b02509ad3c"}]}}