03-system/workflows/exports/WF01 — Inbox Receiver (Dify).json
{
  "updatedAt": "2026-05-31T21:33:27.916Z",
  "createdAt": "2026-05-31T21:33:27.916Z",
  "id": "4uVEG8SEM23BDrdu",
  "name": "WF01 — Inbox Receiver (Dify)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-coprem",
        "options": {}
      },
      "id": "tg-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        208,
        400
      ],
      "webhookId": "c0pr3m00000000000000000000000000"
    },
    {
      "parameters": {
        "jsCode": "// L1-A Preprocessor v4 — S5: injection defense + sanitization\nconst triggerData = $('Telegram Trigger').first().json;\nconst msg = triggerData.body?.message || triggerData.message || {};\nconst rawText = msg.text || msg.caption || '';\nconst userId = msg.from?.id || 0;\nconst chatId = msg.chat?.id || userId;\n\nfunction simpleHash(str) {\n  let hash = 5381;\n  for (let i = 0; i < str.length; i++) {\n    hash = ((hash << 5) + hash) + str.charCodeAt(i);\n    hash = hash & hash;\n  }\n  return Math.abs(hash).toString(16);\n}\n\n// S5: Sanitize — truncate, strip null bytes, escape backticks\nlet text = rawText.slice(0, 2000).replace(/\\x00/g, '').replace(/`/g, \"'\");\n\n// S5: Injection detection — detect silently, continue normally\nconst INJECTION_PATTERNS = [\n  /ignore previous/i, /forget instructions/i, /you are now/i,\n  /disregard/i, /act as/i, /jailbreak/i, /override/i\n];\nconst injection_detected = INJECTION_PATTERNS.some(p => p.test(text));\n// Do NOT expose detection to attacker — just log via flag, continue normal flow\n\nconst content_clean = text.trim().replace(/\\s+/g, ' ');\nconst thaiRegex = /[฀-๿]/;\nconst lang_detected = thaiRegex.test(content_clean) ? 'th' : 'en';\nconst msg_hash = simpleHash(`${userId}:${content_clean}`);\n\nlet msg_type = 'chat';\nif (rawText.startsWith('/start')) msg_type = 'start';\nelse if (rawText.startsWith('/rate')) msg_type = 'feedback';\nelse if (rawText.toUpperCase() === 'APPROVE' || rawText.toUpperCase() === 'REJECT') msg_type = 'approval';\n\nreturn [{ json: {\n  content_raw: rawText,\n  content_clean,\n  text: content_clean,\n  lang_detected,\n  isThai: lang_detected === 'th',\n  msg_hash,\n  hash: msg_hash,\n  msg_type,\n  isStart: msg_type === 'start',\n  isApproval: msg_type === 'approval',\n  isChat: msg_type === 'chat',\n  user_id: userId, userId,\n  chat_id: chatId, chatId,\n  firstName: msg.from?.first_name || '',\n  username: msg.from?.username || '',\n  preprocessed_at: new Date().toISOString(),\n  injection_detected\n} }];"
      },
      "id": "l1a-preprocess",
      "name": "L1-A Preprocessor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO dedup_cache (hash) VALUES ('{{ $json.hash }}') ON CONFLICT DO NOTHING; SELECT COUNT(*) as is_new FROM dedup_cache WHERE hash='{{ $json.hash }}' AND created_at > NOW() - INTERVAL '60 seconds';",
        "options": {}
      },
      "id": "check-dedup",
      "name": "Dedup Check",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        688,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "rdxzBrj9putuOkku",
          "name": "Postgres coprem_os"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('L1-A Preprocessor').first().json.isStart }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "registration"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('L1-A Preprocessor').first().json.isApproval }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "approval"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('L1-A Preprocessor').first().json.isChat }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "chat"
            }
          ]
        },
        "options": {}
      },
      "id": "route-type",
      "name": "Route by Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        928,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO users (chat_id, first_name, username, status) VALUES ({{ $('L1-A Preprocessor').first().json.chatId }}, '{{ $('L1-A Preprocessor').first().json.firstName }}', '{{ $('L1-A Preprocessor').first().json.username }}', 'pending') ON CONFLICT (chat_id) DO NOTHING; SELECT status FROM users WHERE chat_id={{ $('L1-A Preprocessor').first().json.chatId }};",
        "options": {}
      },
      "id": "reg-check",
      "name": "Check Existing User",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1168,
        208
      ],
      "credentials": {
        "postgres": {
          "id": "rdxzBrj9putuOkku",
          "name": "Postgres coprem_os"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7731591925",
        "text": "=🔔 New Registration\n\nName: {{ $('L1-A Preprocessor').first().json.firstName }}\nUsername: @{{ $('L1-A Preprocessor').first().json.username }}\nChat ID: {{ $('L1-A Preprocessor').first().json.chatId }}\n\nReply:\nAPPROVE {{ $('L1-A Preprocessor').first().json.chatId }}\nor REJECT {{ $('L1-A Preprocessor').first().json.chatId }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "reg-notify-jeff",
      "name": "Notify Jeff",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1408,
        128
      ],
      "webhookId": "7015995c-8e4c-47bd-8a5e-12aab6bc71aa",
      "credentials": {
        "telegramApi": {
          "id": "bekevyLkkiivHo0L",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('L1-A Preprocessor').first().json.chatId }}",
        "text": "✅ ได้รับคำขอแล้วครับ กรุณารอการอนุมัติจาก Jeff",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "reg-reply-user",
      "name": "Reply to Applicant",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1408,
        272
      ],
      "webhookId": "b35a1b80-4e15-4172-9d3b-f7394b8b91fc",
      "credentials": {
        "telegramApi": {
          "id": "bekevyLkkiivHo0L",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $('L1-A Preprocessor').first().json.text.toUpperCase();\nconst parts = text.split(' ');\nconst action = parts[0];\nconst targetId = parseInt(parts[1]);\nconst newStatus = action === 'APPROVE' ? 'approved' : 'rejected';\nreturn [{ json: { action, targetId, newStatus } }];"
      },
      "id": "approval-parse",
      "name": "Parse Approval",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE users SET status='{{ $json.newStatus }}', approved_at=NOW() WHERE chat_id={{ $json.targetId }}; SELECT chat_id, first_name, status FROM users WHERE chat_id={{ $json.targetId }};",
        "options": {}
      },
      "id": "approval-update",
      "name": "Update User Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1408,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "rdxzBrj9putuOkku",
          "name": "Postgres coprem_os"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.status === 'approved' ? '✅ ได้รับอนุมัติแล้วครับ! ส่งข้อความมาได้เลย' : '❌ ขออภัย คำขอถูกปฏิเสธครับ' }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "approval-notify",
      "name": "Notify User of Decision",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1648,
        400
      ],
      "webhookId": "703db362-648a-472a-b324-a032c7c33c88",
      "credentials": {
        "telegramApi": {
          "id": "bekevyLkkiivHo0L",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT status FROM users WHERE chat_id={{ $('L1-A Preprocessor').first().json.chatId }} LIMIT 1;",
        "options": {}
      },
      "id": "check-approved",
      "name": "Check User Approved",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1168,
        608
      ],
      "credentials": {
        "postgres": {
          "id": "rdxzBrj9putuOkku",
          "name": "Postgres coprem_os"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.status }}",
              "rightValue": "approved",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "is-approved",
      "name": "Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1408,
        608
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/l1c-route",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "dify-router",
      "name": "Dify Smart Router",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1648,
        528
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nlet reply = data.dify_reply\n  || (data.choices && data.choices[0] && data.choices[0].message && data.choices[0].message.content)\n  || data.answer || data.text\n  || 'ขออภัย ไม่สามารถตอบได้ตอนนี้ครับ';\nif (reply.length > 4096) reply = reply.substring(0, 4090) + '...[ต่อ]';\nconst agent = data.assigned_agent || (data.model ? 'litellm' : 'unknown');\nconst model = data.selected_model || data.model || '';\n\n// S4: Tier 3 (Ollama) gets fallback prefix\nif (model.startsWith('ollama/')) {\n  reply = '[Fallback mode — response may be shorter than usual]\\n\\n' + reply;\n}\n\nreturn [{ json: { reply, reply_text: reply, agent, model } }];"
      },
      "id": "l25-normalize",
      "name": "L2.5 Normalize Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1888,
        528
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('L1-A Preprocessor').first().json.chatId }}",
        "text": "={{ $('L2.5 Normalize Output').first().json.reply }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "send-reply",
      "name": "Send Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2128,
        528
      ],
      "webhookId": "b2ecc497-eaf3-4834-af1d-7cf06132f6ca",
      "credentials": {
        "telegramApi": {
          "id": "bekevyLkkiivHo0L",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO inbox_log (user_id, content_raw, content_clean, lang_detected, msg_hash, agent, status) VALUES ({{ $('L1-A Preprocessor').first().json.userId }}, '{{ $('L1-A Preprocessor').first().json.text }}', '{{ $('L1-A Preprocessor').first().json.text }}', '{{ $('L1-A Preprocessor').first().json.isThai ? 'th' : 'en' }}', '{{ $('L1-A Preprocessor').first().json.hash }}', '{{ $('L2.5 Normalize Output').first().json.agent }}', 'ok');",
        "options": {}
      },
      "id": "log-inbox",
      "name": "Log to Inbox",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2464,
        528
      ],
      "credentials": {
        "postgres": {
          "id": "rdxzBrj9putuOkku",
          "name": "Postgres coprem_os"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('L1-A Preprocessor').first().json.chatId }}",
        "text": "❌ คุณยังไม่ได้รับอนุมัติครับ กรุณาส่ง /start เพื่อสมัครก่อน",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "not-approved",
      "name": "Not Approved Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1648,
        704
      ],
      "webhookId": "6d11859e-5938-4aa4-9946-f72d5e3efdd8",
      "credentials": {
        "telegramApi": {
          "id": "bekevyLkkiivHo0L",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/session-read",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "channel_type",
              "value": "telegram"
            },
            {
              "name": "channel_id",
              "value": "={{ $('Telegram Trigger').first().json.body.message.chat.id }}"
            },
            {
              "name": "user_id",
              "value": "={{ $('Telegram Trigger').first().json.body.message.from.id }}"
            },
            {
              "name": "user_message",
              "value": "={{ $('L1-A Preprocessor').first().json.content_clean }}"
            }
          ]
        },
        "options": {}
      },
      "id": "l15-read",
      "name": "L1.5 — Read Session Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        528
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/session-write",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session_key",
              "value": "=session:telegram:{{ $('Telegram Trigger').first().json.body.message.chat.id }}:{{ $('Telegram Trigger').first().json.body.message.from.id }}"
            },
            {
              "name": "user_message",
              "value": "={{ $('L1-A Preprocessor').first().json.content_clean }}"
            },
            {
              "name": "agent_reply",
              "value": "={{ $('L2.5 Normalize Output').first().json.reply }}"
            }
          ]
        },
        "options": {}
      },
      "id": "l15-write",
      "name": "L1.5 — Write Session Turn",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2304,
        528
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO audit_log (event_type, source_ip, source, payload, timestamp)\nVALUES ('WEBHOOK_RECEIVED', NULL, 'telegram', $1::jsonb, NOW())\nON CONFLICT DO NOTHING;\nSELECT 1 AS ok;",
        "options": {
          "queryReplacement": "={{ JSON.stringify({ user_id: $('Telegram Trigger').first().json.body?.message?.from?.id, chat_id: $('Telegram Trigger').first().json.body?.message?.chat?.id, msg: $('Telegram Trigger').first().json.body?.message?.text }) }}"
        }
      },
      "id": "l7-audit-received",
      "name": "L7 — Audit WEBHOOK_RECEIVED",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        320,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "rdxzBrj9putuOkku",
          "name": "Postgres coprem_os"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as blocked FROM blocked_ips WHERE ip = '{{ $('Telegram Trigger').first().json.body.message.from.id.toString() }}' AND (expires_at IS NULL OR expires_at > NOW());",
        "options": {}
      },
      "id": "l7-blocked-check",
      "name": "L7 — Check Blocked User",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        560,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "rdxzBrj9putuOkku",
          "name": "Postgres coprem_os"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "blocked-check",
              "leftValue": "={{ $json.blocked }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "l7-blocked-gate",
      "name": "L7 — Blocked Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        800,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO audit_log (event_type, source_ip, source, payload, timestamp)\nVALUES ('AGENT_OUTPUT', NULL, 'telegram', $1::jsonb, NOW());\nSELECT 1 AS ok;",
        "options": {
          "queryReplacement": "={{ JSON.stringify({ user_id: $('Telegram Trigger').first().json.body?.message?.from?.id, reply: ($json.reply ?? '').substring(0, 200) }) }}"
        }
      },
      "id": "l7-audit-output",
      "name": "L7 — Audit AGENT_OUTPUT",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2000,
        528
      ],
      "credentials": {
        "postgres": {
          "id": "rdxzBrj9putuOkku",
          "name": "Postgres coprem_os"
        }
      }
    },
    {
      "id": "l1b-classifier",
      "name": "L1-B Classifier",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1740,
        528
      ],
      "parameters": {
        "method": "POST",
        "url": "http://litellm:4000/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 187234854205c015f2d8379d5455a0a8"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"model\": \"gemini-2.0-flash\", \"messages\": [{\"role\": \"system\", \"content\": \"You are the COPREM Smart Router. Classify every incoming message. Output STRICT JSON ONLY — no prose, no explanation. Output format: {\\\"pillar\\\":\\\"JOB|PERSONAL|CREATIVE\\\",\\\"domain\\\":\\\"marketing|ops|trading|brand|fiction\\\",\\\"confidence\\\":0.0,\\\"hitl_required\\\":false,\\\"hitl_reason\\\":null,\\\"translated_en\\\":\\\"english version\\\"} HITL_REQUIRED=true IF: trade size>1% risk, content publishing, system config change, irreversible action. Default to JOB if unclear.\"}, {\"role\": \"user\", \"content\": \"{{ $('L1-A Preprocessor').first().json.text }}\"}], \"max_tokens\": 200, \"temperature\": 0 }",
        "options": {}
      }
    },
    {
      "id": "l1b-parse",
      "name": "L1-B Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1960,
        528
      ],
      "parameters": {
        "jsCode": "\n// Parse L1-B LiteLLM response\nconst raw = $input.first().json;\nlet classification;\n\ntry {\n  const content = raw.choices[0].message.content;\n  // Strip markdown code fences if present\n  const cleaned = content.replace(/```json?\\n?/g, '').replace(/```/g, '').trim();\n  classification = JSON.parse(cleaned);\n} catch(e) {\n  // Fallback: default JOB\n  classification = { pillar: 'JOB', domain: 'ops', confidence: 0.8, hitl_required: false, hitl_reason: null, translated_en: '' };\n}\n\n// Merge with L1-A data\nconst l1a = $('L1-A Preprocessor').first().json;\n\nreturn [{ json: {\n  pillar:        classification.pillar       || 'JOB',\n  domain:        classification.domain       || 'ops',\n  confidence:    classification.confidence   ?? 0.8,\n  hitl_required: classification.hitl_required === true,\n  hitl_reason:   classification.hitl_reason  || null,\n  translated_en: classification.translated_en || l1a.text,\n  // Pass through L1-A fields\n  text:          l1a.text,\n  content_clean: l1a.content_clean,\n  userId:        l1a.userId,\n  chatId:        l1a.chatId,\n  msg_hash:      l1a.msg_hash,\n  lang_detected: l1a.lang_detected\n}}];\n"
      }
    },
    {
      "id": "hitl-gate",
      "name": "HITL Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2180,
        528
      ],
      "parameters": {
        "conditions": {
          "options": {
            "typeValidation": "loose",
            "version": 1,
            "caseSensitive": false,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "hitl-check",
              "leftValue": "={{ $json.hitl_required }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "hitl-alert",
      "name": "HITL Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2400,
        408
      ],
      "parameters": {
        "chatId": "={{ $('L1-A Preprocessor').first().json.chatId }}",
        "text": "Got it. This question needs a closer look — I will follow up with you shortly.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "webhookId": "29890e93-d155-42a8-8628-bb39a98bdb77",
      "credentials": {
        "telegramApi": {
          "id": "bekevyLkkiivHo0L",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "id": "low-confidence-reply",
      "name": "Low Confidence Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2400,
        648
      ],
      "parameters": {
        "chatId": "={{ $('L1-A Preprocessor').first().json.chatId }}",
        "text": "ไม่แน่ใจว่าต้องการอะไรครับ 🤔 กรุณาระบุเพิ่มเติมครับ",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "webhookId": "bddd7091-c636-4991-b1fb-72d4a4c58bd7",
      "credentials": {
        "telegramApi": {
          "id": "bekevyLkkiivHo0L",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "id": "l3-prepare",
      "name": "L3 Prepare",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        528
      ],
      "parameters": {
        "jsCode": "// L3 Context Retriever — hardcoded KB IDs (T2: added SKILL/COURSE/LEARNING → KB-06)\nconst l1b = $('L1-B Parse').first().json;\nconst pillar = (l1b.pillar || 'JOB').split('.')[0].toUpperCase();\nconst query = l1b.text || '';\n\nconst KB_06 = '044558e7-3203-40ec-be65-5ec6f812e4b0';\nconst KB_04 = '64329612-bb5d-4090-8fce-e49499d26379';\n\nconst KB_MAP = {\n  'JOB':      [KB_04, '4da3b0fe-49ea-4c12-9273-92045b8f9678'],\n  'PERSONAL': ['6b35bc3e-3e47-45d0-8dd4-c9a93629fdf3', '4da3b0fe-49ea-4c12-9273-92045b8f9678'],\n  'CREATIVE': ['1fa9ce1d-c03a-40a1-9cac-1a935af9b0a1', '4da3b0fe-49ea-4c12-9273-92045b8f9678'],\n  'SKILL':    [KB_06, KB_04],\n  'COURSE':   [KB_06, KB_04],\n  'LEARNING': [KB_06, KB_04],\n};\nconst kbIds = KB_MAP[pillar] || KB_MAP['JOB'];\n\nreturn [{ json: {\n  kb_id:  kbIds[0],\n  kb_ids: kbIds,\n  query,\n  pillar\n} }];"
      }
    },
    {
      "id": "l3-fetch-kb",
      "name": "L3 Fetch KB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2620,
        680
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://api.dify.ai/v1/datasets/{{ $json.kb_id }}/documents?limit=5",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer dataset-YbS0NzUo5D7HrzhFpwo2vOVL"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "l3-get-segments",
      "name": "L3 Get Segments",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2840,
        680
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://api.dify.ai/v1/datasets/{{ $('L3 Prepare').first().json.kb_id }}/documents/{{ $json.data[0].id }}/segments?limit=100",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer dataset-YbS0NzUo5D7HrzhFpwo2vOVL"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "l3-inject",
      "name": "L3 Inject Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3060,
        528
      ],
      "parameters": {
        "jsCode": "// L3 Inject — semantic primary, BM25 fallback (S1 + T3)\nconst l3prep = $('L3 Prepare').first().json;\nconst query = l3prep.query || '';\n\n// ── Try semantic results first ─────────────────────────────────────────────\nlet semanticRows = [];\ntry {\n  const semData = $('L3 Semantic Search').first().json;\n  // n8n postgres returns array of row objects\n  const allRows = $('L3 Semantic Search').all();\n  semanticRows = allRows\n    .map(r => r.json)\n    .filter(r => r.content && r.content.length > 10 && (r.similarity || 0) > 0.3);\n} catch(e) {\n  // Semantic failed — Ollama down or no embeddings yet\n}\n\n// ── BM25 fallback (original logic) ────────────────────────────────────────\nfunction bm25score(text, q) {\n  const words = q.toLowerCase().split(/\\s+/).filter(w => w.length > 2);\n  const t = (text || '').toLowerCase();\n  return words.reduce((s, w) => s + (t.split(w).length - 1), 0);\n}\n\nlet context = '';\nlet kb_chunks = 0;\nlet retrieval_method = 'none';\n\nif (semanticRows.length > 0) {\n  context = '### Context from Knowledge Base (semantic):\\n' +\n    semanticRows.slice(0, 3).map(r => r.content).join('\\n---\\n');\n  kb_chunks = semanticRows.length;\n  retrieval_method = 'semantic';\n} else {\n  // BM25 path\n  let segsData;\n  try {\n    segsData = $('L3 Get Segments').first().json;\n  } catch(e) {\n    segsData = { data: [] };\n  }\n  const segments = segsData.data || [];\n  const ranked = segments\n    .map(seg => ({ content: seg.content || '', score: bm25score(seg.content, query) }))\n    .sort((a, b) => b.score - a.score)\n    .slice(0, 3)\n    .filter(s => s.content.length > 10);\n\n  if (ranked.length > 0) {\n    context = '### Context from Knowledge Base:\\n' + ranked.map(s => s.content).join('\\n---\\n');\n    kb_chunks = ranked.length;\n    retrieval_method = 'bm25';\n  }\n}\n\nconst kb_miss = kb_chunks === 0;\nif (kb_miss) context = 'No relevant KB content found for this query.';\n\nconst l1b = $('L1-B Parse').first().json;\nreturn [{ json: {\n  ...l1b,\n  context,\n  kb_chunks,\n  kb_miss,\n  retrieval_method,\n  kb_id_used: l3prep.kb_id,\n  pillar: l3prep.pillar || l1b.pillar || 'JOB'\n} }];"
      }
    },
    {
      "id": "l3-build-body",
      "name": "L3 Build Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3280,
        528
      ],
      "parameters": {
        "jsCode": "\n// Build L1-C request body with KB context properly embedded\nconst l3 = $('L3 Inject Context').first().json;\nconst l1a = $('L1-A Preprocessor').first().json;\n\n// context may contain quotes/newlines — safe to put in JSON object directly\nreturn [{ json: {\n  pillar:  l3.pillar  || 'JOB',\n  message: l1a.text   || '',\n  user_id: String(l1a.userId || ''),\n  context: l3.context || ''\n} }];\n"
      }
    },
    {
      "id": "confidence-check",
      "name": "Confidence Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2080,
        528
      ],
      "parameters": {
        "conditions": {
          "options": {
            "typeValidation": "loose",
            "version": 1,
            "caseSensitive": false,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "conf-gte",
              "leftValue": "={{ $json.confidence }}",
              "rightValue": 0.7,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "l7-kb-miss",
      "name": "L7 — Audit KB Miss",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3060,
        648
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO audit_log (event_type, source, payload)\nSELECT 'KB_MISS', 'L3', $1::jsonb\nWHERE ($1::jsonb->>'kb_miss')::boolean = true;\nSELECT 1 AS ok;",
        "options": {
          "queryReplacement": "={{ JSON.stringify({ pillar: $('L3 Inject Context').first().json.pillar, query: ($('L3 Inject Context').first().json.text || '').substring(0, 100), kb_miss: $('L3 Inject Context').first().json.kb_miss }) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "rdxzBrj9putuOkku",
          "name": "Postgres coprem_os"
        }
      }
    },
    {
      "id": "hitl-queue-insert",
      "name": "HITL Queue Insert",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2640,
        408
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO hitl_queue (chat_id, message, created_at)\nVALUES ($1, $2, NOW());\nSELECT 1 AS ok;",
        "options": {
          "queryReplacement": "={{ $('L1-A Preprocessor').first().json.chatId.toString() }}, {{ $('L1-A Preprocessor').first().json.text.replace(/'/g, \"''\") }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "rdxzBrj9putuOkku",
          "name": "Postgres coprem_os"
        }
      }
    },
    {
      "id": "l3-embed-query",
      "name": "L3 Embed Query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2620,
        528
      ],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/embed",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"model\": \"nomic-embed-text\", \"input\": \"{{ $('L3 Prepare').first().json.query }}\" }",
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "l3-semantic-search",
      "name": "L3 Semantic Search",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2840,
        528
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT content, pillar, kb_id, 1 - (embedding_768 <=> $1::vector) AS similarity\nFROM memory_embeddings\nWHERE embedding_768 IS NOT NULL AND archived = false\nORDER BY embedding_768 <=> $1::vector\nLIMIT 5;",
        "options": {
          "queryReplacement": "={{ '[' + ($('L3 Embed Query').first().json?.embeddings?.[0] || []).join(',') + ']' }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "rdxzBrj9putuOkku",
          "name": "Postgres coprem_os"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "l7-injection-audit",
      "name": "L7 — Audit Injection Attempt",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        448,
        560
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO audit_log (event_type, source, payload)\nSELECT 'INJECTION_ATTEMPT', 'L1-A', $1::jsonb\nWHERE ($1::jsonb->>'injection_detected')::boolean = true;\nSELECT 1 AS ok;",
        "options": {
          "queryReplacement": "={{ JSON.stringify({ user_id: $json.userId, msg_hash: $json.msg_hash, injection_detected: $json.injection_detected }) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "rdxzBrj9putuOkku",
          "name": "Postgres coprem_os"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "L7 — Audit WEBHOOK_RECEIVED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "L1-A Preprocessor": {
      "main": [
        [
          {
            "node": "L7 — Audit Injection Attempt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup Check": {
      "main": [
        [
          {
            "node": "Route by Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Type": {
      "main": [
        [
          {
            "node": "Check Existing User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Approval",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check User Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing User": {
      "main": [
        [
          {
            "node": "Notify Jeff",
            "type": "main",
            "index": 0
          },
          {
            "node": "Reply to Applicant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Approval": {
      "main": [
        [
          {
            "node": "Update User Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update User Status": {
      "main": [
        [
          {
            "node": "Notify User of Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check User Approved": {
      "main": [
        [
          {
            "node": "Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved?": {
      "main": [
        [
          {
            "node": "L1.5 — Read Session Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not Approved Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dify Smart Router": {
      "main": [
        [
          {
            "node": "L2.5 Normalize Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "L2.5 Normalize Output": {
      "main": [
        [
          {
            "node": "L7 — Audit AGENT_OUTPUT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reply": {
      "main": [
        [
          {
            "node": "L1.5 — Write Session Turn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "L1.5 — Read Session Context": {
      "main": [
        [
          {
            "node": "L1-B Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "L1.5 — Write Session Turn": {
      "main": [
        [
          {
            "node": "Log to Inbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "L7 — Audit WEBHOOK_RECEIVED": {
      "main": [
        [
          {
            "node": "L7 — Check Blocked User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "L7 — Check Blocked User": {
      "main": [
        [
          {
            "node": "L7 — Blocked Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "L7 — Blocked Gate": {
      "main": [
        [
          {
            "node": "L1-A Preprocessor",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "L7 — Audit AGENT_OUTPUT": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "L1-B Classifier": {
      "main": [
        [
          {
            "node": "L1-B Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "L1-B Parse": {
      "main": [
        [
          {
            "node": "Confidence Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HITL Gate": {
      "main": [
        [
          {
            "node": "HITL Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "L3 Prepare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HITL Alert": {
      "main": [
        [
          {
            "node": "HITL Queue Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "L3 Prepare": {
      "main": [
        [
          {
            "node": "L3 Embed Query",
            "type": "main",
            "index": 0
          },
          {
            "node": "L3 Fetch KB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "L3 Fetch KB": {
      "main": [
        [
          {
            "node": "L3 Get Segments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "L3 Get Segments": {
      "main": [
        [
          {
            "node": "L3 Inject Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "L3 Inject Context": {
      "main": [
        [
          {
            "node": "L7 — Audit KB Miss",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "L3 Build Body": {
      "main": [
        [
          {
            "node": "Dify Smart Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confidence Check": {
      "main": [
        [
          {
            "node": "HITL Gate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Low Confidence Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "L7 — Audit KB Miss": {
      "main": [
        [
          {
            "node": "L3 Build Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HITL Queue Insert": {
      "main": [
        []
      ]
    },
    "L3 Embed Query": {
      "main": [
        [
          {
            "node": "L3 Semantic Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "L3 Semantic Search": {
      "main": [
        [
          {
            "node": "L3 Inject Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "L7 — Audit Injection Attempt": {
      "main": [
        [
          {
            "node": "Dedup Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "7fe65687-0e31-4422-a092-9b8b859616d3",
  "activeVersionId": "7fe65687-0e31-4422-a092-9b8b859616d3",
  "versionCounter": 1,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-31T21:33:27.916Z",
      "createdAt": "2026-05-31T21:33:27.916Z",
      "role": "workflow:owner",
      "workflowId": "4uVEG8SEM23BDrdu",
      "projectId": "zcgfC5I8AUAr3U8J",
      "project": {
        "updatedAt": "2026-05-30T20:55:56.474Z",
        "createdAt": "2026-05-30T20:51:13.491Z",
        "id": "zcgfC5I8AUAr3U8J",
        "name": "Jeff COPREM <jooshdathumlong@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "12a7009a-8941-44c5-ba2c-39b02509ad3c"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-05-31T21:33:27.916Z",
    "createdAt": "2026-05-31T21:33:27.916Z",
    "versionId": "7fe65687-0e31-4422-a092-9b8b859616d3",
    "workflowId": "4uVEG8SEM23BDrdu",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "telegram-coprem",
          "options": {}
        },
        "id": "tg-trigger",
        "name": "Telegram Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          208,
          400
        ],
        "webhookId": "c0pr3m00000000000000000000000000"
      },
      {
        "parameters": {
          "jsCode": "// L1-A Preprocessor v4 — S5: injection defense + sanitization\nconst triggerData = $('Telegram Trigger').first().json;\nconst msg = triggerData.body?.message || triggerData.message || {};\nconst rawText = msg.text || msg.caption || '';\nconst userId = msg.from?.id || 0;\nconst chatId = msg.chat?.id || userId;\n\nfunction simpleHash(str) {\n  let hash = 5381;\n  for (let i = 0; i < str.length; i++) {\n    hash = ((hash << 5) + hash) + str.charCodeAt(i);\n    hash = hash & hash;\n  }\n  return Math.abs(hash).toString(16);\n}\n\n// S5: Sanitize — truncate, strip null bytes, escape backticks\nlet text = rawText.slice(0, 2000).replace(/\\x00/g, '').replace(/`/g, \"'\");\n\n// S5: Injection detection — detect silently, continue normally\nconst INJECTION_PATTERNS = [\n  /ignore previous/i, /forget instructions/i, /you are now/i,\n  /disregard/i, /act as/i, /jailbreak/i, /override/i\n];\nconst injection_detected = INJECTION_PATTERNS.some(p => p.test(text));\n// Do NOT expose detection to attacker — just log via flag, continue normal flow\n\nconst content_clean = text.trim().replace(/\\s+/g, ' ');\nconst thaiRegex = /[฀-๿]/;\nconst lang_detected = thaiRegex.test(content_clean) ? 'th' : 'en';\nconst msg_hash = simpleHash(`${userId}:${content_clean}`);\n\nlet msg_type = 'chat';\nif (rawText.startsWith('/start')) msg_type = 'start';\nelse if (rawText.startsWith('/rate')) msg_type = 'feedback';\nelse if (rawText.toUpperCase() === 'APPROVE' || rawText.toUpperCase() === 'REJECT') msg_type = 'approval';\n\nreturn [{ json: {\n  content_raw: rawText,\n  content_clean,\n  text: content_clean,\n  lang_detected,\n  isThai: lang_detected === 'th',\n  msg_hash,\n  hash: msg_hash,\n  msg_type,\n  isStart: msg_type === 'start',\n  isApproval: msg_type === 'approval',\n  isChat: msg_type === 'chat',\n  user_id: userId, userId,\n  chat_id: chatId, chatId,\n  firstName: msg.from?.first_name || '',\n  username: msg.from?.username || '',\n  preprocessed_at: new Date().toISOString(),\n  injection_detected\n} }];"
        },
        "id": "l1a-preprocess",
        "name": "L1-A Preprocessor",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          448,
          400
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO dedup_cache (hash) VALUES ('{{ $json.hash }}') ON CONFLICT DO NOTHING; SELECT COUNT(*) as is_new FROM dedup_cache WHERE hash='{{ $json.hash }}' AND created_at > NOW() - INTERVAL '60 seconds';",
          "options": {}
        },
        "id": "check-dedup",
        "name": "Dedup Check",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          688,
          400
        ],
        "credentials": {
          "postgres": {
            "id": "rdxzBrj9putuOkku",
            "name": "Postgres coprem_os"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 1
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('L1-A Preprocessor').first().json.isStart }}",
                      "rightValue": true,
                      "operator": {
                        "type": "boolean",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "registration"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 1
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('L1-A Preprocessor').first().json.isApproval }}",
                      "rightValue": true,
                      "operator": {
                        "type": "boolean",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "approval"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 1
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('L1-A Preprocessor').first().json.isChat }}",
                      "rightValue": true,
                      "operator": {
                        "type": "boolean",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "chat"
              }
            ]
          },
          "options": {}
        },
        "id": "route-type",
        "name": "Route by Type",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3,
        "position": [
          928,
          400
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO users (chat_id, first_name, username, status) VALUES ({{ $('L1-A Preprocessor').first().json.chatId }}, '{{ $('L1-A Preprocessor').first().json.firstName }}', '{{ $('L1-A Preprocessor').first().json.username }}', 'pending') ON CONFLICT (chat_id) DO NOTHING; SELECT status FROM users WHERE chat_id={{ $('L1-A Preprocessor').first().json.chatId }};",
          "options": {}
        },
        "id": "reg-check",
        "name": "Check Existing User",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1168,
          208
        ],
        "credentials": {
          "postgres": {
            "id": "rdxzBrj9putuOkku",
            "name": "Postgres coprem_os"
          }
        }
      },
      {
        "parameters": {
          "chatId": "7731591925",
          "text": "=🔔 New Registration\n\nName: {{ $('L1-A Preprocessor').first().json.firstName }}\nUsername: @{{ $('L1-A Preprocessor').first().json.username }}\nChat ID: {{ $('L1-A Preprocessor').first().json.chatId }}\n\nReply:\nAPPROVE {{ $('L1-A Preprocessor').first().json.chatId }}\nor REJECT {{ $('L1-A Preprocessor').first().json.chatId }}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "id": "reg-notify-jeff",
        "name": "Notify Jeff",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1408,
          128
        ],
        "webhookId": "7015995c-8e4c-47bd-8a5e-12aab6bc71aa",
        "credentials": {
          "telegramApi": {
            "id": "bekevyLkkiivHo0L",
            "name": "Telegram Bot"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('L1-A Preprocessor').first().json.chatId }}",
          "text": "✅ ได้รับคำขอแล้วครับ กรุณารอการอนุมัติจาก Jeff",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "id": "reg-reply-user",
        "name": "Reply to Applicant",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1408,
          272
        ],
        "webhookId": "b35a1b80-4e15-4172-9d3b-f7394b8b91fc",
        "credentials": {
          "telegramApi": {
            "id": "bekevyLkkiivHo0L",
            "name": "Telegram Bot"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const text = $('L1-A Preprocessor').first().json.text.toUpperCase();\nconst parts = text.split(' ');\nconst action = parts[0];\nconst targetId = parseInt(parts[1]);\nconst newStatus = action === 'APPROVE' ? 'approved' : 'rejected';\nreturn [{ json: { action, targetId, newStatus } }];"
        },
        "id": "approval-parse",
        "name": "Parse Approval",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1168,
          400
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE users SET status='{{ $json.newStatus }}', approved_at=NOW() WHERE chat_id={{ $json.targetId }}; SELECT chat_id, first_name, status FROM users WHERE chat_id={{ $json.targetId }};",
          "options": {}
        },
        "id": "approval-update",
        "name": "Update User Status",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1408,
          400
        ],
        "credentials": {
          "postgres": {
            "id": "rdxzBrj9putuOkku",
            "name": "Postgres coprem_os"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $json.chat_id }}",
          "text": "={{ $json.status === 'approved' ? '✅ ได้รับอนุมัติแล้วครับ! ส่งข้อความมาได้เลย' : '❌ ขออภัย คำขอถูกปฏิเสธครับ' }}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "id": "approval-notify",
        "name": "Notify User of Decision",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1648,
          400
        ],
        "webhookId": "703db362-648a-472a-b324-a032c7c33c88",
        "credentials": {
          "telegramApi": {
            "id": "bekevyLkkiivHo0L",
            "name": "Telegram Bot"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT status FROM users WHERE chat_id={{ $('L1-A Preprocessor').first().json.chatId }} LIMIT 1;",
          "options": {}
        },
        "id": "check-approved",
        "name": "Check User Approved",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1168,
          608
        ],
        "credentials": {
          "postgres": {
            "id": "rdxzBrj9putuOkku",
            "name": "Postgres coprem_os"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "c1",
                "leftValue": "={{ $json.status }}",
                "rightValue": "approved",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "is-approved",
        "name": "Approved?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1408,
          608
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://localhost:5678/webhook/l1c-route",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json) }}",
          "options": {}
        },
        "id": "dify-router",
        "name": "Dify Smart Router",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1648,
          528
        ]
      },
      {
        "parameters": {
          "jsCode": "const data = $input.first().json;\nlet reply = data.dify_reply\n  || (data.choices && data.choices[0] && data.choices[0].message && data.choices[0].message.content)\n  || data.answer || data.text\n  || 'ขออภัย ไม่สามารถตอบได้ตอนนี้ครับ';\nif (reply.length > 4096) reply = reply.substring(0, 4090) + '...[ต่อ]';\nconst agent = data.assigned_agent || (data.model ? 'litellm' : 'unknown');\nconst model = data.selected_model || data.model || '';\n\n// S4: Tier 3 (Ollama) gets fallback prefix\nif (model.startsWith('ollama/')) {\n  reply = '[Fallback mode — response may be shorter than usual]\\n\\n' + reply;\n}\n\nreturn [{ json: { reply, reply_text: reply, agent, model } }];"
        },
        "id": "l25-normalize",
        "name": "L2.5 Normalize Output",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1888,
          528
        ]
      },
      {
        "parameters": {
          "chatId": "={{ $('L1-A Preprocessor').first().json.chatId }}",
          "text": "={{ $('L2.5 Normalize Output').first().json.reply }}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "id": "send-reply",
        "name": "Send Reply",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          2128,
          528
        ],
        "webhookId": "b2ecc497-eaf3-4834-af1d-7cf06132f6ca",
        "credentials": {
          "telegramApi": {
            "id": "bekevyLkkiivHo0L",
            "name": "Telegram Bot"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO inbox_log (user_id, content_raw, content_clean, lang_detected, msg_hash, agent, status) VALUES ({{ $('L1-A Preprocessor').first().json.userId }}, '{{ $('L1-A Preprocessor').first().json.text }}', '{{ $('L1-A Preprocessor').first().json.text }}', '{{ $('L1-A Preprocessor').first().json.isThai ? 'th' : 'en' }}', '{{ $('L1-A Preprocessor').first().json.hash }}', '{{ $('L2.5 Normalize Output').first().json.agent }}', 'ok');",
          "options": {}
        },
        "id": "log-inbox",
        "name": "Log to Inbox",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          2464,
          528
        ],
        "credentials": {
          "postgres": {
            "id": "rdxzBrj9putuOkku",
            "name": "Postgres coprem_os"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('L1-A Preprocessor').first().json.chatId }}",
          "text": "❌ คุณยังไม่ได้รับอนุมัติครับ กรุณาส่ง /start เพื่อสมัครก่อน",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "id": "not-approved",
        "name": "Not Approved Reply",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1648,
          704
        ],
        "webhookId": "6d11859e-5938-4aa4-9946-f72d5e3efdd8",
        "credentials": {
          "telegramApi": {
            "id": "bekevyLkkiivHo0L",
            "name": "Telegram Bot"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://localhost:5678/webhook/session-read",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "channel_type",
                "value": "telegram"
              },
              {
                "name": "channel_id",
                "value": "={{ $('Telegram Trigger').first().json.body.message.chat.id }}"
              },
              {
                "name": "user_id",
                "value": "={{ $('Telegram Trigger').first().json.body.message.from.id }}"
              },
              {
                "name": "user_message",
                "value": "={{ $('L1-A Preprocessor').first().json.content_clean }}"
              }
            ]
          },
          "options": {}
        },
        "id": "l15-read",
        "name": "L1.5 — Read Session Context",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1520,
          528
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://localhost:5678/webhook/session-write",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "session_key",
                "value": "=session:telegram:{{ $('Telegram Trigger').first().json.body.message.chat.id }}:{{ $('Telegram Trigger').first().json.body.message.from.id }}"
              },
              {
                "name": "user_message",
                "value": "={{ $('L1-A Preprocessor').first().json.content_clean }}"
              },
              {
                "name": "agent_reply",
                "value": "={{ $('L2.5 Normalize Output').first().json.reply }}"
              }
            ]
          },
          "options": {}
        },
        "id": "l15-write",
        "name": "L1.5 — Write Session Turn",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2304,
          528
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO audit_log (event_type, source_ip, source, payload, timestamp)\nVALUES ('WEBHOOK_RECEIVED', NULL, 'telegram', $1::jsonb, NOW())\nON CONFLICT DO NOTHING;\nSELECT 1 AS ok;",
          "options": {
            "queryReplacement": "={{ JSON.stringify({ user_id: $('Telegram Trigger').first().json.body?.message?.from?.id, chat_id: $('Telegram Trigger').first().json.body?.message?.chat?.id, msg: $('Telegram Trigger').first().json.body?.message?.text }) }}"
          }
        },
        "id": "l7-audit-received",
        "name": "L7 — Audit WEBHOOK_RECEIVED",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          320,
          400
        ],
        "credentials": {
          "postgres": {
            "id": "rdxzBrj9putuOkku",
            "name": "Postgres coprem_os"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT COUNT(*) as blocked FROM blocked_ips WHERE ip = '{{ $('Telegram Trigger').first().json.body.message.from.id.toString() }}' AND (expires_at IS NULL OR expires_at > NOW());",
          "options": {}
        },
        "id": "l7-blocked-check",
        "name": "L7 — Check Blocked User",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          560,
          400
        ],
        "credentials": {
          "postgres": {
            "id": "rdxzBrj9putuOkku",
            "name": "Postgres coprem_os"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 1
            },
            "conditions": [
              {
                "id": "blocked-check",
                "leftValue": "={{ $json.blocked }}",
                "rightValue": "0",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "l7-blocked-gate",
        "name": "L7 — Blocked Gate",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          800,
          400
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO audit_log (event_type, source_ip, source, payload, timestamp)\nVALUES ('AGENT_OUTPUT', NULL, 'telegram', $1::jsonb, NOW());\nSELECT 1 AS ok;",
          "options": {
            "queryReplacement": "={{ JSON.stringify({ user_id: $('Telegram Trigger').first().json.body?.message?.from?.id, reply: ($json.reply ?? '').substring(0, 200) }) }}"
          }
        },
        "id": "l7-audit-output",
        "name": "L7 — Audit AGENT_OUTPUT",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          2000,
          528
        ],
        "credentials": {
          "postgres": {
            "id": "rdxzBrj9putuOkku",
            "name": "Postgres coprem_os"
          }
        }
      },
      {
        "id": "l1b-classifier",
        "name": "L1-B Classifier",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1740,
          528
        ],
        "parameters": {
          "method": "POST",
          "url": "http://litellm:4000/v1/chat/completions",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer 187234854205c015f2d8379d5455a0a8"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={ \"model\": \"gemini-2.0-flash\", \"messages\": [{\"role\": \"system\", \"content\": \"You are the COPREM Smart Router. Classify every incoming message. Output STRICT JSON ONLY — no prose, no explanation. Output format: {\\\"pillar\\\":\\\"JOB|PERSONAL|CREATIVE\\\",\\\"domain\\\":\\\"marketing|ops|trading|brand|fiction\\\",\\\"confidence\\\":0.0,\\\"hitl_required\\\":false,\\\"hitl_reason\\\":null,\\\"translated_en\\\":\\\"english version\\\"} HITL_REQUIRED=true IF: trade size>1% risk, content publishing, system config change, irreversible action. Default to JOB if unclear.\"}, {\"role\": \"user\", \"content\": \"{{ $('L1-A Preprocessor').first().json.text }}\"}], \"max_tokens\": 200, \"temperature\": 0 }",
          "options": {}
        }
      },
      {
        "id": "l1b-parse",
        "name": "L1-B Parse",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1960,
          528
        ],
        "parameters": {
          "jsCode": "\n// Parse L1-B LiteLLM response\nconst raw = $input.first().json;\nlet classification;\n\ntry {\n  const content = raw.choices[0].message.content;\n  // Strip markdown code fences if present\n  const cleaned = content.replace(/```json?\\n?/g, '').replace(/```/g, '').trim();\n  classification = JSON.parse(cleaned);\n} catch(e) {\n  // Fallback: default JOB\n  classification = { pillar: 'JOB', domain: 'ops', confidence: 0.8, hitl_required: false, hitl_reason: null, translated_en: '' };\n}\n\n// Merge with L1-A data\nconst l1a = $('L1-A Preprocessor').first().json;\n\nreturn [{ json: {\n  pillar:        classification.pillar       || 'JOB',\n  domain:        classification.domain       || 'ops',\n  confidence:    classification.confidence   ?? 0.8,\n  hitl_required: classification.hitl_required === true,\n  hitl_reason:   classification.hitl_reason  || null,\n  translated_en: classification.translated_en || l1a.text,\n  // Pass through L1-A fields\n  text:          l1a.text,\n  content_clean: l1a.content_clean,\n  userId:        l1a.userId,\n  chatId:        l1a.chatId,\n  msg_hash:      l1a.msg_hash,\n  lang_detected: l1a.lang_detected\n}}];\n"
        }
      },
      {
        "id": "hitl-gate",
        "name": "HITL Gate",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          2180,
          528
        ],
        "parameters": {
          "conditions": {
            "options": {
              "typeValidation": "loose",
              "version": 1,
              "caseSensitive": false,
              "leftValue": ""
            },
            "conditions": [
              {
                "id": "hitl-check",
                "leftValue": "={{ $json.hitl_required }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        }
      },
      {
        "id": "hitl-alert",
        "name": "HITL Alert",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          2400,
          408
        ],
        "parameters": {
          "chatId": "={{ $('L1-A Preprocessor').first().json.chatId }}",
          "text": "Got it. This question needs a closer look — I will follow up with you shortly.",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "webhookId": "29890e93-d155-42a8-8628-bb39a98bdb77",
        "credentials": {
          "telegramApi": {
            "id": "bekevyLkkiivHo0L",
            "name": "Telegram Bot"
          }
        }
      },
      {
        "id": "low-confidence-reply",
        "name": "Low Confidence Reply",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          2400,
          648
        ],
        "parameters": {
          "chatId": "={{ $('L1-A Preprocessor').first().json.chatId }}",
          "text": "ไม่แน่ใจว่าต้องการอะไรครับ 🤔 กรุณาระบุเพิ่มเติมครับ",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "webhookId": "bddd7091-c636-4991-b1fb-72d4a4c58bd7",
        "credentials": {
          "telegramApi": {
            "id": "bekevyLkkiivHo0L",
            "name": "Telegram Bot"
          }
        }
      },
      {
        "id": "l3-prepare",
        "name": "L3 Prepare",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2400,
          528
        ],
        "parameters": {
          "jsCode": "// L3 Context Retriever — hardcoded KB IDs (T2: added SKILL/COURSE/LEARNING → KB-06)\nconst l1b = $('L1-B Parse').first().json;\nconst pillar = (l1b.pillar || 'JOB').split('.')[0].toUpperCase();\nconst query = l1b.text || '';\n\nconst KB_06 = '044558e7-3203-40ec-be65-5ec6f812e4b0';\nconst KB_04 = '64329612-bb5d-4090-8fce-e49499d26379';\n\nconst KB_MAP = {\n  'JOB':      [KB_04, '4da3b0fe-49ea-4c12-9273-92045b8f9678'],\n  'PERSONAL': ['6b35bc3e-3e47-45d0-8dd4-c9a93629fdf3', '4da3b0fe-49ea-4c12-9273-92045b8f9678'],\n  'CREATIVE': ['1fa9ce1d-c03a-40a1-9cac-1a935af9b0a1', '4da3b0fe-49ea-4c12-9273-92045b8f9678'],\n  'SKILL':    [KB_06, KB_04],\n  'COURSE':   [KB_06, KB_04],\n  'LEARNING': [KB_06, KB_04],\n};\nconst kbIds = KB_MAP[pillar] || KB_MAP['JOB'];\n\nreturn [{ json: {\n  kb_id:  kbIds[0],\n  kb_ids: kbIds,\n  query,\n  pillar\n} }];"
        }
      },
      {
        "id": "l3-fetch-kb",
        "name": "L3 Fetch KB",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2620,
          528
        ],
        "parameters": {
          "method": "GET",
          "url": "=https://api.dify.ai/v1/datasets/{{ $json.kb_id }}/documents?limit=5",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer dataset-YbS0NzUo5D7HrzhFpwo2vOVL"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "l3-get-segments",
        "name": "L3 Get Segments",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2840,
          528
        ],
        "parameters": {
          "method": "GET",
          "url": "=https://api.dify.ai/v1/datasets/{{ $('L3 Prepare').first().json.kb_id }}/documents/{{ $json.data[0].id }}/segments?limit=100",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer dataset-YbS0NzUo5D7HrzhFpwo2vOVL"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "l3-inject",
        "name": "L3 Inject Context",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3060,
          528
        ],
        "parameters": {
          "jsCode": "// L3 Inject — extract top segments, build context, log KB_MISS (T3)\nconst l3prep = $('L3 Prepare').first().json;\nconst segsData = $input.first().json;\nconst query = l3prep.query || '';\n\nfunction score(text, q) {\n  const words = q.toLowerCase().split(/\\s+/).filter(w => w.length > 2);\n  const t = (text || '').toLowerCase();\n  return words.reduce((s, w) => s + (t.split(w).length - 1), 0);\n}\n\nconst segments = segsData.data || [];\nconst ranked = segments\n  .map(seg => ({ content: seg.content || '', score: score(seg.content, query) }))\n  .sort((a, b) => b.score - a.score)\n  .slice(0, 3)\n  .filter(s => s.content.length > 10);\n\nconst kb_miss = ranked.length === 0;\nconst context = kb_miss\n  ? 'No relevant KB content found for this query.'\n  : '### Context from Knowledge Base:\\n' + ranked.map(s => s.content).join('\\n---\\n');\n\nconst l1b = $('L1-B Parse').first().json;\nreturn [{ json: {\n  ...l1b,\n  context,\n  kb_chunks: ranked.length,\n  kb_miss,\n  kb_id_used: l3prep.kb_id,\n  pillar: l3prep.pillar || l1b.pillar || 'JOB'\n} }];"
        }
      },
      {
        "id": "l3-build-body",
        "name": "L3 Build Body",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3280,
          528
        ],
        "parameters": {
          "jsCode": "\n// Build L1-C request body with KB context properly embedded\nconst l3 = $('L3 Inject Context').first().json;\nconst l1a = $('L1-A Preprocessor').first().json;\n\n// context may contain quotes/newlines — safe to put in JSON object directly\nreturn [{ json: {\n  pillar:  l3.pillar  || 'JOB',\n  message: l1a.text   || '',\n  user_id: String(l1a.userId || ''),\n  context: l3.context || ''\n} }];\n"
        }
      }
    ],
    "connections": {
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "L7 — Audit WEBHOOK_RECEIVED",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "L1-A Preprocessor": {
        "main": [
          [
            {
              "node": "L7 — Audit Injection Attempt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Dedup Check": {
        "main": [
          [
            {
              "node": "Route by Type",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Route by Type": {
        "main": [
          [
            {
              "node": "Check Existing User",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Parse Approval",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Check User Approved",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Existing User": {
        "main": [
          [
            {
              "node": "Notify Jeff",
              "type": "main",
              "index": 0
            },
            {
              "node": "Reply to Applicant",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Approval": {
        "main": [
          [
            {
              "node": "Update User Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update User Status": {
        "main": [
          [
            {
              "node": "Notify User of Decision",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check User Approved": {
        "main": [
          [
            {
              "node": "Approved?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Approved?": {
        "main": [
          [
            {
              "node": "L1.5 — Read Session Context",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Not Approved Reply",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Dify Smart Router": {
        "main": [
          [
            {
              "node": "L2.5 Normalize Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "L2.5 Normalize Output": {
        "main": [
          [
            {
              "node": "L7 — Audit AGENT_OUTPUT",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Reply": {
        "main": [
          [
            {
              "node": "L1.5 — Write Session Turn",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "L1.5 — Read Session Context": {
        "main": [
          [
            {
              "node": "L1-B Classifier",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "L1.5 — Write Session Turn": {
        "main": [
          [
            {
              "node": "Log to Inbox",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "L7 — Audit WEBHOOK_RECEIVED": {
        "main": [
          [
            {
              "node": "L7 — Check Blocked User",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "L7 — Check Blocked User": {
        "main": [
          [
            {
              "node": "L7 — Blocked Gate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "L7 — Blocked Gate": {
        "main": [
          [
            {
              "node": "L1-A Preprocessor",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "L7 — Audit AGENT_OUTPUT": {
        "main": [
          [
            {
              "node": "Send Reply",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "L1-B Classifier": {
        "main": [
          [
            {
              "node": "L1-B Parse",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "L1-B Parse": {
        "main": [
          [
            {
              "node": "HITL Gate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HITL Gate": {
        "main": [
          [
            {
              "node": "HITL Alert",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "L3 Prepare",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HITL Alert": {
        "main": [
          [
            {
              "node": "HITL Queue Insert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "L3 Prepare": {
        "main": [
          [
            {
              "node": "L3 Fetch KB",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "L3 Fetch KB": {
        "main": [
          [
            {
              "node": "L3 Get Segments",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "L3 Get Segments": {
        "main": [
          [
            {
              "node": "L3 Inject Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "L3 Inject Context": {
        "main": [
          [
            {
              "node": "L7 — Audit KB Miss",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "L3 Build Body": {
        "main": [
          [
            {
              "node": "Dify Smart Router",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "L7 — Audit KB Miss": {
        "main": [
          [
            {
              "node": "L3 Build Body",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HITL Queue Insert": {
        "main": [
          []
        ]
      },
      "L7 — Audit Injection Attempt": {
        "main": [
          [
            {
              "node": "Dedup Check",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Jeff COPREM",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-31T21:33:27.949Z",
        "id": 106,
        "workflowId": "4uVEG8SEM23BDrdu",
        "versionId": "7fe65687-0e31-4422-a092-9b8b859616d3",
        "event": "activated",
        "userId": "12a7009a-8941-44c5-ba2c-39b02509ad3c"
      }
    ]
  }
}