03-system/workflows/exports/WF07 — Feedback Collector.json
{"updatedAt":"2026-05-31T08:12:21.887Z","createdAt":"2026-05-31T03:17:53.307Z","id":"uJVllR5FRNkYkwzS","name":"WF07 — Feedback Collector","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"id":"tg-trigger-fb","name":"Telegram Trigger — Feedback","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[240,300],"credentials":{"telegramApi":{"id":"bekevyLkkiivHo0L","name":"Telegram Bot"}},"webhookId":"5f031b75-5666-43f4-bfe8-e130feb53562"},{"parameters":{"jsCode":"const msg = $json.message?.text || '';\nconst userId = $json.message?.from?.id;\n\n// Match /rate N or ⭐ count (1-5)\nconst rateMatch = msg.match(/\\/rate\\s+([1-5])/i) || msg.match(/(⭐{1,5})/);\nif (!rateMatch) return null; // not a feedback message\n\nlet score;\nif (rateMatch[1] && /^[1-5]$/.test(rateMatch[1])) {\n  score = parseInt(rateMatch[1]);\n} else if (rateMatch[1]) {\n  score = rateMatch[1].length; // count stars\n}\n\nconst flagged = score < 3;\nreturn {\n  score,\n  flagged,\n  user_id: userId,\n  raw_message: msg,\n  is_feedback: true\n};"},"id":"parse-rating","name":"Code — Parse Rating","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"is-feedback","leftValue":"={{ $json.is_feedback }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"}},"id":"check-is-feedback","name":"Is Feedback?","type":"n8n-nodes-base.if","typeVersion":2,"position":[680,300]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO task_board (pillar, task_desc, assigned_agent, status, feedback_score, created_at)\nVALUES ('FEEDBACK', 'User rating: {{ $json.score }}/5', 'jeff', CASE WHEN {{ $json.flagged }} THEN 'flagged' ELSE 'ok' END, {{ $json.score }}, NOW())\nRETURNING id, feedback_score, status;"},"id":"save-feedback","name":"Postgres — Save Feedback","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[900,200],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO audit_log (event_type, source, payload, timestamp)\nVALUES ('FEEDBACK_RECEIVED', 'telegram', '{\"score\": {{ $('Code — Parse Rating').item.json.score }}, \"flagged\": {{ $('Code — Parse Rating').item.json.flagged }}}'::jsonb, NOW());"},"id":"audit-feedback","name":"L7 — Audit FEEDBACK_RECEIVED","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[900,360],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger — Feedback').item.json.message.chat.id }}","text":"={{ $('Code — Parse Rating').item.json.flagged ? '⚠️ Noted — score ' + $('Code — Parse Rating').item.json.score + '/5 flagged for review.' : '✅ Thanks! Score ' + $('Code — Parse Rating').item.json.score + '/5 recorded.' }}","additionalFields":{}},"id":"reply-ack","name":"Telegram — Acknowledge","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1140,280],"credentials":{"telegramApi":{"id":"bekevyLkkiivHo0L","name":"Telegram Bot"}},"webhookId":"de6915e2-f608-455b-8e43-25b7f61b657f"}],"connections":{"Telegram Trigger — Feedback":{"main":[[{"node":"Code — Parse Rating","type":"main","index":0}]]},"Code — Parse Rating":{"main":[[{"node":"Is Feedback?","type":"main","index":0}]]},"Is Feedback?":{"main":[[{"node":"Postgres — Save Feedback","type":"main","index":0},{"node":"L7 — Audit FEEDBACK_RECEIVED","type":"main","index":0}],[]]},"Postgres — Save Feedback":{"main":[[{"node":"Telegram — Acknowledge","type":"main","index":0}]]},"L7 — Audit FEEDBACK_RECEIVED":{"main":[[{"node":"Telegram — Acknowledge","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"7a5ad80a-b762-4809-8da1-997e9fb2a547","activeVersionId":"7a5ad80a-b762-4809-8da1-997e9fb2a547","versionCounter":2,"triggerCount":1,"shared":[{"updatedAt":"2026-05-31T03:17:53.307Z","createdAt":"2026-05-31T03:17:53.307Z","role":"workflow:owner","workflowId":"uJVllR5FRNkYkwzS","projectId":"zcgfC5I8AUAr3U8J","project":{"updatedAt":"2026-05-30T20:55:56.474Z","createdAt":"2026-05-30T20:51:13.491Z","id":"zcgfC5I8AUAr3U8J","name":"Jeff COPREM <jooshdathumlong@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"12a7009a-8941-44c5-ba2c-39b02509ad3c"}}],"tags":[],"activeVersion":{"updatedAt":"2026-05-31T08:09:36.861Z","createdAt":"2026-05-31T08:09:36.861Z","versionId":"7a5ad80a-b762-4809-8da1-997e9fb2a547","workflowId":"uJVllR5FRNkYkwzS","nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"id":"tg-trigger-fb","name":"Telegram Trigger — Feedback","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[240,300],"credentials":{"telegramApi":{"id":"bekevyLkkiivHo0L","name":"Telegram Bot"}},"webhookId":"5f031b75-5666-43f4-bfe8-e130feb53562"},{"parameters":{"jsCode":"const msg = $json.message?.text || '';\nconst userId = $json.message?.from?.id;\n\n// Match /rate N or ⭐ count (1-5)\nconst rateMatch = msg.match(/\\/rate\\s+([1-5])/i) || msg.match(/(⭐{1,5})/);\nif (!rateMatch) return null; // not a feedback message\n\nlet score;\nif (rateMatch[1] && /^[1-5]$/.test(rateMatch[1])) {\n  score = parseInt(rateMatch[1]);\n} else if (rateMatch[1]) {\n  score = rateMatch[1].length; // count stars\n}\n\nconst flagged = score < 3;\nreturn {\n  score,\n  flagged,\n  user_id: userId,\n  raw_message: msg,\n  is_feedback: true\n};"},"id":"parse-rating","name":"Code — Parse Rating","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"is-feedback","leftValue":"={{ $json.is_feedback }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"}},"id":"check-is-feedback","name":"Is Feedback?","type":"n8n-nodes-base.if","typeVersion":2,"position":[680,300]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO task_board (pillar, task_desc, assigned_agent, status, feedback_score, created_at)\nVALUES ('FEEDBACK', 'User rating: {{ $json.score }}/5', 'jeff', CASE WHEN {{ $json.flagged }} THEN 'flagged' ELSE 'ok' END, {{ $json.score }}, NOW())\nRETURNING id, feedback_score, status;"},"id":"save-feedback","name":"Postgres — Save Feedback","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[900,200],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO audit_log (event_type, source, payload, timestamp)\nVALUES ('FEEDBACK_RECEIVED', 'telegram', '{\"score\": {{ $('Code — Parse Rating').item.json.score }}, \"flagged\": {{ $('Code — Parse Rating').item.json.flagged }}}'::jsonb, NOW());"},"id":"audit-feedback","name":"L7 — Audit FEEDBACK_RECEIVED","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[900,360],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger — Feedback').item.json.message.chat.id }}","text":"={{ $('Code — Parse Rating').item.json.flagged ? '⚠️ Noted — score ' + $('Code — Parse Rating').item.json.score + '/5 flagged for review.' : '✅ Thanks! Score ' + $('Code — Parse Rating').item.json.score + '/5 recorded.' }}","additionalFields":{}},"id":"reply-ack","name":"Telegram — Acknowledge","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1140,280],"credentials":{"telegramApi":{"id":"bekevyLkkiivHo0L","name":"Telegram Bot"}},"webhookId":"de6915e2-f608-455b-8e43-25b7f61b657f"}],"connections":{"Telegram Trigger — Feedback":{"main":[[{"node":"Code — Parse Rating","type":"main","index":0}]]},"Code — Parse Rating":{"main":[[{"node":"Is Feedback?","type":"main","index":0}]]},"Is Feedback?":{"main":[[{"node":"Postgres — Save Feedback","type":"main","index":0},{"node":"L7 — Audit FEEDBACK_RECEIVED","type":"main","index":0}],[]]},"Postgres — Save Feedback":{"main":[[{"node":"Telegram — Acknowledge","type":"main","index":0}]]},"L7 — Audit FEEDBACK_RECEIVED":{"main":[[{"node":"Telegram — Acknowledge","type":"main","index":0}]]}},"authors":"Jeff COPREM","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-05-31T08:09:49.956Z","id":35,"workflowId":"uJVllR5FRNkYkwzS","versionId":"7a5ad80a-b762-4809-8da1-997e9fb2a547","event":"deactivated","userId":"12a7009a-8941-44c5-ba2c-39b02509ad3c"},{"createdAt":"2026-05-31T08:09:56.127Z","id":36,"workflowId":"uJVllR5FRNkYkwzS","versionId":"7a5ad80a-b762-4809-8da1-997e9fb2a547","event":"activated","userId":"12a7009a-8941-44c5-ba2c-39b02509ad3c"},{"createdAt":"2026-05-31T08:12:23.434Z","id":37,"workflowId":"uJVllR5FRNkYkwzS","versionId":"7a5ad80a-b762-4809-8da1-997e9fb2a547","event":"deactivated","userId":"12a7009a-8941-44c5-ba2c-39b02509ad3c"},{"createdAt":"2026-05-31T08:12:31.108Z","id":38,"workflowId":"uJVllR5FRNkYkwzS","versionId":"7a5ad80a-b762-4809-8da1-997e9fb2a547","event":"activated","userId":"12a7009a-8941-44c5-ba2c-39b02509ad3c"},{"createdAt":"2026-05-31T08:15:45.894Z","id":46,"workflowId":"uJVllR5FRNkYkwzS","versionId":"7a5ad80a-b762-4809-8da1-997e9fb2a547","event":"deactivated","userId":"12a7009a-8941-44c5-ba2c-39b02509ad3c"},{"createdAt":"2026-05-31T15:17:08.613Z","id":55,"workflowId":"uJVllR5FRNkYkwzS","versionId":"7a5ad80a-b762-4809-8da1-997e9fb2a547","event":"activated","userId":"12a7009a-8941-44c5-ba2c-39b02509ad3c"}]}}