03-system/workflows/exports/WF08 — Self-Optimization Loop.json
{"updatedAt":"2026-05-31T08:09:36.779Z","createdAt":"2026-05-31T03:17:54.720Z","id":"NktiCpwAjT7wrGkj","name":"WF08 — Self-Optimization Loop","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 22 * * 0"}]}},"id":"cron-wf08","name":"Cron Sunday 22:00","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[240,300]},{"parameters":{"operation":"executeQuery","query":"SELECT\n  assigned_agent,\n  COUNT(*) as flagged_count,\n  ROUND(AVG(feedback_score),2) as avg_score,\n  MIN(feedback_score) as min_score\nFROM task_board\nWHERE status = 'flagged'\n  AND created_at > NOW() - INTERVAL '7 days'\nGROUP BY assigned_agent\nORDER BY avg_score ASC;"},"id":"query-flagged","name":"Query — Flagged Outputs","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[460,300],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}}},{"parameters":{"jsCode":"const rows = $input.all();\nif (rows.length === 0 || !rows[0].json.assigned_agent) {\n  return { has_issues: false, report: 'No flagged outputs this week. All agents performing well.' };\n}\n\nconst summary = rows.map(r =>\n  `• ${r.json.assigned_agent}: ${r.json.flagged_count} flagged, avg score ${r.json.avg_score}/5`\n).join('\\n');\n\nreturn {\n  has_issues: true,\n  agents_with_issues: rows.map(r => r.json.assigned_agent),\n  report: summary,\n  flagged_data: rows.map(r => r.json)\n};"},"id":"analyze-flags","name":"Code — Analyze Flags","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,300]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO audit_log (event_type, source, payload, timestamp)\nVALUES ('PROMPT_PROMOTED', 'WF08', '{{ JSON.stringify({has_issues: $json.has_issues, summary: $json.report.substring(0,300)}) }}'::jsonb, NOW());"},"id":"audit-wf08","name":"L7 — Audit WF08 Run","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[900,300],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}}},{"parameters":{"chatId":"7731591925","text":"=🔁 *WF08 Weekly Self-Optimization*\n\n{{ $('Code — Analyze Flags').item.json.has_issues ? '⚠️ Issues found:\\n' + $('Code — Analyze Flags').item.json.report + '\\n\\nReview flagged outputs and update Dify prompts manually.' : '✅ ' + $('Code — Analyze Flags').item.json.report }}","additionalFields":{"parse_mode":"Markdown"}},"id":"notify-wf08","name":"Telegram — Weekly Report","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1140,300],"credentials":{"telegramApi":{"id":"bekevyLkkiivHo0L","name":"Telegram Bot"}},"webhookId":"80645029-9d83-4543-9382-ff980861c3df"}],"connections":{"Cron Sunday 22:00":{"main":[[{"node":"Query — Flagged Outputs","type":"main","index":0}]]},"Query — Flagged Outputs":{"main":[[{"node":"Code — Analyze Flags","type":"main","index":0}]]},"Code — Analyze Flags":{"main":[[{"node":"L7 — Audit WF08 Run","type":"main","index":0}]]},"L7 — Audit WF08 Run":{"main":[[{"node":"Telegram — Weekly Report","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Cron Sunday 22:00":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"2cfaa572-0805-478b-8682-44a5c5abed19","activeVersionId":"2cfaa572-0805-478b-8682-44a5c5abed19","versionCounter":2,"triggerCount":1,"shared":[{"updatedAt":"2026-05-31T03:17:54.720Z","createdAt":"2026-05-31T03:17:54.720Z","role":"workflow:owner","workflowId":"NktiCpwAjT7wrGkj","projectId":"zcgfC5I8AUAr3U8J","project":{"updatedAt":"2026-05-30T20:55:56.474Z","createdAt":"2026-05-30T20:51:13.491Z","id":"zcgfC5I8AUAr3U8J","name":"Jeff COPREM <jooshdathumlong@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"12a7009a-8941-44c5-ba2c-39b02509ad3c"}}],"tags":[],"activeVersion":{"updatedAt":"2026-05-31T08:09:36.781Z","createdAt":"2026-05-31T08:09:36.781Z","versionId":"2cfaa572-0805-478b-8682-44a5c5abed19","workflowId":"NktiCpwAjT7wrGkj","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 22 * * 0"}]}},"id":"cron-wf08","name":"Cron Sunday 22:00","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[240,300]},{"parameters":{"operation":"executeQuery","query":"SELECT\n  assigned_agent,\n  COUNT(*) as flagged_count,\n  ROUND(AVG(feedback_score),2) as avg_score,\n  MIN(feedback_score) as min_score\nFROM task_board\nWHERE status = 'flagged'\n  AND created_at > NOW() - INTERVAL '7 days'\nGROUP BY assigned_agent\nORDER BY avg_score ASC;"},"id":"query-flagged","name":"Query — Flagged Outputs","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[460,300],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}}},{"parameters":{"jsCode":"const rows = $input.all();\nif (rows.length === 0 || !rows[0].json.assigned_agent) {\n  return { has_issues: false, report: 'No flagged outputs this week. All agents performing well.' };\n}\n\nconst summary = rows.map(r =>\n  `• ${r.json.assigned_agent}: ${r.json.flagged_count} flagged, avg score ${r.json.avg_score}/5`\n).join('\\n');\n\nreturn {\n  has_issues: true,\n  agents_with_issues: rows.map(r => r.json.assigned_agent),\n  report: summary,\n  flagged_data: rows.map(r => r.json)\n};"},"id":"analyze-flags","name":"Code — Analyze Flags","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,300]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO audit_log (event_type, source, payload, timestamp)\nVALUES ('PROMPT_PROMOTED', 'WF08', '{{ JSON.stringify({has_issues: $json.has_issues, summary: $json.report.substring(0,300)}) }}'::jsonb, NOW());"},"id":"audit-wf08","name":"L7 — Audit WF08 Run","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[900,300],"credentials":{"postgres":{"id":"rdxzBrj9putuOkku","name":"Postgres coprem_os"}}},{"parameters":{"chatId":"7731591925","text":"=🔁 *WF08 Weekly Self-Optimization*\n\n{{ $('Code — Analyze Flags').item.json.has_issues ? '⚠️ Issues found:\\n' + $('Code — Analyze Flags').item.json.report + '\\n\\nReview flagged outputs and update Dify prompts manually.' : '✅ ' + $('Code — Analyze Flags').item.json.report }}","additionalFields":{"parse_mode":"Markdown"}},"id":"notify-wf08","name":"Telegram — Weekly Report","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1140,300],"credentials":{"telegramApi":{"id":"bekevyLkkiivHo0L","name":"Telegram Bot"}},"webhookId":"80645029-9d83-4543-9382-ff980861c3df"}],"connections":{"Cron Sunday 22:00":{"main":[[{"node":"Query — Flagged Outputs","type":"main","index":0}]]},"Query — Flagged Outputs":{"main":[[{"node":"Code — Analyze Flags","type":"main","index":0}]]},"Code — Analyze Flags":{"main":[[{"node":"L7 — Audit WF08 Run","type":"main","index":0}]]},"L7 — Audit WF08 Run":{"main":[[{"node":"Telegram — Weekly Report","type":"main","index":0}]]}},"authors":"Jeff COPREM","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-05-31T08:09:36.813Z","id":33,"workflowId":"NktiCpwAjT7wrGkj","versionId":"2cfaa572-0805-478b-8682-44a5c5abed19","event":"deactivated","userId":"12a7009a-8941-44c5-ba2c-39b02509ad3c"},{"createdAt":"2026-05-31T08:09:36.827Z","id":34,"workflowId":"NktiCpwAjT7wrGkj","versionId":"2cfaa572-0805-478b-8682-44a5c5abed19","event":"activated","userId":"12a7009a-8941-44c5-ba2c-39b02509ad3c"}]}}