03-system/workflows/exports/WF11 — DLQ Processor.json
{"updatedAt":"2026-05-31T01:25:26.260Z","createdAt":"2026-05-31T01:25:26.260Z","id":"6ZnSJ4l9TqtKhJ0H","name":"WF11 — DLQ Processor","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":4}]}},"id":"c5aa94ae-b8ae-4d69-8a41-e344eadd2737","name":"Every 4h","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM failed_tasks_db WHERE retry_count < 3 AND status='pending' ORDER BY created_at ASC LIMIT 20;"},"id":"f135a7ff-7017-4195-b443-749dcd8cda73","name":"Pull Failed Tasks","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[240,0],"credentials":{"postgres":{"id":"226PbeVgki0neEi4","name":"Postgres COPREM"}}},{"parameters":{"conditions":{"number":[{"value1":"={{ $items().length }}","operation":"larger","value2":0}]}},"id":"ff61296c-28cb-4601-93a8-7782995bd598","name":"Any Failed?","type":"n8n-nodes-base.if","typeVersion":2,"position":[480,0]},{"parameters":{"method":"POST","url":"https://api.dify.ai/v1/chat-messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.DIFY_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"inputs","value":"={}"},{"name":"query","value":"=[reduced_mode] {{ $json.task_id }}: {{ $json.error_message }}"},{"name":"response_mode","value":"blocking"},{"name":"user","value":"wf11-dlq"}]}},"id":"da5f0d42-711e-4739-9fc6-5b29adba5636","name":"Retry via Dify (reduced)","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[720,100]},{"parameters":{"operation":"executeQuery","query":"UPDATE failed_tasks_db SET status='resolved', last_retry_at=NOW() WHERE id={{ $('Pull Failed Tasks').item.json.id }};"},"id":"53f2d371-442f-494e-b503-5ba03aecf22b","name":"Mark Resolved","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[960,0],"credentials":{"postgres":{"id":"226PbeVgki0neEi4","name":"Postgres COPREM"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE failed_tasks_db SET retry_count=retry_count+1, last_retry_at=NOW() WHERE id={{ $('Pull Failed Tasks').item.json.id }} RETURNING id, retry_count;"},"id":"1ae8047b-b247-4228-9948-9633c6aa848f","name":"Increment Retry","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[960,200],"credentials":{"postgres":{"id":"226PbeVgki0neEi4","name":"Postgres COPREM"}}},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.retry_count }}","operation":"largerEqual","value2":3}]}},"id":"f5c2576d-b53a-47aa-b86a-951c856508cf","name":"Move to Quarantine?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1200,200]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO quarantine_db (task_id, agent, raw_output, failure_reason) VALUES ('{{ $('Pull Failed Tasks').item.json.task_id }}', 'WF11', '', 'Max retries reached: {{ $('Pull Failed Tasks').item.json.error_message }}'); UPDATE failed_tasks_db SET status='quarantined' WHERE id={{ $('Pull Failed Tasks').item.json.id }};"},"id":"c7528ade-1675-4eb1-8d28-e97986d4dead","name":"Insert Quarantine","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1440,200],"credentials":{"postgres":{"id":"226PbeVgki0neEi4","name":"Postgres COPREM"}}},{"parameters":{"operation":"executeQuery","query":"SELECT COUNT(*) as total FROM quarantine_db WHERE resolved=false;"},"id":"6b24dd0d-bbc3-4cea-b9bb-8bff2e3942f2","name":"Check Quarantine Size","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1680,200],"credentials":{"postgres":{"id":"226PbeVgki0neEi4","name":"Postgres COPREM"}}},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.total }}","operation":"largerEqual","value2":20}]}},"id":"fb76baf4-8cb8-40d0-8c49-f200fe2fe89a","name":"Killswitch Threshold?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1920,200]},{"parameters":{"chatId":"={{ $env.TELEGRAM_CHAT_ID }}","text":"=⚠️ WF11 DLQ: Task {{ $('Pull Failed Tasks').item.json.task_id }} moved to Quarantine.\nRetries: 3/3\nError: {{ $('Pull Failed Tasks').item.json.error_message }}"},"id":"d317be23-44b4-4112-8c8c-c28e928f9865","name":"Alert Quarantine","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[2160,100],"credentials":{"telegramApi":{"id":"bekevyLkkiivHo0L","name":"Telegram Bot"}},"webhookId":"4f1f65b1-d86b-4ff0-bee9-44622d018fb4"},{"parameters":{"chatId":"={{ $env.TELEGRAM_CHAT_ID }}","text":"=🚨 KILLSWITCH WARNING: Quarantine DB has {{ $json.total }} unresolved items (threshold: 20).\nImmediate review required. Run: coprem.killswitch()"},"id":"ac9f5dd1-1750-4e32-9a06-8ba897328baf","name":"Killswitch Warning","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[2160,300],"credentials":{"telegramApi":{"id":"bekevyLkkiivHo0L","name":"Telegram Bot"}},"webhookId":"6012de0b-16e1-4d52-94c2-448c986d5e5d"}],"connections":{"Every 4h":{"main":[[{"node":"Pull Failed Tasks","type":"main","index":0}]]},"Pull Failed Tasks":{"main":[[{"node":"Any Failed?","type":"main","index":0}]]},"Any Failed?":{"main":[[{"node":"Retry via Dify (reduced)","type":"main","index":0}],[]]},"Retry via Dify (reduced)":{"main":[[{"node":"Mark Resolved","type":"main","index":0}],[{"node":"Increment Retry","type":"main","index":0}]]},"Increment Retry":{"main":[[{"node":"Move to Quarantine?","type":"main","index":0}]]},"Move to Quarantine?":{"main":[[{"node":"Insert Quarantine","type":"main","index":0}],[]]},"Insert Quarantine":{"main":[[{"node":"Check Quarantine Size","type":"main","index":0}]]},"Check Quarantine Size":{"main":[[{"node":"Killswitch Threshold?","type":"main","index":0}]]},"Killswitch Threshold?":{"main":[[{"node":"Killswitch Warning","type":"main","index":0}],[{"node":"Alert Quarantine","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Every 4h":{"recurrenceRules":[11]}},"meta":null,"pinData":null,"versionId":"02f1f42d-4a61-4829-aa04-352789d47c9f","activeVersionId":"02f1f42d-4a61-4829-aa04-352789d47c9f","versionCounter":1,"triggerCount":1,"shared":[{"updatedAt":"2026-05-31T01:25:26.260Z","createdAt":"2026-05-31T01:25:26.260Z","role":"workflow:owner","workflowId":"6ZnSJ4l9TqtKhJ0H","projectId":"zcgfC5I8AUAr3U8J","project":{"updatedAt":"2026-05-30T20:55:56.474Z","createdAt":"2026-05-30T20:51:13.491Z","id":"zcgfC5I8AUAr3U8J","name":"Jeff COPREM <jooshdathumlong@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"12a7009a-8941-44c5-ba2c-39b02509ad3c"}}],"tags":[],"activeVersion":{"updatedAt":"2026-05-31T01:25:26.260Z","createdAt":"2026-05-31T01:25:26.260Z","versionId":"02f1f42d-4a61-4829-aa04-352789d47c9f","workflowId":"6ZnSJ4l9TqtKhJ0H","nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":4}]}},"id":"c5aa94ae-b8ae-4d69-8a41-e344eadd2737","name":"Every 4h","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM failed_tasks_db WHERE retry_count < 3 AND status='pending' ORDER BY created_at ASC LIMIT 20;"},"id":"f135a7ff-7017-4195-b443-749dcd8cda73","name":"Pull Failed Tasks","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[240,0],"credentials":{"postgres":{"id":"226PbeVgki0neEi4","name":"Postgres COPREM"}}},{"parameters":{"conditions":{"number":[{"value1":"={{ $items().length }}","operation":"larger","value2":0}]}},"id":"ff61296c-28cb-4601-93a8-7782995bd598","name":"Any Failed?","type":"n8n-nodes-base.if","typeVersion":2,"position":[480,0]},{"parameters":{"method":"POST","url":"https://api.dify.ai/v1/chat-messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.DIFY_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"inputs","value":"={}"},{"name":"query","value":"=[reduced_mode] {{ $json.task_id }}: {{ $json.error_message }}"},{"name":"response_mode","value":"blocking"},{"name":"user","value":"wf11-dlq"}]}},"id":"da5f0d42-711e-4739-9fc6-5b29adba5636","name":"Retry via Dify (reduced)","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[720,100]},{"parameters":{"operation":"executeQuery","query":"UPDATE failed_tasks_db SET status='resolved', last_retry_at=NOW() WHERE id={{ $('Pull Failed Tasks').item.json.id }};"},"id":"53f2d371-442f-494e-b503-5ba03aecf22b","name":"Mark Resolved","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[960,0],"credentials":{"postgres":{"id":"226PbeVgki0neEi4","name":"Postgres COPREM"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE failed_tasks_db SET retry_count=retry_count+1, last_retry_at=NOW() WHERE id={{ $('Pull Failed Tasks').item.json.id }} RETURNING id, retry_count;"},"id":"1ae8047b-b247-4228-9948-9633c6aa848f","name":"Increment Retry","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[960,200],"credentials":{"postgres":{"id":"226PbeVgki0neEi4","name":"Postgres COPREM"}}},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.retry_count }}","operation":"largerEqual","value2":3}]}},"id":"f5c2576d-b53a-47aa-b86a-951c856508cf","name":"Move to Quarantine?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1200,200]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO quarantine_db (task_id, agent, raw_output, failure_reason) VALUES ('{{ $('Pull Failed Tasks').item.json.task_id }}', 'WF11', '', 'Max retries reached: {{ $('Pull Failed Tasks').item.json.error_message }}'); UPDATE failed_tasks_db SET status='quarantined' WHERE id={{ $('Pull Failed Tasks').item.json.id }};"},"id":"c7528ade-1675-4eb1-8d28-e97986d4dead","name":"Insert Quarantine","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1440,200],"credentials":{"postgres":{"id":"226PbeVgki0neEi4","name":"Postgres COPREM"}}},{"parameters":{"operation":"executeQuery","query":"SELECT COUNT(*) as total FROM quarantine_db WHERE resolved=false;"},"id":"6b24dd0d-bbc3-4cea-b9bb-8bff2e3942f2","name":"Check Quarantine Size","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1680,200],"credentials":{"postgres":{"id":"226PbeVgki0neEi4","name":"Postgres COPREM"}}},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.total }}","operation":"largerEqual","value2":20}]}},"id":"fb76baf4-8cb8-40d0-8c49-f200fe2fe89a","name":"Killswitch Threshold?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1920,200]},{"parameters":{"chatId":"={{ $env.TELEGRAM_CHAT_ID }}","text":"=⚠️ WF11 DLQ: Task {{ $('Pull Failed Tasks').item.json.task_id }} moved to Quarantine.\nRetries: 3/3\nError: {{ $('Pull Failed Tasks').item.json.error_message }}"},"id":"d317be23-44b4-4112-8c8c-c28e928f9865","name":"Alert Quarantine","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[2160,100],"credentials":{"telegramApi":{"id":"bekevyLkkiivHo0L","name":"Telegram Bot"}},"webhookId":"4f1f65b1-d86b-4ff0-bee9-44622d018fb4"},{"parameters":{"chatId":"={{ $env.TELEGRAM_CHAT_ID }}","text":"=🚨 KILLSWITCH WARNING: Quarantine DB has {{ $json.total }} unresolved items (threshold: 20).\nImmediate review required. Run: coprem.killswitch()"},"id":"ac9f5dd1-1750-4e32-9a06-8ba897328baf","name":"Killswitch Warning","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[2160,300],"credentials":{"telegramApi":{"id":"bekevyLkkiivHo0L","name":"Telegram Bot"}},"webhookId":"6012de0b-16e1-4d52-94c2-448c986d5e5d"}],"connections":{"Every 4h":{"main":[[{"node":"Pull Failed Tasks","type":"main","index":0}]]},"Pull Failed Tasks":{"main":[[{"node":"Any Failed?","type":"main","index":0}]]},"Any Failed?":{"main":[[{"node":"Retry via Dify (reduced)","type":"main","index":0}],[]]},"Retry via Dify (reduced)":{"main":[[{"node":"Mark Resolved","type":"main","index":0}],[{"node":"Increment Retry","type":"main","index":0}]]},"Increment Retry":{"main":[[{"node":"Move to Quarantine?","type":"main","index":0}]]},"Move to Quarantine?":{"main":[[{"node":"Insert Quarantine","type":"main","index":0}],[]]},"Insert Quarantine":{"main":[[{"node":"Check Quarantine Size","type":"main","index":0}]]},"Check Quarantine Size":{"main":[[{"node":"Killswitch Threshold?","type":"main","index":0}]]},"Killswitch Threshold?":{"main":[[{"node":"Killswitch Warning","type":"main","index":0}],[{"node":"Alert Quarantine","type":"main","index":0}]]}},"authors":"Jeff COPREM","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-05-31T01:28:48.765Z","id":6,"workflowId":"6ZnSJ4l9TqtKhJ0H","versionId":"02f1f42d-4a61-4829-aa04-352789d47c9f","event":"activated","userId":"12a7009a-8941-44c5-ba2c-39b02509ad3c"}]}}